<!-- BEGIN: box_manage -->
<form action="{data.link_action}" method="post" name="manage" id="manage"> 
<table id="table_list"  class="table table-striped" >
 	{data.list}
</table>
<input type="hidden" name="do_action" id="do_action" value="" >
</form>
<!-- END: box_manage --> 