<!-- BEGIN: box_right -->
{data.logo_righttop}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="279" valign="top">
    {data.box_map}
    {data.box_promotion}
    {data.box_video}
    {data.box_tools}
    {data.box_poll}
    {data.logo_left}
    {data.box_gallery}
    </td>
    <td valign="top" style="padding-left:10px;">
    {data.box_support}
    {data.box_wishlist}
    {data.logo_right}    
    {data.box_maillist}
    </td>
  </tr>
</table>

<!-- END: box_right -->