


    .wrapCont{
        margin-bottom: 0;
    }




/******************************* #vnt-banner ****************************************/
    .vnt-banner{
        margin-bottom: 40px;
    }
    #vnt-banner{

    }

    #vnt-banner .item .i-desc{
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        pointer-events: none;
    }
    #vnt-banner .item .i-desc .wrap_desc{
        width: 370px;
        height: 370px;
        border-radius: 100%;
        padding: 80px 40px 30px;
        text-align: center;
        background: rgba(0, 0, 0, .5);
    }
    #vnt-banner .item .i-desc .i-title h2{
        padding: 0;
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    #vnt-banner .item .i-desc .i-content{
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 35px;
        font-family: 'Tinos', serif;
    }
    #vnt-banner .item .i-desc .i-link a{
        font-size: 13px;
        line-height: 25px;
        color: #ffffff;
        border-bottom: 1px solid #fff;
        display: inline-block;
        font-weight: 400;
        pointer-events: auto;
    }
    #vnt-banner .item .i-desc .animate_1{
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        position: relative;
    }
    #vnt-banner.active .item.slick-current .i-desc .animate_1{
        opacity: 1;
        -webkit-transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    #vnt-banner .item .i-desc .animate_2{
        opacity: 0;
        -webkit-transform: translate(-100px, 0);
        -moz-transform: translate(-100px, 0);
        -ms-transform: translate(-100px, 0);
        -o-transform: translate(-100px, 0);
        transform: translate(-100px, 0);
        -webkit-transition: all 0.8s ease 0.3s;
        -moz-transition: all 0.8s ease 0.3s;
        -o-transition: all 0.8s ease 0.3s;
        transition: all 0.8s ease 0.3s;
    }
    #vnt-banner.active .item.slick-current .i-desc .animate_2{
        opacity: 1;
        -webkit-transition-delay: 1.3s;
        -moz-transition-delay: 1.3s;
        -o-transition-delay: 1.3s;
        transition-delay: 1.3s;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    #vnt-banner .slick-arrow{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #ffffff;
    }
    #vnt-banner .slick-arrow:after{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 23px;
        height: 40px;
        z-index: 2;
    }
    #vnt-banner .slick-prev:after{
        content: '';
        background: url('../images/main/arrowL.png') no-repeat;
    }
    #vnt-banner .slick-next:after{
        content: '';
        background: url('../images/main/arrowR.png') no-repeat;
    }
    #vnt-banner .slick-prev{
        left: 30px;
    }
    #vnt-banner .slick-next{
        right: 30px;
    }
    #vnt-banner .item .i-img a{
        position: relative;
        display: block;
    }
    #vnt-banner .item .i-img img{
        width: 100%;
    }
    #vnt-banner .slick-dots{
        bottom: 20px;
        text-align: center;
        display: block !important;
    }
    #vnt-banner .slick-dots li {
        width: 8px;
        height: 8px;
    }
    #vnt-banner .slick-dots li button{
        width: 8px;
        height: 8px;
        position: relative;
    }
    #vnt-banner .slick-dots li button:before{
        content: '';
        border-radius: 100%;
        background: transparent;
        border: 0 !important;
        width: 8px;
        background: #fff;
        height: 8px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    #vnt-banner .slick-dots li.slick-active button:before{
        opacity: 1;
        background: #000;
    }

/****************************************************************************/
    .vnt-about{
        text-align: center;
        margin-bottom: 35px;
        padding-bottom: 40px;
        border-bottom: 1px #e5e5e5 solid;
    }
    .vnt-about .title{
        font-size: 40px;
        color: #333333;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Tinos', serif;
        margin-bottom: 10px;
    }
    .vnt-about .content{
        max-width: 850px;
        margin: 0 auto;
        font-size: 15px;
        color: #666666;
        line-height: 25px;
        font-weight: 400;
    }

/****************************************************************************/
    .vnt-product{
        margin-bottom: 50px;
    }
    .vnt-product .title{
        font-size: 40px;
        line-height: 50px;
        color: #000000;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }

    .slide_product .slick-list{
        margin: 0 -8px;
    }
    .slide_product .item{
        padding: 5px 8px;
    }
    .slide_product .slick-arrow{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #f2f2f2;
    }
    .slide_product .slick-arrow:hover{
        background: #497939;
    }
    .slide_product .slick-arrow:after{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: fontAwesome;
        font-size: 30px;
        z-index: 2;
        color: #333;
    }
    .slide_product .slick-arrow:hover:after{
        color: #fff;
    }
    .slide_product .slick-prev:after{
        content: '\f104';
        top: 48%;
        left: 48%;
    }
    .slide_product .slick-next:after{
        content: '\f105';
        top: 48%;
        left: 52%;
    }
    .slide_product .slick-prev{
        left: -70px;
    }
    .slide_product .slick-next{
        right: -70px;
    }


    /********************************************/
    .vnt-intro{

    }
    .vnt-intro .row_intro{
        position: relative;
        background: #f2f2f2;
        margin-bottom: 30px;
    }
    .vnt-intro .row_intro .img{
        width: 38%;
        float: left;
    }
    .vnt-intro .row_intro .img a{
        display: block;
        padding-top: 60%;
        position: relative;
    }
    .vnt-intro .row_intro .img a:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
    .vnt-intro .row_intro .img:hover a:after{
        opacity: 1;
    }
    .vnt-intro .row_intro .img a img{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .vnt-intro .row_intro .i-desc{
        position: absolute;
        width: 62%;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px 40px;
    }
    .vnt-intro .row_intro .i-desc .i-title h3 a{
        display: block;
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Tinos', serif;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 14px;
        padding-bottom: 12px;
    }
    .vnt-intro .row_intro .i-desc .i-title h3 a:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 76px;
        height: 2px;
        background: #74685a;
    }
    .vnt-intro .row_intro .i-desc .content{
        font-size: 14px;
        line-height: 25px;
        color: #333333;
        height: 50px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .vnt-intro .row_intro .i-desc .wrap_intro .i-img{
        padding-top: 62.5%;
        position: relative;
        overflow: hidden;
        border: 1px solid #d9d9d9;
    }
    .vnt-intro .row_intro .i-desc .wrap_intro .i-img img{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -moz-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -o-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
    }
    .vnt-intro .row_intro .i-desc .wrap_intro:hover .i-img img{
        -webkit-transform: translate(-50%,-50%) scale(1.04);
        -moz-transform: translate(-50%,-50%) scale(1.04);
        -o-transform: translate(-50%,-50%) scale(1.04);
        -ms-transform: translate(-50%,-50%) scale(1.04);
        transform: translate(-50%,-50%) scale(1.04);
    }
    .vnt-intro .row_intro .i-desc .wrap_intro .i-img span{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 35px;
        font-weight: 400;
        height: 35px;
        text-transform: uppercase;
        background: rgba(255, 255, 255, .9);
    }
    .slide_intro .slick-list{
        margin: 0 -7px;
    }
    .slide_intro .slick-list .item{
        padding: 0 7px;
    }
/**************************************************************************/
    .vnt-trademark{
        background: #f2f2f2;
        padding: 35px 0 50px;
    }
    .vnt-trademark .title{
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Tinos', serif;
        margin-bottom: 20px;
    }
    .slide_trademark .slick-list{
        margin: 0 -9px;
    }
    .slide_trademark .slick-list .item{
        padding: 0 9px;
    }
    .slide_trademark .img{
        padding-top: 66.667%;
        position: relative;
        overflow: hidden;
        border: 1px solid #d9d9d9;
    }
    .slide_trademark .img img{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .slide_trademark .slick-arrow{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .slide_trademark .slick-arrow:after{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: fontAwesome;
        font-size: 35px;
        z-index: 2;
        color: #333;
    }
    .slide_trademark .slick-arrow:hover:after{
        color: #497939;
    }
    .slide_trademark .slick-prev:after{
        content: '\f104';
    }
    .slide_trademark .slick-next:after{
        content: '\f105';
    }
    .slide_trademark .slick-prev{
        left: -40px;
    }
    .slide_trademark .slick-next{
        right: -40px;
    }

/*******************************************************/
    .vnt-feeling{
        padding-top: 55px;
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #e5e5e5;
    }
    .vnt-feeling .title{
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Tinos', serif;
        margin-bottom: 25px;
    }
    .vnt-feeling .vf-title h2{
        font-size: 38px;
        line-height: 45px;
        font-weight: normal;
    }

    .slider_feeling{
        max-width: 930px;
        margin: 0 auto;
    }
    #feeling_img{
        padding: 0 80px;
        margin-bottom: 15px;
    }
    #feeling_img .item .i-bg{
        max-width: 170px;
        position: relative;
        margin: 0 auto;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -o-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #feeling_img .item.slick-center .i-bg{
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    #feeling_img .item .i-bg:after{
        position: absolute;
        content: '';
        right: -20px;
        bottom: 0;
        background: url("../images/main/bg-img.png") no-repeat;
        opacity: 0;
        width: 75px;
        height: 43px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        z-index: 10;
    }
    #feeling_img .item.slick-center .i-bg:after{
        opacity: 1;
    }
    #feeling_img .item .i-img{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 100%;
        padding-top: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        margin: 0 auto;
    }
    #feeling_img .item .i-img img{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #feeling_img .slick-arrow{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #f2f2f2;
    }
    #feeling_img .slick-arrow:hover{
        background: #497939;
    }
    #feeling_img .slick-arrow:after{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: fontAwesome;
        font-size: 30px;
        z-index: 2;
        color: #333;
    }
    #feeling_img .slick-arrow:hover:after{
        color: #fff;
    }
    #feeling_img .slick-prev:after{
        content: '\f104';
        top: 48%;
        left: 48%;
    }
    #feeling_img .slick-next:after{
        content: '\f105';
        top: 48%;
        left: 52%;
    }
    #feeling_img .slick-prev{
        left: 0px;
    }
    #feeling_img .slick-next{
        right: 0px;
    }
    #feeling_text{
        margin: 0 -20px;
    }
    #feeling_text .item{
        text-align: center;
    }
    #feeling_text .item .i-name strong{
        font-size: 20px;
        line-height: 30px;
        color: #578348;
        text-transform: uppercase;
        margin-bottom: 8px;
        display: block;
    }
    #feeling_text .item .i-job{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    #feeling_text .item .i-content{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 15px;
        height: 50px;
        font-style: italic;
        overflow: hidden;
    }
/**********************************************************/
    .vnt-news{
        margin-bottom: 60px;
    }
    .vnt-news .title{
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Tinos', serif;
        margin-bottom: 25px;
    }
    .vnt-news .gird_news {
        margin: 0 -5px 30px;
    }
    .vnt-news .gird_news .fl{
        width: 50%;
        padding: 0 5px;
    }
    .vnt-news .gird_news .fl .img{
        position: relative;
        padding-top: 66.55%;
        overflow: hidden;
    }
    .vnt-news .gird_news .fl .img img{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -moz-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -o-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
    }
    .vnt-news .gird_news .fl .img:hover img{
        -webkit-transform: translate(-50%,-50%) scale(1.04);
        -moz-transform: translate(-50%,-50%) scale(1.04);
        -o-transform: translate(-50%,-50%) scale(1.04);
        -ms-transform: translate(-50%,-50%) scale(1.04);
        transform: translate(-50%,-50%) scale(1.04);
    }
    .vnt-news .gird_news .fl .img .caption{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 13px 15px;
        background: rgba(0, 0, 0, .8);
        pointer-events: none;
    }
    .vnt-news .gird_news .fl .img .caption span{
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        display: block;
        margin-bottom: 3px;
    }
    .vnt-news .gird_news .fl .img .caption .date{
        font-size: 13px;
        line-height: 20px;
        color: #497939;
    }
    .vnt-news .gird_news .fr{
        width: 50%;
        padding: 0 5px;
    }
    .vnt-news .gird_news .fr .item{
        margin-bottom: 10px;
        background: #f6f3f6;
    }
    .vnt-news .gird_news .fr .item:last-child{
        margin-bottom: 0;
    }
    .vnt-news .gird_news .fr .item .img{
        width: 184px;
        float: left;
    }
    .vnt-news .gird_news .fr .item .img a{
        display: block;
        padding-top: 66.30%;
        overflow: hidden;
        position: relative;
    }
    .vnt-news .gird_news .fr .item .img a img{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -moz-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -o-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
    }
    .vnt-news .gird_news .fr .item:hover .img a img{
        -webkit-transform: translate(-50%,-50%) scale(1.04);
        -moz-transform: translate(-50%,-50%) scale(1.04);
        -o-transform: translate(-50%,-50%) scale(1.04);
        -ms-transform: translate(-50%,-50%) scale(1.04);
        transform: translate(-50%,-50%) scale(1.04);
    }
    .vnt-news .gird_news .fr .item .i-desc{
        overflow: hidden;
        padding: 20px 30px 20px 10px;
    }
    .vnt-news .gird_news .fr .item .i-desc .date{
        font-size: 13px;
        line-height: 20px;
        color: #497939;
        margin-bottom: 4px;
    }
    .vnt-news .gird_news .fr .item .i-desc .i-title h3 a{
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        color: #333;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .vnt-news .gird_news .fr .item:hover .i-desc .i-title h3 a{
        color: #578348;
    }

    .view_more{
        margin: 0 auto;
        text-align: center;
    }
    .view_more a{
        display: inline-block;
        width: 170px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        background: #497939;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .view_more a:hover{
        background: #000;
    }
    
/**************************************************************/
    .vnt-contact{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        position: relative;
        overflow: hidden;
        color: #ffffff;
    }
    .vnt-contact:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 1;
    }
    .vnt-contact .wrapper{
        position: relative;
        z-index: 2;
    }
    .vnt-contact .fl{
        width: 430px;
        padding: 60px 0 45px;
    }
    .vnt-contact .fl .logoContact{
        margin-bottom: 25px;
    }
    .vnt-contact .fl .row_contact{
        margin-bottom: 20px;
    }
    .vnt-contact .fl .row_contact .item{
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 20px;
        color: #fff;
    }
    .vnt-contact .fl .row_contact .item strong{
        display: inline-block;
        margin-right: 10px;
    }
    .vnt-contact .fl .viewMap a{
        display: block;
        max-width: 310px;
        line-height: 40px;
        height: 40px;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        border: 1px solid #fff;
        text-align: center;
        padding-left: 30px;
        position: relative;
        background: transparent;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .vnt-contact .fl .viewMap a:after{
        content: '';
        background: url('../images/main/icon_map.png') no-repeat;
        position: absolute;
        width: 22px;
        height: 22px;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .vnt-contact .fl .viewMap a:hover{
        background: #497939;
        border-color: #497939;
    }
    .vnt-contact .fr{
        padding: 60px 5px 45px 35px;
        border-left: 1px solid #3c6137;
        width: -webkit-calc(100% - 430px);
        width: -o-calc(100% - 430px);
        width: calc(100% - 430px);
    }
    .vnt-contact .fr .item{
        margin-bottom: 20px;
        padding-left: 25px;
    }
    .vnt-contact .fr .item strong{
        display: block;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 3px;
        color: #fff;
    }
    .vnt-contact .fr .item strong:after{
        content: '\f041';
        font-family: fontawesome;
        font-size: 16px;
        color: #fff;
        position: absolute;
        left: -25px;
        top: 0;
        line-height: 20px;
    }
    .vnt-contact .fr .item span{
        display: block;
        font-size: 13px;
        line-height: 20px;
        color: #fff;
    }
/********************************* reponsive *********************************/
/**********************************************/
    .vnt-news{
        margin-bottom: 50px;
    }
    .slide_news{
        margin-bottom: 40px;
    }
    .slide_news .slick-list{
        margin: 0 -15px;
    }
    .slide_news .slick-list .item{
        padding: 0 15px;
    }
    .slide_news .i-images{
        position: relative;
        padding-top: 68.6486%;
        overflow: hidden;
    }
    .slide_news .i-images img{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -moz-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -o-transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        transition: transform 0.5s cubic-bezier(0.44, 0.185, 0.575, 0.86);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .slide_news .item:hover .i-images img{
        -webkit-transform: translate(-50%,-50%) scale(1.04);
        -moz-transform: translate(-50%,-50%) scale(1.04);
        -o-transform: translate(-50%,-50%) scale(1.04);
        -ms-transform: translate(-50%,-50%) scale(1.04);
        transform: translate(-50%,-50%) scale(1.04);
    }
    .slide_news .item   .i-date {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        font-size: 13px;
        line-height: 20px;
        padding: 4px 10px 4px 30px;
        background: rgba(133,181,81,0.8);
        color: #fff;
    }
    .slide_news .item  .i-date:before {
        position: absolute;
        left: 10px;
        top: 5px;
        font-family: FontAwesome;
        content: '\f073';
        font-size: 13px;
        line-height: 20px;
    }
    .slide_news .item .i-desc{
        background: #f2f5f8;
        padding: 20px 15px;
    }
    .slide_news .item .i-desc .i-title h3 a{
        font-size: 20px;
        line-height: 28px;
        height: 56px;
        overflow: hidden;
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .slide_news .item:hover .i-desc .i-title h3 a{
        color: #8cc34b;
    }
    .slide_news .item .i-desc .i-content{
        font-size: 14px;
        line-height: 22px;
        height: 66px;
        overflow: hidden;
        color: #666;
    }
    .slide_news .wrap_news{
        position: relative;
        border-bottom: 5px solid #e0e0e0;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
    .slide_news .wrap_news:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        right: 100%;
        border-bottom: solid 5px #8cc34b;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .slide_news .item:hover .wrap_news:after{
        right: 0;
    }
    .vnt-news .viewAll a{
        margin: 0 auto;
    }

    @media screen and (max-width: 1300px){
        #vnt-banner .item .i-desc{
            bottom: 4%;
        }
        #vnt-banner .item .i-desc .wrap_desc{
            width: 340px;
            height: 340px;
        }
        /*************************/
        .vnt-intro .row_intro .i-desc{
            padding: 5px 40px;
        }
        .vnt-intro .row_intro .i-desc .i-title h3 a{
            margin-bottom: 5px;
            padding-bottom: 8px;
        }
        .vnt-intro .row_intro .i-desc .content{
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: 1110px){
        #vnt-banner .item .i-desc{
            bottom: 1%;
        }
        #vnt-banner .item .i-desc .wrap_desc{
            width: 330px;
            height: 330px;
        }
    }

    @media screen and (max-width: 1024px){
        #vnt-banner .item .i-desc{
            display: none;
        }
        /*****************/

        .vnt-about .title ,.vnt-product .title ,.vnt-feeling .title ,.vnt-news .title,.vnt-trademark .title{
            font-size: 30px;
            line-height: 40px;
        }
        .vnt-product{
            margin-bottom: 30px;
        }
        /*****************/
        .slide_trademark{
            padding-bottom: 60px;
        }
        .slide_trademark .slick-arrow {
            background: transparent;
            top: initial;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 5px;
        }
        .slide_trademark .slick-arrow:after {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin: 0;
            color: #333;
            font-size: 30px;
            font-family: fontAwesome;
            text-align: center;
        }
        .slide_trademark .slick-next:after {
            content: '\f105';
        }
        .slide_trademark .slick-prev:after {
            content: '\f104';
        }
        .slide_trademark .slick-next {
            margin-left: 24px;
        }
        .slide_trademark .slick-prev {
            margin-left: -24px;
        }
        .vnt-trademark{
            padding: 35px 0 20px;
        }
        /*******************/
        .vnt-feeling{
            padding-top: 35px;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }
        #feeling_img{
            padding: 0 70px;
        }
        #feeling_img .item .i-bg:after{
            right: -10px;
            background-size: 90%;
        }
        /******************/
        .vnt-news .gird_news{
            margin: 0 0 30px;
        }
        .vnt-news .gird_news .fl{
            width: 100%;
            float: none;
            padding: 0;
            margin-bottom: 10px;
        }
        .vnt-news .gird_news .fr{
            width: 100%;
            float: none;
            padding: 0;
        }
        .vnt-news .gird_news .fr .item .img{
            display: none;
        }
        .vnt-news .gird_news .fr .item .i-desc .i-title h3 a{
            height: initial;
        }
        /*****************/
        .vnt-contact .fl{
            width: 100%;
            padding: 100px 0;
        }
        .vnt-contact .fr{
            display: none;
        }
        .vnt-contact .fl .viewMap a{
            font-size: 12px;
        }
    }

    @media screen and (max-width: 991px){
        .vnt-intro .row_intro .img{
            width: 100%;
            float: none;
        }
        .vnt-intro .row_intro .i-desc{
            position: static;
            padding: 20px 15px;
            width: 100%;
        }
        .vnt-intro .row_intro{
            margin: 0 10px 30px;
        }
        .vnt-intro .row_intro .i-desc .i-title h3 a{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 14px;
            padding-bottom: 12px;
            white-space: initial;
            text-overflow: initial;
        }
        .vnt-intro .row_intro .i-desc .content{
            display: none;
        }
    }

    @media screen and (max-width: 768px){
        .slide_intro{
            padding-bottom: 60px;
        }
        .slide_intro .slick-arrow {
            background: transparent;
            top: initial;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 5px;
        }
        .slide_intro .slick-arrow:after {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin: 0;
            color: #333;
            font-size: 30px;
            font-family: fontAwesome;
            text-align: center;
        }
        .slide_intro .slick-next:after {
            content: '\f105';
        }
        .slide_intro .slick-prev:after {
            content: '\f104';
        }
        .slide_intro .slick-next {
            margin-left: 24px;
        }
        .slide_intro .slick-prev {
            margin-left: -24px;
        }
    }

    @media screen and (max-width: 480px){
        #feeling_text{
            margin: 0;
        }
        #feeling_text .item .i-content{
            height: initial;
        }
    }

