 
<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="fSearch">
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="tableborder">
  <tr>
    <td width="10%" nowrap="nowrap"><strong>{LANG.totals}:</strong> &nbsp;</td>
    <td  ><b class="font_err">{data.totals}</b></td>
  </tr>
  <tr>
    <td  nowrap="nowrap"><strong>Trạng thái :</strong> &nbsp;</td>
    <td  ><b class="font_err">{data.list_status}</b></td>
  </tr>
  <tr>
  <td align="left" nowrap="nowrap"><strong>{LANG.search_for} :</strong> &nbsp;&nbsp;&nbsp;  </td>
  <td align="left"><strong>{data.list_search}</strong> : &nbsp;&nbsp; {LANG.keyword}  : &nbsp;
    <input name="keyword"  value="{data.keyword}"type="text" class="textfiled">
    <input name="btnSearch" type="submit" value=" Search " class="button"></td>
  </tr>

</table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->