.showroom{
	background: #f4f4f4;
	margin-bottom: 30px;
}
.showroom .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.showroom .grid>.col{
	width: 33.333333%;
	padding: 0 15px;
}
.showroom .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.showroom .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.showroom .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.showroom .caption{
	padding: 10px 0;
}
.showroom .tend{
	padding-bottom: 5px;
	margin-bottom: 10px;
	position: relative;
}
/*.showroom .tend:before{
	content: "";
	position: absolute;
	width: 100px;
	border-bottom: solid 3px #0baf4d;
	bottom: 0;
	left: 0;
}*/
.showroom .tend a{
	display: block;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.showroom .address{
	margin-bottom: 15px;
}
.showroom .address .be{
	padding-left: 30px;
	position: relative;
	color:#666666;
	margin-bottom: 5px;
}
.showroom .address .be:before{
	font-family: fontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	color:#666666;
}
.showroom .tools{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.showroom .tools a.map{
	width: 45px;
	height: 45px;
	display: block;
	border:solid 2px #0baf4d;
	border-radius: 100%;
	position: relative;
	font-size: 15px;
	line-height: 23px;
	margin-right: 20px;
}
.showroom .tools a.map i{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.showroom .tools a.map:hover{
	background: #0baf4d;
	color:#ffffff;
}
.showroom .gallery .gridG{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -1px
}
.showroom .gallery .gridG>.col{
	width: 33.333333%;
	padding: 0 1px;
	margin-bottom: 2px;
}
.showroom .gallery a{
	display: block;
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;	
}
.showroom .gallery a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 130%;
	max-width: initial;
}
/*=======================================================*/
#vnt-showroom-popup{
	height: 100vh;
}
#vnt-showroom-popup .wrapLogo{
	height: 110px;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
#vnt-showroom-popup .wrapLogo img{
	max-width: 170px;
}
#vnt-showroom-popup .wrapMap{
	height:-webkit-calc(100vh - 110px);
	height:-moz-calc(100vh - 110px);
	height:-o-calc(100vh - 110px);
	height:calc(100vh - 110px);
	position: relative;
}
#vnt-showroom-popup .wrapMap img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height: 100%;
}
/*=============================================================*/
.iframe360{
	position: relative;
}
.iframe360 iframe{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
.iframe360 img{
	width: 100%;
}
/*=============================================================*/
.myDesignPopup .fancybox-close{
	top: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	background: #0baf4d;
	font-size: 25px;
	line-height: 30px;
	color:#ffffff;
}
.myDesignPopup .fancybox-close:before{
	content: "\f00d";
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.showroom .grid>.col{
	width: 100%;
}
.showroom .caption{
	padding: 15px;
}
}