.news{
    margin-bottom: 30px;
}
.news .img{
    padding-top: 66.666666%;
    position: relative;
    overflow: hidden;
}
.news .img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    backface-visibility: hidden;
}
.news .img:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.news .date {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    color: #ffffff;
    pointer-events: none;
    padding: 4px 12px;
}
.news .date span{
}
.news .date span:before{
    /* content: "\f133"; */
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.news .caption{padding: 20px 25px;background: #f6f6f6;}
.news .tend{
    margin-bottom: 10px;
}
.news .tend a{
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    height:48px;
    overflow: hidden;
    text-transform: uppercase;
}
.news .des{
    height:66px;
    overflow: hidden;
    color: #666666;
}
/*====================================================*/
.the-title{
    margin-bottom: 10px;
}
.the-title h1{
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    text-transform: uppercase;
}
.the-date{
    color:#999999;
    margin-bottom: 5px;
}
.the-share{
    margin-bottom: 10px;
}
.the-content{
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.box .box-title .fTitle {
    font-size: 22px;
    line-height: 30px;
    padding: 5px 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:#333333;
    font-weight: bold;
}
ul.news-other-list {
    margin: 0;
    list-style: none;
    padding:0;
}
ul.news-other-list li a {
    display: block;
    margin-bottom: 10px;
    position: Relative;
    padding-left: 20px;
}
ul.news-other-list li a:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 11px;
    line-height: 19px;
}
ul.news-other-list li span {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}
/*==================================================*/
.newsMost .title{
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: dotted 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
}
.newsM{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: dotted 1px rgba(0,0,0,0.1);
}
.newsM .img{
    padding-top: 66.666667%;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.newsM .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.newsM .img:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.newsM .tend a{
    font-weight: normal;
    display: block;
    font-size: 14px;
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
    font-weight: 300;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){

}

@media all and (max-width: 460px){

}