
<!-- BEGIN: edit -->
<table width="80%" border="0" cellspacing="1" cellpadding="1" align="center"  bgcolor="#CCCCCC">
  <tr bgcolor="#FFFFFF">
    <td width="150" align="center" style="padding:5px;">{data.pic}</td>
    <td style="padding:5px;line-height:20px;">Serial : <strong class="font_err">{data.maso}</strong><br />
				Tên SP: <strong>{data.p_name}</strong><br />
        Product ID : #<strong>{data.p_id}</strong>
    		</td>
  </tr>
</table>
<br />

{data.err}


<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myForm" >

<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">

		<tr>
            <td class="row1">Giá mới : </td>
            <td class="row0"><input name="price" type="text" size="20" value="{data.price}" /> VNĐ</td>
          </tr>
		  <tr>
            <td class="row1">Giá cũ : </td>
            <td class="row0"><input name="price_old" type="text" size="20" value="{data.price_old}" /> VNĐ</td>
          </tr>
		<tr>
            <td class="row1">Nội dung trạng thái :</td>
            <td class="row0"><textarea name="desc_status" cols="70" rows="10" class="textarea">{data.desc_status}</textarea></td>
        </tr>
        
        
        
          <tr align="center">
          <td class="row1" >&nbsp; </td>
            <td class="row0">
			 			 <input type="submit" name="do_submit" value="Submit" class="button">
              <input type="reset" name="Submit" value="Reset" class="button">
            </td></tr>
        </table>
    </form>
<br>
<!-- END: edit -->


<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="fSearch">
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="tableborder">
  <tr>
    <td width="15%" align="left"><strong>{LANG.totals}:</strong> &nbsp;</td>
    <td width="85%" align="left"><b class="font_err">{data.totals}</b></td>
  </tr>
  <tr>
	   <td ><strong>{LANG.category} : </strong>  </td>
    <td > {data.listcat} </td>
  </tr>
  <tr>
    	<td ><strong>{LANG.status} : </strong>  </td>
      <td > {data.list_status} </td>
    </tr>
  <tr>
    <td  colspan="2"><strong>{LANG.search} :</strong> {data.list_search} <strong> {LANG.keyword} :</strong>  <input name="keyword" value="{data.keyword}" size="20" type="text" /> <strong>{LANG.order}</strong> {data.list_direction}&nbsp;<input type="submit" name="btnGo" value=" Search " class="button"></td>
  </tr>
</table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->