<!-- BEGIN: html_box_menu -->
<div class="logo-company"><a href="?mod=main"><img src="http://www.thietkeweb.com/backlink/trustvn-logo.svg" onerror="this.onerror=null; this.src='http://www.thietkeweb.com/backlink/trustvn-logo.png'"  alt="Thiet ke web"  /></a></div>
<div class="menu-control"></div>
<ul id="admin-menu">
{data.box_menu}
    <li class="menu-item">
        <div class="menu-top">
            <div class="menu-title waves-effect" onclick="window.location.href='?mod=config&act=skin&lang=vn';"><h2>Quản lý giao diện admin</h2></div>
        </div>
        <div class="clear"></div>
        <!--div class="sub-menu" id="{data.group}" style="{data.style}" >
            <ul >
                <li><a href="?mod=config&act=skin&lang=vn">Thay đổi skin</a></li>
            </ul>
        </div-->
    </li>
</ul> 
 
<!-- END: html_box_menu -->

 
<!-- BEGIN: html_menu_item -->
<li class="menu-item">
  <div class="menu-top">          	
    <div class="menu-title waves-effect {data.class}"><h2>{data.f_title}</h2></div>
  </div>
  <div class="clear"></div>
  <div class="sub-menu" id="{data.group}" style="{data.style}" >         
  <ul >
    {data.list_menu}
  </ul>
  </div>
</li> 
<!-- END: html_menu_item -->

<!-- BEGIN: html_news -->
<div class="box-menu">
	<p align="center"><img src="{DIR_IMAGE}/thiet-ke-web-logo-2.png"  onerror="this.onerror=null; this.src='{DIR_IMAGE}/thiet-ke-web-logo-2.png'"  alt="Thiet ke web" /></p>
  {data.list_news}
</div>
<div class="cms_version">© TRUST.vn CMS <span>[ v 6.0]</span></div>
<!-- END: html_news -->
 