.customDes{
	font-size: 15px;
	line-height: 23px;
	color:#666666;
	text-align: justify;
	margin-bottom: 30px;
}
.customItem{
	margin-bottom: 10px;
}
.customItem a{
	display: block;
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.customItem a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.custommiItem .title{
	font-size: 36px;
	line-height: 44px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15px;
}
.custommiItem .item{
	position: relative;
	margin-bottom: 30px;
}
.custommiItem .item .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.custommiItem .item .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.custommiItem .item .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.custommiItem .item .img:before{
	content: "";
	width: 65px;
	height: 45px;
	bottom: 30px;
	right: 20px;
	position: absolute;
	z-index: 1;
	background: url(../images/custom/per.png) no-repeat center center;
	pointer-events: none;
}
.custommiItem .item .tend{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 1;
	max-width: 80%;
	pointer-events: none;
}
.custommiItem .item .tend h3{
	font-size: 17px;
	line-height: 25px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: normal;
}
.formCustom .titleBig{
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	font-weight: 300;
	max-width: 530px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.formCustom .box{
	padding: 35px 30px;
	background: #f5f5f5;
	margin-bottom: 30px;
}
.formCustom .box .wrap{
	max-width: 970px;
	margin:0 auto;
}
.formCustom .box .title{
	font-size: 25px;
	line-height: 33px;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: solid 1px rgba(0,0,0,0.1);
}
.formCustom label{
    font-size: 15px;
    line-height: 23px;
}
.formCustom input[type="text"],
.formCustom select,
.formCustom textarea{
    width: 100%;
    height: 45px;
    border:none;
    border-left: solid 1px rgba(0,0,0,0.1);
    border-top: solid 1px rgba(0,0,0,0.1);
    padding-left: 10px;
}
.formCustom textarea {
    height: 133px;
    resize: none;
    padding-top: 10px;
}
.formCustom button{
    width: 170px;
    height: 46px;
    background: #0baf4d;
    border:none;
    font-size: 16px;
    line-height: 24px;
    color:#ffffff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.formCustom button:hover{
	background: #333333;
}
.Booking_Success{
	padding: 50px 20px;
}