.img_css{
    height:36px;
    width:36px;
    display:block;
    border: 1px solid #cccccc;
    margin:10px;
    text-align:center;
    border-radius:100%;
    line-height: 36px;
}

.img_css i{
  line-height: 36px;
}