/* Fixes for IE bugs */
input.text, textarea {
	border:1px solid #DCDCDC;
	padding:2px;
}


input.button {
	padding: 0;
}

a.button {
	line-height: 1.4em;
	margin: 1px;
}


* html #vnt-menu {
	margin-left: -110px;
}
 