<!-- BEGIN: edit -->
{data.err}
<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="add_pic" id="add_pic" >
        <table width="100%"  border="0" cellspacing="2" cellpadding="2" align=center  class="admintable">         
          <tr>
            <td width="20%" align="right" class="row1">Title : </td>
            <td width="80%" align="left" class="row0"><input name="title" type="text" id="title" size="50" maxlength="250" value="{data.title}"></td>
          </tr>
          <tr>
            <td align="right" class="row1"> Image : <br /><span class="font_err">
            (width = 170px)</span> </td>
            <td align="left" class="row0">
			<input name="chk_upload" type="radio" value="0" > 
			Images URL &nbsp; <input name="picture" type="text" size="50" maxlength="250" value="{data.picture}"> <br>
			<input name="chk_upload" type="radio" value="1" checked> Upload Picture &nbsp;&nbsp;&nbsp;
			<input name="image" type="file" id="image" size="30" maxlength="250">
			<br /></td>
          </tr>
		  
          <tr >
            <td align="right" class="row1"> Link : </td>
			<td align="left" class="row0"><input name="link" type="text"  size="70" maxlength="250" value="{data.link}" /> 
			<span class="font_err">(&#272;&#432;&#7901;ng link c&#7911;a tin t&#7913;c) </span></td>
          </tr>
          <tr align="center">
            <td colspan="2">
						<input type="submit" name="btnAdd" value="Submit" class="button">
            <input type="reset" name="Submit2" value="Reset" class="button">            </td></tr>
        </table>
    </form>
	<br />
<!-- END: edit -->

<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="fSearch">
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="tableborder">
  <tr>
    <td width="15%" align="left" class="row1">{LANG.totals}: &nbsp;</td>
    <td width="85%" align="left" class="row0"><b class="font_err">{data.totals}</b></td>
  </tr>
</table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->