body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Arial;
	font-size:14px;
	line-height:22px;
}
td,th {
	font-size:14px;
	line-height:22px;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,pre,form,input,textarea {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
}

.clear {clear: both; font-size: 0px; line-height: 0px; height:0;}
p {margin:0px;padding:5px 0px;}
ol,ul {	list-style: none;}

a { text-decoration:none; color:#43a409}
a:hover {  color:#43a409; text-decoration: underline; }

img { border : 0px; }


.wrapper {
	width: 509px;
	margin: 0px auto;
}
.block-item {
	margin-bottom: 30px;
	min-height: 800px;
	position: relative;
}
.box {
	border-top: 2px solid #000000;
	padding: 10px 0px;
}
.print-header {
	padding-bottom: 10px;
	text-transform: uppercase;
}

.box-order{}

.order-title {
	margin-bottom: 10px;
}
.box-order .items {
	margin-bottom: 10px;
}

.box-cod {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 16px;
}
.box-cod td { font-size: 16px;}

.total-price-date {
	margin-top: 10px;
	overflow: hidden;
}
.date-order {
	font-size: 14px;
	padding-top: 2px;
}
.total-price {
	text-align: right;
}
.total-price b { font-size: 18px;}