html {
	SCROLLBAR-BASE-COLOR: #CCCCCCC;
	SCROLLBAR-ARROW-COLOR: #000000;
}

body {
	background: #FFFFFF;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 20px;
}

td,th {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #FF0707
}

a:link {
	text-decoration: none;
	color: #FF0707
}

a:visited {
	text-decoration: none;
	color: #FF0707
}

a:hover {
	color: #1074EF;
	text-decoration: underline;
}

img {
	border: 0px;
}

input {
	color: #000000;
}

.button {
	background-color: #F3F7F6;
	color: #F40924;
	border: 1px solid #CCD3D6;
	padding: 2xp;
	cursor: pointer;
}

.textfiled {
	border: 1px solid #CCD3D6;
	line-height: 20px;
}

.textarea {
	border: 1px solid #CCD3D6;
	line-height: 20px;
	color: #000000;
	scrollbar-base-color: #AAA9A9;
	scrollbar-arrow-color: #000000;
	overflow: auto;
}

.select {
	scrollbar-base-color: #CCD3D6;
	scrollbar-arrow-color: #000000;
	color: #000000;
}

.font_f_title {
	color: #993333;
	font-weight: bold;
	font-size: 14px;
}

.font_err {
	color: #FF0000;
}

.textarea1 {
	border: 1px solid #CCD3D6;
	line-height: 20px;
	color: #000000;
	scrollbar-base-color: #AAA9A9;
	scrollbar-arrow-color: #000000;
	overflow: auto;
}

 

/********************* CSS for Print ****************************/
 
.border_cart {
	background: #DBDADA;
}

.row_title_cart {
	background: #F0F0F0;
	color: #B84120;
	padding: 3px;
	height: 25px;
}

.row_total_cart {
	background: #F9F9F9;
	padding: 3px;
}

.row_item_cart {
	background: #ffffff;
	padding: 3px;
}
 
.row_item_both1 {
	background:#FFFFFF;	
	border-top:2px solid #a2f7a4;
	height:22px;
}
.row_item_both1.cfirst {
	border-left:2px solid #a2f7a4;	
}
.row_item_both1.clast {
	border-right:2px solid #a2f7a4;	
}

.row_item_both2 {
	background:#FFFFFF;	
	border-bottom:2px solid #a2f7a4;
	height:22px;
}

.row_item_both2.cfirst {
	border-left:2px solid #a2f7a4;	
}
.row_item_both2.clast {
	border-right:2px solid #a2f7a4;	
}




.box-detail .items {
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
}
.box-detail .info-price {
	border-top: 1px solid #ccc;padding-top: 15px;margin-top: 15px;
	font-size: 14px;
}
.box-detail .total-price {
	border-top: 1px solid #ccc;padding-top: 15px;margin-top: 15px;
	font-size: 18px;
	text-align: right;
	font-weight: bold;
}
.box-detail .total-price span { font-size: 22px}
.detail-note {
	margin: 15px 0px;
	font-weight: bold;
}

.block-order_detail {
	margin-top: 20px;
	background: #ffffff;
	padding: 10px;
}
.tbl-detail {
	background: #333333;
}
.tbl-detail th {
	background: #ffffff;
	height: 30px;
	text-align: left;
	padding: 5px;
}
.tbl-detail td {
	padding: 5px;
	background: #ffffff;
}
