<!-- BEGIN: box_filter -->
<div class="productTools">
  <div class="productFilter">
    <div class="grid">
      {data.box_category}
      {data.Price_filter}
    </div>
  </div>
  <div class="productFilter">
    <div class="grid">
      {data.Display_Filter}
    </div>
  </div>
</div>
<!-- END: box_filter -->