<!-- BEGIN: html_col_top -->
<table width="100%" border="0" cellspacing="2" cellpadding="2" class="colTop">
	<tr>
		<td width="5%" align="center"><img src="{DIR_MOD}/images/Arr_04.jpg" ></td>
		<td style="padding-left:12px;">
			<table border="0" cellspacing="2" cellpadding="2">
				<tr>
					<td><input type="checkbox" name="all" id="all" value="checkbox" onClick="javascript:check_all();"></td>
					<td>{LANG.product.chose_do}</td>
					<td>
						<input name="" type="button" value="{LANG.product.add_cart}" class="button"  onClick="javascript:DoAddCart();" />&nbsp;
						<input name="" type="button" value="{LANG.product.compare}" class="button"  onClick="javascript:DoCompare();" />&nbsp;{data.button}
					</td>					
				</tr>
			</table>
		<td>
	</tr>
</table>	
<!-- END: html_col_top -->
