<!-- BEGIN: item_project -->

<tr>
    <td class="">72.25 km</td>
    <td class="shop-ecool"><b>{data.p_name}</b></td>
    <td class="">{data.address}</td>
    <td class="text-right">{data.cat_name}</td>
  </tr>
<!-- END: item_project -->
