.about-son-ha .title-son-ha {
  margin-top: 80px;
  margin-bottom: 40px;
}
.about-son-ha .description {
  margin-top: 40;
}
.about-son-ha .img-item-son-ha {
  width: 50px;
  height: 50px;
}
.about-son-ha .items-son-ha {
  margin-top: 20px;
}
.about-son-ha .slide__content {
  bottom: 30px;
  left: 25px;
}
.about-son-ha .slide__content p {
  max-width: 370px;
}
.about-son-ha .sonha-slide {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 11px;
  padding-right: 11px;
}
.about-son-ha .sonha-slide .slide {
  padding: 4px;
}
@media (min-width: 992px) {
  .about-son-ha .sonha-slide {
    padding-top: 50px;
    padding-bottom: 140px;
    padding-left: 11px;
    padding-right: 11px;
  }
  #slides-sonha-item .slick-prev:before,
  #slides-sonha-item .slick-next:before {
    color: #333;
  }
}
