.item-contact {
  margin-bottom: 16px;
  background: #f7f8fa;
  padding: 24px 10px;
  font-weight: 600;
  background-color: #f7f8fa;
  border: 0;
  border-radius: 10px;
}
.name-item-contact {
  font-weight: 600;
  margin-bottom: 0px;
}
.map-contact {
  width: 100%;
}
.contact h1 {
  color: #414042;
}
.company-info span {
  color: #30bcee;
}
.company-info span img {
  max-width: 8px;
  max-height: 8px;
  margin-right: 4px;
}
.form-contact {
  margin-bottom: 70px;
}
.form-contact input {
  height: 46px;
}
.form-contact .form-group {
  padding-left: 30px;
  font-size: 11px;
  line-height: 46px;
}
.form-contact .form-group::placeholder {
  font-size: 10px;
  font-weight: 300;
}
.form-contact .btn-contact {
  float: left;
  text-transform: uppercase;
  background-color: #30bcee;
  color: #fff;
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact h3 {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .title-contact {
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
  }
  .form-contact {
    padding-top: 30px;
  }
  .border-form-contact {
    border: 0;
    border-radius: 10px;
    background-color: #f7f8fa;
    height: 46px;
  }
  .border-textarea-contact {
    border-radius: 10px;
    border: 0;
    height: 170px !important;
    background-color: #f7f8fa;
  }
  .form-contact {
    max-width: 661px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .company-info {
    margin-top: 20px;
  }
  .form-contact {
    margin-top: 30px;
  }
  .map-contact {
    width: 100%;
    height: 400px;
  }
  .form-contact {
    margin-bottom: 110px;
  }
  .form-contact .btn-contact {
    float: left;
    text-transform: uppercase;
    background-color: #30bcee;
    color: #fff;
    padding: 10px 40px;
    margin-top: 30px;
  }
  .form-contact .form_left {
    padding: 0px;
  }
}
