.img-icon-left {
  width: 50px;
  height: 42px;
  float: right;
}
.img-icon-right {
  width: 50px;
  height: 42px;
  float: left;
}
.support-title {
  margin-top: 10px;
  font-weight: 500;
}
.see-more-document {
  margin-top: 80px;
  margin-bottom: 80px;
  color: #00f;
  font-weight: bold;
}
.name-see-more-document {
  color: #30bcee;
}
@media (min-width: 992px) {
  .items-support {
    margin-top: 60px;
  }
  .img-support {
    width: 190px;
    height: 270px;
  }
  .img-icon-left {
    width: 50px;
    height: 42px;
    float: right;
  }
  .img-icon-right {
    width: 50px;
    height: 42px;
    float: left;
  }
  .item-support {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
