.sale-header {
  margin-top: 65px;
  margin-bottom: 35px;
}
.img-sale {
  width: 467px;
  height: 288px;
}
.sale-header-title {
  font-weight: bold;
}
.img-sale-item {
  width: 237px;
  height: 146px;
}
.name-item-sale {
  font-weight: bold;
}
.sale-item {
  border: 1px solid #f7f8fa;
  margin-bottom: 30px;
}
.see-more-sale {
  border: 1px solid #f7f8fa;
  border-radius: 20px;
  padding: 10px;
  background: #f7f8fa;
  color: #034c79;
}
.see-more {
  margin-top: 20px;
  margin-bottom: 40px;
}
.sale-header-title {
  margin-top: 50px;
}
.des-sale-header {
  margin-top: 40px;
}
.see-more-sale-border {
  border: 1px solid #f7f8fa;
  padding: 5px;
  background-color: #f7f8fa;
}
.sale-item {
  margin-top: 20px;
}
.ecool-sale .see-all {
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 25px;
}
