.menuCollect{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}
.menuCollect ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.menuCollect ul li{
	width: 20%;
	margin-right: 1px;
}
.menuCollect ul li a{
	display: block;
	text-align: center;
	background: rgba(255,255,255,0.9);
	padding: 14px 10px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
.menuCollect ul li.current a{
	background: #0baf4d;
	color:#ffffff;
}
/*=======================================================*/
.collect{
	margin-bottom: 30px;
}
.collect .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.collect .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.collect .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.collect .img:before{
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: rgba(255,255,255,0.1);
	opacity: 0;
	z-index: 1;
	pointer-events: none;
}
.collect .img:hover:before{
	-webkit-animation: h1 1s linear;
	-o-animation: h1 1s linear;
	animation: h1 1s linear;
}
.collect .img:after{
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: rgba(255,255,255,0.1);
	opacity: 0;
	z-index: 1;
	pointer-events: none;
}
.collect .img:hover:after{
	-webkit-animation: h1 1s 0.3s linear;
	-o-animation: h1 1s 0.3s linear;
	animation: h1 1s 0.3s linear;
}
@-webkit-keyframes h1{
    0% {transform: scale(2);opacity: 0.2}
    20% {transform: scale(6);opacity: 0.4}
    40%{transform: scale(10);opacity: 0.8}
    60%{transform: scale(14);opacity: 0.4}
    80%{transform: scale(18);opacity: 0.2}
    100%{transform: scale(22);opacity: 0;}
}
@-moz-keyframes h1{
    0% {transform: scale(2);opacity: 0.2}
    20% {transform: scale(6);opacity: 0.4}
    40%{transform: scale(10);opacity: 0.8}
    60%{transform: scale(14);opacity: 0.4}
    80%{transform: scale(18);opacity: 0.2}
    100%{transform: scale(22);opacity: 0;}
}
@-o-keyframes h1{
    0% {transform: scale(2);opacity: 0.2}
    20% {transform: scale(6);opacity: 0.4}
    40%{transform: scale(10);opacity: 0.8}
    60%{transform: scale(14);opacity: 0.4}
    80%{transform: scale(18);opacity: 0.2}
    100%{transform: scale(22);opacity: 0;}
}
@keyframes h1{
    0% {transform: scale(2);opacity: 0.2}
    20% {transform: scale(6);opacity: 0.4}
    40%{transform: scale(10);opacity: 0.8}
    60%{transform: scale(14);opacity: 0.4}
    80%{transform: scale(18);opacity: 0.2}
    100%{transform: scale(22);opacity: 0;}
}
.collect .tend a{
	display: block;
	background: #ebebeb;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding: 19px 25px;
}
.collect:hover .tend a{
	background: #0baf4d;
	color:#ffffff;
}
/*======================================================*/
.collectContent{
	background: #fafafa;
	margin-bottom: 40px;
}
.collectContent .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.collectContent .grid .col{
	width: 50%;
}
.collectContent .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.collectContent .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.collectContent .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.collectContent .caption{
	padding: 30px;
	position: relative;
}
.collectContent .tend, .collectContent .tend h1{
	display: block;
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 20px;
}
.collectContent .des{
	max-height: 88px;
	overflow: hidden;
	margin-bottom: 20px;
}
.collectContent .link a {
    display: inline-block;
    text-transform: uppercase;
    border: solid 1px #0baf4d;
    padding: 11px 18px;
}
.collectContent .link a:hover{
	background: #0baf4d;
	color:#ffffff;
}
.collectContent .link a:hover span:before{
	color:#ffffff;
}
.collectContent ._360 {
    position: absolute;
    top: 20px;
    right: 40px;
}
/*==========================================================*/
#slideImg{
	margin-bottom: 50px;
}
#slideImg .slick-arrow{
	width: 70px;
	height: 70px;
	border:solid 1px rgba(255,255,255,0.75);
	font-size: 0;
	padding: 0;
	background: transparent;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color:rgba(255,255,255,0.75);
	z-index: 1;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#slideImg .slick-prev{
	left: 20px;
}
#slideImg .slick-next{
	right: 20px;
}
#slideImg .slick-arrow:before{
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 65px;
	line-height: 65px;
}
#slideImg .slick-prev:before{
	content: "\f104";
}
#slideImg .slick-next:before{
	content: "\f105";
}
#slideImg .slick-arrow:hover{
	background: rgba(255,255,255,0.75);
	color:#333333;
}
/*======================================================*/
.templateDesign{
	margin-bottom: 50px;
}
.templateDesign .img1{
	margin-bottom: 30px;
}
.templateDesign .img1 img{
	width: 100%;
}
.templateDesign .t1{
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}
.templateDesign .des{
	margin-bottom: 50px;
}
/*=======================================================*/
.partDetail{
	background: #fafafa; 
	margin-bottom: 50px;
}
.partDetail .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.partDetail .grid .col{
	width: 50%;
}
.partDetail .img img{
	width: 100%;
}
.partDetail .caption{
	padding: 25px 70px;
}
.partDetail .title{
	margin-bottom: 15px;
}
.partDetail .title h1, .partDetail .title h2{
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	text-transform: uppercase;
}
.partDetail .attr li{
	padding: 10px 15px;
}
.partDetail .attr li:nth-child(odd){
	background: #ffffff;
}
.partDetail .attr li .at{
	width: 130px;
	float: left;
}
.partDetail .attr li .as{
	overflow: hidden;
}
/*==========================================================*/
.btnRecive{
	margin-bottom: 45px;
}
.btnRecive a {
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 500;
    background: #0baf4d;
    text-align: center;
    width: 100%;
    max-width: 530px;
    color: #ffffff;
    padding: 16px 10px;
    margin-bottom: 15px;
}
.btnRecive a:hover{
	background: #333333;
}
.btnRecive .numberPhone{
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.btnRecive .numberPhone span{
	font-size: 24px;
	line-height: 32px;
	color:#ed1f24;
}
/*========================================================*/
.collectOther .title{
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: solid 2px rgba(0,0,0,0.3);
}
.collectOther .title h2{
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-transform: uppercase;
}
#slideOther .slick-list{
	margin: 0 -15px;
}
#slideOther .item{
	padding: 0 15px;
}
#slideOther .slick-arrow {
    position: absolute;
    right: 0;
    top: -64px;
    background: #f4f4f4;
    font-size: 0;
    border: none;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 2;
    color: #999999;
}
#slideOther .slick-prev{
    margin-right: 41px;
}
#slideOther .slick-arrow:before{
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 23px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#slideOther .slick-prev:before{
    content:"\f053";
}
#slideOther .slick-next:before{
    content:"\f054";
}
#slideOther .slick-arrow:hover{
    background: #0baf4d;
}
#slideOther .slick-arrow:hover:before{
    color:#ffffff;
}
/*===========================================================*/
.designPopup .title {
    font-size: 30px;
    line-height: 40px;
    background: #0baf4d;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 20px;
    color: #ffffff;
}
.formPopup{
	padding: 25px 50px;
}
.formPopup label{
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	min-height: 23px;
}
.formPopup input,
.formPopup select,
.formPopup textarea{
	width: 100%;
	height: 45px;
	background: #f5f5f5;
	border:none;
	border-top: solid 1px rgba(0,0,0,0.1);
	border-left: solid 1px rgba(0,0,0,0.1);
	resize:none;
}
.formPopup textarea{
	height: 126px;
}
.formPopup .formFa{
	position: relative;
}
.formPopup .formFa:before{
	font-family: fontAwesome;
	position: absolute;
	left:10px;
	top: 13px;
	color:#666666;
}
.formPopup .formFa input{
	padding-left: 30px;
}
.formPopup button{
	width: 100%;
	height: 45px;
	background: #0baf4d;
	border:none;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.formPopup button:hover{
	background: #333333;
}
.myDesignPopup .fancybox-close{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border:solid 2px #0baf4d;
	right: 0;
	top: -85px;
	background: rgba(0,0,0,0.3);
	color:#ffffff;
}
.myDesignPopup .fancybox-close:before{
	content: "x";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
}
.myDesignPopup .fancybox-close:after{
	content: "Ä‘Ã³ng";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -25px;
	color:#ffffff;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
}
/*=========================================================*/
.the-info-wrap{
	padding: 30px 35px;
}
.the-info-content{
	max-height: 370px;
	overflow: auto;
}
.the-info-content .t1{
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
/*=========================================================*/
#slideGalleryWrap{
    max-width: 100%;
}
#slideGallery .img{
    height:-webkit-calc(100vh - 100px);
    height:-moz-calc(100vh - 100px);
    height:-o-calc(100vh - 100px);
    height:calc(100vh - 100px);
    position: relative;
    overflow: hidden;
    text-align: center;
}
#slideGallery .img img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-height: 100%;
    max-width: 100%;
}
#slideGallery .slick-arrow{
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 0;
    padding: 0;
    border:none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
#slideGallery .slick-prev{
    left: 25px;
    background-image: url(../images/collect/i-prev.svg);
}
#slideGallery .slick-next{
    right: 25px;
    background-image: url(../images/collect/i-next.svg);
}
#slideGallery .slick-arrow:before{
    top: 90px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    color:#ebebeb;
}
#slideGallery .slick-prev:before{
    content: "back";
}
#slideGallery .slick-next:before{
    content: "next";
}
/*===========================================================*/
#slideNavGallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    padding-top: 10px;
    overflow: auto;
}
#slideNavGallery .item{
    margin-right: 10px;
    width: 170px;
    flex-basis: 170px;
    flex-shrink: 0;
}
#slideNavGallery .img{
    padding-top: 42%;
    position: relative;
    overflow: hidden;
}
#slideNavGallery .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/*=========================================*/
.designGal .fancybox-close{
    width: 40px;
    height: 40px;
    background: url(../images/collect/i-close.svg) no-repeat center center;
    background-size: cover;
    top: 5%;
    right: 35px;
}
.designGal .fancybox-close:before{
    content: "close";
    top: 50px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    color:#ebebeb;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
div#slideThumbnail{
	margin-bottom: 30px;
}
.templateDesign .img{
	margin-bottom: 30px;
}
.templateDesign .img img{
	width: 100%;
}
.partDetail .grid{
	display: block;
}
.partDetail .grid .col{
	width: 100%;
}
.partDetail .caption{
	padding: 25px 20px;
}
#slideOther .slick-list{
	margin: 0 -10px;
}
#slideOther .item{
	padding: 0 10px;
}
#slideOther{
    padding-bottom: 30px;
}
#slideOther .slick-arrow {
    top: initial;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#slideOther .slick-prev{
    margin-left: -25px;
}
#slideOther .slick-next{
    margin-left: 25px;
}
#slideGallery .slick-arrow{
	width: 45px;
	height: 45px;
}
#slideGallery .slick-arrow:before{
	top: 45px;
}
#slideGallery .slick-arrow {
    top: initial;
    bottom: 15px;
    left: 50%;
    top:initial;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#slideGallery .slick-prev{
    margin-left: -25px;
}
#slideGallery .slick-next{
    margin-left: 25px;
}
#slideGallery .slick-arrow{
	width: 45px;
	height: 45px;
}
#slideGallery .slick-arrow:before{
	display: none;
}
.designGal .fancybox-close{
	top: 15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
}

@media all and (max-width: 768px){
.collectContent .grid{
	flex-direction: column;
}
.collectContent .grid .col:nth-child(1){
	order:2;
	width: 100%;
}
.collectContent .grid .col:nth-child(2){
	order:1;
	width: 100%;
}
.designPopup .title{
	font-size:18px;
	line-height: 26px;
}
.formPopup{
	padding: 25px;
}
.formPopup .col-xs-6{
	width: 100%;
}
}