.boxFilter{
	padding:10px 0px;
	border-top: solid 2px #f4f4f4;
	border-bottom: solid 2px #f4f4f4;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
.boxFilter .fPart .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.boxFilter .fPart .grid .col{
	margin-left: 20px;
}
.filter{
	position: relative;
}
.filter .txt{
	font-size:13px;
	line-height: 21px;
	color:#666666;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.filter .icon{
	color:#666666;
	font-weight: 300;
	background: #f4f4f4;
	padding: 14px 20px;
	width: 370px;
	position: relative;
	cursor: pointer;
}
.filter .icon:before{
	content: "\f0d7";
	font-family: fontAwesome;
	position: absolute;
	right:15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.filter .popup{
	min-width: 370px;
	position: absolute;
	background: #f4f4f4;
	top: 105%;
	left: 0;
	padding: 15px 20px;
	display: none;
	z-index: 1;
}
.filter.active .popup{
	display: block;
}
.myCheckbox input{
    display: none;
}
.myCheckbox{
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 300;
}
.myCheckbox:hover{
    color:#0baf4d;
}
.myCheckbox a:before{
    content: "\f096";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
    line-height: 23px;
    color:#999999;
}
.myCheckbox.active a:before{
    content: "\f046";
    color:#0baf4d;
}
.myCheckbox span{
    color:#999999;
}
.filter select{
	background: #f4f4f4;
	border:none;
	height: 45px;
	padding: 0 15px;
	padding-right: 50px;
}
.filter .formFa{
	position: relative;
}
.filter .formFa select{
	-webkit-appearance: none;
}
.filter .formFa:before{
	content: "\f0d7";
	font-family: fontAwesome;
	position: absolute;
	right:15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*=======================================================*/
.gridMansory{
	margin: 0 -15px;
}
.gridMansory:after{
	content: "";
	display: block;
	clear: both;
}
.gridMansory .col,
.gridMansory .colC{
	width: 33.333333%;
	padding: 0 15px;
	float: left;
}
.project{
	margin-bottom: 30px;
}
.project .img{
	overflow: hidden;
}
.project .img img{
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.project .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.project .caption{
	padding: 15px 20px;
	background: #fafafa;
}
.project .tend{
	margin-bottom: 5px;
}
.project .tend a{
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}
.project .map{
	font-size: 13px;
	line-height: 21px;
	color:#666666;
	padding-left: 20px;
	position: relative;
	margin-bottom: 5px;
}
.project .map:before{
	content: "\f041";
	font-family: fontAwesome;
	position: absolute;
	left:0;
	top: 0;
}
.project .des{
	color:#666666;
}
/*======================================================*/
div#slideThumbnail img{
	width: 100%;
}
.dfTitle{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 10px;
}
.dfTitle .title{
	/*max-width: 180px;*/
}
.dfTitle .title h1{
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
.projectAttr{
	margin-bottom: 10px;
}
.projectAttr ul li{
	padding: 8px 0;
	border-top: solid 1px rgba(0,0,0,0.1);
	font-size: 15px;
	line-height: 22px;
}
.projectAttr ul li:last-child{
	border-bottom: solid 1px rgba(0,0,0,0.1);
}
.projectAttr ul li .at{
	float: left;
	width: 135px;
	margin-right: 15px;
}
.projectAttr ul li .at:before{
	content: ":";
	float: right;
}
.projectPrice{
	text-align: right;
}
.projectPrice .txt{
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color:#666666;
}
.projectPrice .pri{
	font-size: 20px;
	line-height: 30px;
	color:#00000;
}
.projectContact {
	padding: 10px 20px;
	border:solid 1px #f1f1f1;
	padding-left: 75px;
	position: relative;
	margin-bottom: 10px;
}
.projectContact .t1{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.projectContact .t2{
	font-size: 20px;
	line-height: 30px;
	color:#ed1f24;
	font-weight: bold;
	text-transform: uppercase;
}
.projectContact:before{
	content: "\f086";
	font-family: fontAwesome;
	position: absolute;
	left:15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 35px;
	line-height: 45px;
	color:#0baf4d;
}
.projectTag{
	font-size: 12px;
	line-height: 20px;
	color:#666666;
	margin-bottom: 5px;
}
.projectTag .txt{
	display: inline-block;
}
.projectTag a{
	display: inline-block;
	color:inherit;
}
.projectTag a:hover{
	color:#0baf4d;
}
.projectSocial ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.projectSocial ul li{
	margin-right: 15px;
}
.projectSocial ul li a{
	display: block;
	font-size: 20px;
	line-height: 30px;
	color:#666666;
}
.projectWrap{
	margin-bottom: 50px;
}
/*======================================================*/
.projectContent{
	background: #fafafa;
	margin-bottom: 40px;
}
.projectContent .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.projectContent .grid .col{
	width: 50%;
}
.projectContent .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.projectContent .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.projectContent .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.projectContent .caption{
	padding: 30px;
}
.projectContent .tend{
	display: block;
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 20px;
}
.projectContent .des{
	max-height: 88px;
	overflow: hidden;
	margin-bottom: 20px;
}
.projectContent .link a {
    display: inline-block;
    text-transform: uppercase;
    border: solid 1px #0baf4d;
    padding: 11px 18px;
}
.projectContent .link a:hover{
	background: #0baf4d;
	color:#ffffff;
}
.projectContent .link a:hover span:before{
	color:#ffffff;
}
/*==========================================================*/
#slideImg{
	margin-bottom: 50px;
}
#slideImg .slick-arrow{
	width: 70px;
	height: 70px;
	border:solid 1px rgba(255,255,255,0.75);
	font-size: 0;
	padding: 0;
	background: transparent;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color:rgba(255,255,255,0.75);
	z-index: 1;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#slideImg .slick-prev{
	left: 20px;
}
#slideImg .slick-next{
	right: 20px;
}
#slideImg .slick-arrow:before{
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 65px;
	line-height: 65px;
}
#slideImg .slick-prev:before{
	content: "\f104";
}
#slideImg .slick-next:before{
	content: "\f105";
}
#slideImg .slick-arrow:hover{
	background: rgba(255,255,255,0.75);
	color:#333333;
}
/*======================================================*/
.templateDesign .img1{
	margin-bottom: 30px;
}
.templateDesign .img1 img{
	width: 100%;
}
.templateDesign .t1{
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}
.templateDesign .des{
	margin-bottom: 50px;
}
.designPopup .title {
    font-size: 30px;
    line-height: 40px;
    background: #0baf4d;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 20px;
    color: #ffffff;
}
.formPopup{
	padding: 25px 50px;
}
.formPopup label{
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	min-height: 23px;
}
.formPopup input,
.formPopup select,
.formPopup textarea{
	width: 100%;
	height: 45px;
	background: #f5f5f5;
	border:none;
	border-top: solid 1px rgba(0,0,0,0.1);
	border-left: solid 1px rgba(0,0,0,0.1);
	resize:none;
}
.formPopup textarea{
	height: 126px;
}
.formPopup .formFa{
	position: relative;
}
.formPopup .formFa:before{
	font-family: fontAwesome;
	position: absolute;
	left:10px;
	top: 13px;
	color:#666666;
}
.formPopup .formFa input{
	padding-left: 30px;
}
.formPopup button{
	width: 100%;
	height: 45px;
	background: #0baf4d;
	border:none;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.formPopup button:hover{
	background: #333333;
}
.myDesignPopup .fancybox-close{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border:solid 2px #0baf4d;
	right: 0;
	top: -85px;
	background: rgba(0,0,0,0.3);
	color:#ffffff;
}
.myDesignPopup .fancybox-close:before{
	content: "x";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
}
.myDesignPopup .fancybox-close:after{
	content: "Đóng";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -25px;
	color:#ffffff;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
}
/*=========================================================*/
.the-info-wrap{
	padding: 30px 35px;
}
.the-info-content{
	max-height: 370px;
	overflow: auto;
}
.the-info-content .t1{
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
/*=========================================*/
.designGal .fancybox-close{
  width: 40px;
  height: 40px;
  background: url(../images/collect/i-close.svg) no-repeat center center;
  background-size: cover;
  top: 5%;
  right: 35px;
}
.designGal .fancybox-close:before{
  content: "close";
  top: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
  color:#ebebeb;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.gridMansory .col, .gridMansory .colC{
	width: 50%;
}
div#slideThumbnail{
	margin-bottom: 30px;
}
.templateDesign .img{
	margin-bottom: 30px;
}
.templateDesign .img img{
	width: 100%;
}
}

@media all and (max-width: 768px){
.boxFilter{
	display: block;
}
.filter{
	margin-bottom: 20px;
}
.filter .icon{
	width: 100%;
}
.filter .popup{
	min-width: 100%;
}
.boxFilter .fPart .grid{
	margin: 0 -5px;
}
.boxFilter .fPart .grid .col{
	width: 50%;
	padding: 0 5px;
	margin-left: 0;
}
.filter select{
	width: 100%;
}
.gridMansory .col, .gridMansory .colC{
	width: 100%;
}
.projectContent .grid{
	flex-direction: column;
}
.projectContent .grid .col:nth-child(1){
	order:2;
	width: 100%;
}
.projectContent .grid .col:nth-child(2){
	order:1;
	width: 100%;
}
}

@media all and (max-width: 360px){
.boxFilter .fPart .grid .col{
	width: 100%;
}
}