#ListScrollTab {
	float:left;
}

#ListScrollTab .prev{
	float:left;
	padding-top:30px;
	vertical-align:middle;
	cursor:pointer;
}
#ListScrollTab .next{
	padding-top:30px;
	float:right;
	cursor:pointer;
}

#ListScrollTab .View {
  float:left;
  margin:5px;
  position:relative;
  overflow:hidden;
  width:470px;
}
#ListScrollTab .View li {
	float:left;
	padding:5px 10px;
	width:105px;
	text-align:center;
}
* html #ListScrollTab .View li {
	float:left;
	padding:5px 10px;
	width:105px;
	text-align:center;
}
#ListScrollTab .View .imgBorder{
	border:1px #CCCCCC solid;
	padding:2px;

}
#ListScrollTab .View p {
  text-align:center;
}

#ListScrollTab .View .last {
   margin:0px;
   margin-right:0px;
   border-right:none;
}
#ListScrollTab .View li.noView {
	padding-top:50px;
	text-align:center;
	width:500px;
	height:60px;
	color:#FF0000;
}
#ListScrollTab .View .name a {
	color:#016BA8;
	font-weight:bold
}
#ListScrollTab .View .name a:hover {
	color:#FF6A48;
	text-decoration:none;
}
/* carousel-specific styles */
.carouselleftarrow{width:30px;margin:25px 0 10px 0;float:left;text-align:center;cursor:pointer;}
.carouselrightarrow{width:30px;margin:25px 0 10px 0;float:right;text-align:center;cursor:pointer;}
.carousel-list{list-style-type:none;margin:0;padding:0; float:left}
.carousel-list .prodimage.bordered{border-right:solid 1px #ccc;text-align:center;}
.visibleframe{float:left;position:relative;overflow:hidden;width:520px;}
.contentframe{position:relative;overflow:hidden;width:10000px;}
.contentframe li h4{text-align:left;margin:0;padding:0;font-size:11px;}
.contentframe li p{text-align:left;margin:0;padding:0;}

.clear {clear: both;}
