
<!-- BEGIN: edit -->
<br>
<script language=javascript>
	function show_type(cat)
	{
 		switch (cat)
		{
			case '1' :
				$("#ext_type0").hide();
				$("#ext_type1").show();
				$("#ext_type3").hide();
			break ;
			case '2' :
				$("#ext_type0").hide();
				$("#ext_type1").hide();
				$("#ext_type3").hide();
			break ;
			case '3' :
				$("#ext_type0").hide();
				$("#ext_type1").hide();
				$("#ext_type3").show();
			break ;
			default:
				$("#ext_type0").show();
				$("#ext_type1").hide();
				$("#ext_type3").hide();
		}

	}

	function show_size(pos)
	{
		$.ajax({
				url: "modules/advertise_ad/ajax/ajax.php",
				cache: false,
				type: "POST",
				data: ({ 'do': 'get_size',  'pos': pos }),
				dataType: "json",
				success: function(json)
				{
					$("#width").val(json['width']) ;
					$("#height").val(json['height']) ;
				}
		});

	}
</script>
{data.err}
<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myform" id="myform" >
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
		<!-- BEGIN: select_lang -->
		<tr >
			<td class="row1" >{LANG.language} : </td>
			<td  align="left" class="row0"><input name="rLang" id="rLang" type="radio" value="0" /> {LANG.only_this_lang} <input name="rLang" id="rLang" type="radio" value="1" checked="checked" /> {LANG.all_lang}</td>
		</tr>
    <!-- END: select_lang -->
		  <tr>
            <td width="20%"  class="row1">{LANG.position} : </td>
            <td  align="left" class="row0"><strong>{data.vitri}</strong></td>
          </tr>
		  <tr>
            <td class="row1">{LANG.type}  : </td>
            <td class="row0" align="left">{data.list_type_ad}</td>
          </tr>
          <tr>
            <td class="row1">{LANG.title}  : </td>
            <td class="row0" align="left"><input name="title" type="text" id="title" size="50" maxlength="250" value="{data.title}" /></td>
          </tr>
          <tr id="ext_type1" >
		<td colspan="2" class="row0" align="center">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="20%" class="row1">Nội dung tiêu đề:&nbsp;</td>
            <td align="left" class="row0">{data.html_description}</td>
          </tr>
			</table>

		</td></tr>

		<tr id="ext_type0" {data.style0}  >
		<td colspan="2" class="row0" align="center">
    {data.html_img}



      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="20%" class="row1">Banner PC :&nbsp;</td>
            <td align="left" class="row0">
            	<table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="padding:0px;" ><input name="picture" id="picture" type="text"  size="60" maxlength="250" value="{data.picture}" readonly="readonly"></td>
        <td style="padding:0px;" > <div class="button2"><div class="image"><a title="Add an Image" class="thickbox" id="add_image" href="?mod=media&act=popup_media&type=image&&module=weblink&folder=weblink&obj=picture&TB_iframe=true&width=900&height=474" >Image</a></div></div></td>
      </tr>
    </table>
      			</td>
          </tr>
			</table>
      </td></tr>
      <tr {data.style0}  >
      <td colspan="2" class="row0" align="center">
      {data.html_img_mobile}
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="20%" class="row1">Banner Mobile :&nbsp;</td>
            <td align="left" class="row0">
            	<table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="padding:0px;" ><input name="mobile_image" id="mobile_image" type="text"  size="60" maxlength="250" value="{data.mobile_image}" readonly="readonly"></td>
        <td style="padding:0px;" > <div class="button2"><div class="image"><a title="Add an Image" class="thickbox" id="add_image_mobile" href="?mod=media&act=popup_media&type=image&&module=weblink&folder=weblink&obj=mobile_image&TB_iframe=true&width=900&height=474" >Image</a></div></div></td>
      </tr>
    </table>
      			</td>
          </tr>
			</table>

		</td></tr>

    <tr id="ext_type1" {data.style1} >
		<td colspan="2" class="row0" align="center">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="20%" class="row1">Nội dung :&nbsp;</td>
            <td align="left" class="row0">{data.html_content}</td>
          </tr>
			</table>

		</td></tr>

    <tr id="ext_type3" {data.style3}  >
		<td colspan="2" class="row0" align="center">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="20%" class="row1">Nội dung :&nbsp;</td>
            <td align="left" class="row0"><textarea name="script" id="script" rows="5" cols="50" style="width:95%" >{data.script}</textarea></td>
          </tr>
			</table>

		</td></tr>

		<tr>
		  	<td class="row1">{LANG.width}:&nbsp;</td>
			<td align="left" class="row0"><input name="width" type="text" id="width" size="3" maxlength="4" value="{data.width}" {data.readonly} >&nbsp;pixcel</td>
		  </tr>
		 <tr>
		  	<td class="row1" >{LANG.height}:&nbsp;</td>
			<td align="left" class="row0"><input name="height" type="text" id="height" size="3" maxlength="4" value="{data.height}">&nbsp;pixcel <span class="font_err">{LANG.note_height}</span></td>
		  </tr>

          <tr >
            <td class="row1" >Link : </td>
			<td align="left" class="row0"><input name="l_link" type="text"  size="50" maxlength="250" value="{data.l_link}" /></td>
          </tr>
		   <tr >

       <tr >
            <td class="row1" >{LANG.target} : </td>
			<td align="left" class="row0">{data.list_target}</td>
          </tr>
		   <tr >

		     <td class="row1">{LANG.date_post} : </td>
		     <td align="left" class="row0" ><input name="date_add" id="date_add" type="text"  size="20" maxlength="250" value="{data.date_add}" />&nbsp;<span class="font_err" >(dd/mm/YYYY)</font></td>
	      </tr>
		   <tr >
            <td class="row1" >{LANG.date_expire}: </td>
			<td align="left" class="row0" ><input name="date_expire" id="date_expire"  type="text"  size="20" maxlength="250" value="{data.date_expire}" />&nbsp;<span class="font_err" >(dd/mm/YYYY)</font></td>
          </tr>


      <tr >
            <td class="row1" >{LANG.module_show}:</td>
			<td align="left" class="row0">{data.list_module_show}</td>
		  </tr>
		   <tr >
            <td class="row1">{LANG.display}: </td>
			<td align="left" class="row0">{data.list_display}</td>
		  </tr>
          <tr >
          <td class="row1" >&nbsp;</td>
            <td class="row0">
            <input type="hidden" name="do_submit" value="1">
            <input type="submit" name="Submit" value="Submit" class="button">
            <input type="reset" name="Submit2" value="Reset" class="button">
			 </td></tr>
        </table>
    </form>
<br><br>
<!-- END: edit -->

<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="myform">
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
  <tr>
    <td width="15%" class="row1">{LANG.totals}: &nbsp;</td>
    <td width="85%" class="row0"><b class="font_err">{data.totals}</b></td>
  </tr>
  <tr>
    <td  class="row1"><strong>Modules :</strong> </td>
    <td class="row0">{data.list_module}</td>
  </tr>
   <tr >
	 	<td  class="row1"><strong>{LANG.position}:</strong> </td>
    <td class="row0">{data.list_pos}</td>
  </tr>
  </table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->
