<!-- BEGIN: html_paper -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html style="height:100%; width:100%;" xmlns="http://www.w3.org/1999/xhtml">

  <head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{CONF.indextitle} {CONF.extra_title}</title>
<meta name="robots" content="index, follow"/>
<meta name="author" content="{CONF.indextitle}"/>
<meta name="description" CONTENT="{CONF.meta_description}" />
<meta name="keywords" CONTENT="{CONF.meta_keyword}" />
<link rel="SHORTCUT ICON" href="{CONF.rooturl}favicon.ico" type="image/x-icon" />
<link rel="icon" href="{CONF.rooturl}favicon.ico" type="image/gif" />
<link href="{DIR_MOD}/css/paper.css" rel="stylesheet" type="text/css" />

<script language="javascript" >
	var ROOT = "{CONF.rooturl}";
	var DIR_IMAGE = "{DIR_IMAGE}";
	var cmd = "{CONF.cmd}";
</script>
<script type="text/javascript" src="{DIR_JS}/javascript.js"></script>
</head>

  <body style="padding: 0px; margin: 0px; height:100%; width:100%;">
  	<div class="footer">
    	<div class="footer_2">
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr><td align="center" height="1" >
		<img src="{DIR_MOD}/images/hr_footer.gif"  height="1" />
  </td></tr>
      </table>
    	<table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class="logo_footer"><a href="{CONF.rooturl}main.html"><img src="{DIR_IMAGE}/logo_footer.png" width="140" height="50" /></a></td>
          <td class="copyright">{LANG.global.copyright}<br>[MADEBY]</td>
        </tr>
      </table>
      </div>
    </div>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="100%" height="100%">
    <param name="movie" value="{CONF.rooturl}flash/book.swf?file_xml={CONF.rooturl}xml/view_e_paper.php?eID={data.e_id}" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <param name="allowScriptAccess" value="always" />
    <embed src="{CONF.rooturl}flash/book.swf?file_xml={CONF.rooturl}xml/view_e_paper.php?eID={data.e_id}" width="100%" height="100%" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent" allowscriptaccess="always" ></embed>
</object>
  </body>

</html>
<!-- END: html_paper -->  
 