<!-- BEGIN: html_row_cart -->
<tr  class="row_item_cart" height="20">
	<td align="center">{data.stt}</td>
	<td align="center" >{data.pic}</td>
  <td style="padding-left:5px" align="left">{data.p_name}</td>
	<td align="right" style="padding-right:3px">{data.price}</span></td>	
	<td align="center">{data.quantity}</td>
	<td align="right" style="padding-right:3px">{data.total}</span></td>	
	<td align="center">{data.remove}</td>
</tr>	
<!-- END: html_row_cart -->
