.style_step {
    max-width: 768px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.style_step ul{
    text-align: center;
}
.style_step ul li {
    position: relative;
    width: 25%;
    float: left;
    padding: 0;
}
.style_step ul li ~ li:after {
    position: absolute;
    font-family: fontawesome;
    content: '\f105';
    top: 15px;
    left: 0px;
    font-size: 20px;
    line-height: 20px;
    color: #999999;
}
.style_step ul li .number {
    display: block;
    margin: 0 auto;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 5px;
    padding-top: 5px;
    border: solid 1px #333333;
}
.style_step ul li .text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
    display: block;
    color:#666666;
}
.style_step ul li.active .number {
    background: #0baf4d;
    border-color: #0baf4d;
    color: #ffffff;
}
/*====================STEP 1==============================*/
table.addtocart2{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
table.addtocart2 thead tr td {
    padding: 5px;
    color: #333333;
    font-weight: bold;
    padding: 13px;
    background: #dddddd;
}
table.addtocart2 thead tr td:first-child,
table.addtocart2 tbody tr td:first-child{
    text-align: left;
}
table.addtocart2 tbody tr td{
    padding:15px;
    border-bottom:solid 1px #e8e8e8;
}
table.addtocart2 tbody tr td .i-title{
    color: #333333;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}
table.addtocart2 tbody tr td .i-title a {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
table.addtocart2 tbody tr td .i-code{
    font-size: 12px;
    line-height: 20px;
    color:#666666;
    font-style: italic;
}
table.addtocart2 tbody tr td.price {
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
table.addtocart2 tbody tr td.colorRed{
    color: #e71e1e;
}
table.addtocart2 table.img-title{
    width: 100%;
}
table.addtocart2 table.img-title tbody tr td{
    border-bottom: none;
    padding: 0;
    text-align: left;
}
table.addtocart2 table.img-title tr td:nth-child(1){
    text-align: left;
    width: 80px;
    padding-right: 10px;
}
table.addtocart2 .img {
    max-width: 60px;
    float: left;
    margin-right: 10px;
    height: 60px;
}
table.addtocart2.res2 .price_total {
    font-weight: bold;
    color: #f00;
    white-space: nowrap;
}
.choose-quantity {
    max-width: 40px;
    display: block;
    margin: 0 auto;
}
.choose-quantity .nav-button {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid #ffd804;
    background-color: #ffd804;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    padding: 0 3px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.choose-quantity .nav-button:hover{
    background-color: #4a90e2;
}
.choose-quantity .nav-button:hover,
.choose-quantity .nav-button:focus{
    text-decoration: none;
}
.choose-quantity .quantity {
    width: 66px;
    height: 36px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 5px 0;
}
table.addtocart2 .btnclear {
    font-size: 26px;
    line-height: 34px;
    font-weight: normal;
    color: #666666;
}
.coupon {
    background: #fafafa;
    padding: 10px;
    margin-bottom: 15px;
}
.couponCode {
    padding: 15px 20px 16px 120px;
    position: relative;
    background: #ffffff;
    float: left;
    width: 460px;
}
.couponCode:before {
    content: "\f06b";
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ea4725;
    font-size: 100px;
    line-height: 100%;
}
.couponCode .txt {
    text-transform: uppercase;
    color: #ea4725;
    margin-bottom: 5px;
    font-weight: bold;
}
.couponCode input{
    width:calc(100% - 95px);
    width:-moz-calc(100% - 95px);
    width:-webkit-calc(100% - 95px);
    width:-ms-calc(100% - 95px);
    height:40px;
    background: #f6f6f6;
    border:solid 1px #e0e0e0;
    border-right:none;
    padding-left: 15px;
}
.couponCode button {
    width: 95px;
    height: 40px;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    background: #666666;
    border: none;
    float: none;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.couponCode button:hover {
    background: #ea4725;
}
.couponCode form{
    margin-bottom: 5px;
}
.couponCode .txt2{
    color:#666666;
}
.totalPrice {
    float: right;
    margin-top: 20px;
}
.totalPrice .p{
    float:left;
    font-size: 16px;
    line-height: 33px;
}
.totalPrice .p:after{
    content: " :";
}
.totalPrice .l{
    width:180px;
    float:right;
    text-align: right;
    font-size: 18px;
    line-height: 26px;
}
.totalPrice .l.v{
    font-size: 25px;
    line-height: 33px;
    color: #ff001d;
}
.infoShip {
    padding: 10px;
    background: #fff;
    float: left;
}
.infoShip p {
    padding: 0;
    color: #666666;
    padding-left: 25px;
    position: relative;
    margin-bottom: 3px;
}
.infoShip p:before{
    content: "\f046";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pay{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom:solid 1px #e3e3e3;
}
.pay .txt {
    color: #666666;
    margin-right: 15px;
}
.divButton .btnCart {
    background: #676767;
    border: none;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 30px;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    color: #ffffff;
    border: solid 1px #676767;
    text-align: center;
}
.divButton .btnCart:hover{
    background: #ffffff;
    color: #676767;
}
.divButton .btnCart.blood{
    background: #0baf4d;
    border-color: #0baf4d;
    color:#ffffff;
}
.divButton .btnCart.blood:hover{
    background: #ffffff;
    color: #0baf4d;
}
.divButton .btnCart span{
    padding-left: 20px;
    position: relative;
}
.divButton .btnCart span:before{
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*====================STEP 2==============================*/
.grid-button{
    margin:0 -5px;
}
.grid-button:after{
    content: "";
    display: block;
    clear: both;
}
.grid-button .col{
    float:left;
    width:50%;
    padding: 0 5px;
}
.form-login{
    padding: 15px 25px;
    background: #f5f5f5;
}
.form-login .wrap_formLogin{
    max-width: 500px;
    margin: 0 auto;
    padding-left: 130px;
    padding-top: 10px;
    background: url("../images/cart/icon_nguoi.png") no-repeat 0 0;
}
.form-login .row_input{
    margin-bottom: 10px;
}
.form-login .row_input .form-control{
    height: auto;
    padding: 12px 10px 12px 30px;
    border-radius:0;
    border: none;
    background-color: #ffffff;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-login .row_input .form-control:focus{
    border-color:#c0c0c0;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(192,192,292,1);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(192,192,292,1);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(192,192,192,1)
}
.remember_forget{
    margin-bottom: 10px;
}
.remember_forget a{
    display: inline-block;
}
.remember_forget label{
    font-weight: normal;
}
.remember_forget input[type=checkbox],.remember_forget input[type=radio]{
    margin-right: 5px;
}
.remember_forget ul li{
    display: inline;
    position: relative;
}
.remember_forget ul li:after{
    content: '|';
    padding: 0 8px;
}
.remember_forget ul li:last-child:after{
    content: '';
}
.form-login .divButton button,
.form-login .divButton a{
    width:100%;
}
#account{
    background: url(../images/cart/icon-lock.png) no-repeat 7px 50% #ffffff;
}
#password{
    background: url(../images/cart/icon-key.png) no-repeat 7px 50% #ffffff;
}
.login_social {
    padding: 14px 19px;
    border: 1px solid #f5f5f5;
    width: 100%;
    padding-left: 170px;
    position: relative;
}
.login_social .ls_text {
    font-size: 16px;
    line-height: 24px;
    color: #555555;
    position: absolute;
    top: 15px;
    left: 25px;
}
.login_social .ls_button{
    margin-bottom: 10px;
}
.login_social .ls_button a {
    display: block;
    font-weight: bold;
    color: #fff;
    background: #3b5a9b;
    border:solid 2px #3b5a9b;
    padding: 12px;
    padding-left: 20px;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}
.login_social .ls_button a:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 100%;
    background: #fff;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.login_social .ls_button a:hover:after{
    width: 100%;
}
.login_social .ls_button a:hover{
    color: #3b5a9b;
}
.login_social .ls_button a span{
    position: relative;
    z-index: 1;
}
.login_social .ls_button span{
    padding-left: 33px;
}
.login_social .ls_button span:before{
    position: absolute;
    top: 50%;
    left: 0;
    font-family: fontawesome;
    font-size: 25px;
    -webkit-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    -o-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
}
.login_social .ls_button.ls_google a{
    border-color:#bb1604;
    color: #fff;
    background: #bb1604;
}
.login_social .ls_button.ls_google a:hover{
    color: #bb1604;
}
.login_social .ls_button.ls_google a:after{
    background: #fff;
}
.form-buy{
    padding: 13px 23px;
    background: #f1f1f1;
}
.form-buy.nobg{
    background: none;
    border:solid 1px #e5e5e5;
}
.ftitle {
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
    padding: 5px 0;
}
.form-buy .fb-content{
    padding-left: 140px;
    min-height: 233px;
    margin-bottom: 10px;
    background: url("../images/cart/icon_gio_hang.png") no-repeat 0 0;
    -webkit-background-size: 120px 118px;
    background-size: 120px 118px;
}
.fb-content .tableButton {
    margin-top: 50px;
}
/*==========STEP 2.1===========*/
.form-step23 #tableCart{
    margin-bottom: 30px;
}
.boxCart{
    border:solid 1px #dddddd;
    margin-bottom: 30px;
}
.boxCart .title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    background: #e1e1e1;
    padding: 13px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.boxCart .content{
    padding:20px;
}
.cartField label{
    width:150px;
    font-weight: normal;
    float:left;
    padding-right: 25px;
}
.cartField label span{
    color:#ff620c;
}
.cartField .colRight{
    width:-webkit-calc(100% - 150px);
    width:-moz-calc(100% - 150px);
    width:-o-calc(100% - 150px);
    width:calc(100% - 150px);
    float:right;
}
.cartField input[type="text"],
.cartField select,
.cartField textarea{
    width:100%;
    height:40px;
    border:solid 1px #dddddd;
    padding-left: 15px;
}
.cartField textarea{
    height: 100px;
    resize: none;
}
.cartField .boxRadio{
    margin-bottom: 25px;
    padding-left: 20px;
    position: relative;
}
.cartField .boxRadio input{
    position: absolute;
    left: 0;
    top: 0;
}
.cartField .boxRadio label{
    font-weight: bold;
    width:initial;
    float:none;
    padding:0;
    margin:0;
}
.cartField .boxRadio p{
    padding:0;
}
.cartField .optionCart input{
    display: none;
}
.cartField .optionCart {
    background: #eeeeee;
    padding: 14px 50px;
    position: relative;
    cursor: pointer;
}
.cartField .optionCart:before{
    content: "";
    position: absolute;
    width:20px;
    height:20px;
    background: #ffffff;
    border:solid 1px #666666;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cartField .optionCart:after{
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left: 23px;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cartField .optionCart.active:after{
    opacity: 1;
    visibility: initial;
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.cartField .optionCart span:before{
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 28px;
}
.cartField .btnCart{
    width:100%;
}
.boxRadio{
    padding-left: 30px;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
}
.boxRadio p{
    padding: 0;
}
.boxRadio label{
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.boxRadio input[type="radio"]{
    display: none;
}
.boxRadio:before{
    content: "";
    width:20px;
    height:20px;
    position: absolute;
    left: 0;
    top: 0;
    border:solid 1px #666666;
    border-radius: 100%;
}
.boxRadio.active:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #666666;
    border-radius: 100%;
    left: 5px;
    top: 5px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
div#tableCart {
    border: solid 1px #e5e5e5;
    margin-bottom: 30px;
}
#tableCart .totalPrice {
    margin-top: 0;
}
#tableCart .coupon{
    margin-bottom: 0;
}
/*================================STEP 4========================*/
.boxSuccess {
    max-width: 670px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.boxSuccess .txt1 {
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}
.boxSuccess .txt2{
    font-size: 16xp;
    line-height: 24px;
    margin-bottom: 10px;
}
.boxSuccess .code {
    font-size: 55px;
    line-height: 63px;
    font-weight: bold;
    color: #ffffff;
    background: #0baf4d;
    display: inline-block;
    padding: 8px 37px;
    margin-bottom: 20px;
}
.boxSuccess .txt3{
    margin-bottom: 35px;
}
.boxSuccess .txt3 p{
    padding:0;
}
.boxSuccess .txt3  p span{
    color:#d10000;
}
.backHome a {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #0baf4d;
    padding: 10px 10px;
    max-width: 220px;
    text-transform: uppercase;
}
.backHome a:hover{
    background: #04692d;
}
/*===========================STEP 4==================================*/
.form-step23 p{
    padding:0;
}
.form-step23 p strong{
    font-size: 16px;
    line-height: 24px;
}
.backHome {
    text-align: center;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 1070px){
.couponCode,
.infoShip,
.totalPrice{
    float:none;
    width:100%;
    margin-bottom: 10px;
}
.infoShip{
    margin-left: 0;
}
}

@media all and (max-width: 991px){
.couponCode {
    padding-left: 15px;
    padding-top: 115px;
}
.couponCode:before {
    top: 10px;
    left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.pay{
    display: block;
}
table.addtocart2.res{
    text-align: left;
    border:solid 1px #e5e5e5;
}
table.addtocart2.res thead {
    display: none;
}
table.addtocart2.res tbody tr {
    display: block;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: solid 2px #e5e5e5;
}
table.addtocart2.res tbody tr:last-child{
    margin-bottom: 0;
    border-bottom: none;
}
table.addtocart2.res tbody tr td{
    display: block;
    border: none;
    padding: 0;
    padding-left: 160px;
    position: relative;
    margin-bottom: 5px;
}
table.addtocart2.res .btnclear {
    position: absolute;
    bottom: 3px;
    right: 10px;
}
table.addtocart2.res .img {
    position: absolute;
    left: 15px;
    top: 15px;
    max-width: 120px;
}
table.addtocart2.res tbody tr td .i-title a{
    font-size: 14px;
    line-height: 22px;
}
table.addtocart2.res2 tr td:nth-child(3),
table.addtocart2.res2 tr th:nth-child(3){
    display: none;
}
table.addtocart2.res2 tbody tr td{
    padding: 10px;
}
.choose-quantity{
    margin: 0;
}
.choose-quantity .quantity{
    margin: 0;
}
.divButton .fl, .divButton .fr {
    float: none;
}
.divButton .btnCart{
    width:100%;
    margin-bottom: 10px;
}
.form-login .wrap_formLogin {
    background-image: none;
    padding-left: 0;
}
.login_social .ls_button {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
.form-buy .fb-button button.btn{
    width:100%;
}
.login_social .ls_text {
    position: initial;
    display: block;
    margin-bottom: 15px;
}
.login_social .ls_button {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0;
}
.form-buy .fb-content {
    min-height: initial;
    padding-left: 0px;
    background: none;
}
.fb-content .tableButton {
    margin-top: 0px;
}
.grid-button .col {
    width: 100%;
}
.login_social{
    padding-left: 20px;
    margin-bottom: 20px;
}
.boxSuccess .code{
    font-size: 45px;
    line-height: 55px;
}
}

@media all and (max-width: 770px){
.style_step {
    max-width: 300px;
}
.style_step ul li .text{
    display: none;
}
.style_step ul li ~ li:after{
    content: initial;
}
}

@media all and (max-width: 460px){
table.addtocart2.res tbody tr td{
    padding-left: 100px;
}
table.addtocart2.res .img {
    max-width: 75px;
}
.couponCode button{
    font-size: 12px;
    line-height: 20px;
}
.boxSuccess .code{
    font-size: 35px;
    line-height: 45px;
    padding: 8px 30px;
}
}