.menuProduct{
	margin-bottom: 25px;
}
.menuProduct ul li{
	border-top: solid 1px rgba(0,0,0,0.15);
	position: relative;
}
.menuProduct ul li:last-child{
	border-bottom: solid 1px rgba(0,0,0,0.15);
}
.menuProduct ul li a{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 10px 0px 10px 0px;
}
.menuProduct ul li a .img{
	margin-right: 15px;
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
}
.menuProduct ul li a .img img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 90%;
	max-height: 90%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.menuProduct ul li:hover a .img>img{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.menuProduct ul li:hover>a{
	color:#bd9352;
}
.menuProduct ul li .sub{
	position: absolute;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 0px;
	cursor: pointer;
}
.menuProduct ul li .sub:before{
	content: "\f107";
	font-family: fontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.menuProduct ul ul{
	display: none;
}
.menuProduct ul ul li:last-child{
	border-bottom: none;
}
.menuProduct ul ul li a{
	padding-left: 80px;
}
.menuProduct ul ul li a:before{
	content: "\f10c";
	font-family: fontAwesome;
	position: absolute;
	left:60px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 10px;
	line-height: 10px;
	color:#bd9352;
}
/*==================================================*/
.filter {
	margin-bottom: 25px;
}
.filter .title{
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: solid 1px #333333;
}
.myCheckbox {
    padding-left: 30px;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}
.myCheckbox input{
    display: none;
}
.myCheckbox:hover{
    color:#bd9352;
}
.myCheckbox:before{
    content: "\f096";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    top: 0;
    font-size: 13px;
    line-height: 21px;
    color:#999999;
}
.myCheckbox.active:before{
    content: "\f14a";
    color:#bd9352;
}
.myCheckbox span{
    color:#999999;
}
/*===================================================*/
.productTools{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.productTools select{
	width: 155px;
	height: 40px;
	border:solid 1px #dddddd;
	padding-left: 10px;
}
/*====================================================*/
.product{
	margin-bottom: 30px;
}
.product .img{
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}
.product .img img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 80%;
	max-height: 80%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.product .img:hover img{
	-webkit-transform:translate(-50%,-50%) scale(1.05);
	-ms-transform:translate(-50%,-50%) scale(1.05);
	-o-transform:translate(-50%,-50%) scale(1.05);
	transform:translate(-50%,-50%) scale(1.05);
}
.product .tend a{
	display: block;
	font-size: 16px;
	line-height: 26px;
	color:#666666;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: normal;
	text-align: center;
}
.product .tend a:hover{
	color:#0baf4d;
}
.product .price{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product .price .red{
	color:red;
	margin-right: 25px;
	position: relative;
}
.product .price .red:before{
	/*content: "-";*/
	position: absolute;
	right:-15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.product .price .nor{
	color:#b0b0b0;
	text-decoration:line-through;
}
.product .ribbon{
	position: absolute;
	top: 10px;
	left: 10px;
	pointer-events: none;
}
.product .ribbon .rib{
	font-size: 12px;
	line-height: 12px;
	padding:4px 6px;
	font-weight: bold;
	text-transform: uppercase;
	color:#ffffff;
	margin-bottom: 10px;
}
/*=======================THUMBNAIL=======================*/
.productThumbnail {
    padding-left: 140px;
    position: relative;
}
#vnt-thumbnail-nav {
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 27px 0px;
}
div#vnt-thumbnail-nav .slick-list{
    margin: -6px 0;
}
div#vnt-thumbnail-nav .item{
    padding:6px 0;
    cursor: pointer;
}
div#vnt-thumbnail-nav .img{
    border:solid 1px #cccccc;
}
div#vnt-thumbnail-nav .item.slick-current .img{
    border-color: #bd9352;
}
div#vnt-thumbnail-for .img{
    padding-top: 100%;
    position: relative;
    background: #ffffff;
}
div#vnt-thumbnail-nav .slick-arrow{
	width:23px;
	height:13px;
	background: none;
	border:none;
	padding:0;
	font-size: 0;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
div#vnt-thumbnail-nav .slick-prev{
	top:0;
}
div#vnt-thumbnail-nav .slick-next{
	bottom:0;
}
div#vnt-thumbnail-nav .slick-arrow:before{
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 40px;
	line-height: 48px;
	color:#dddddd;
}
div#vnt-thumbnail-nav .slick-prev:before{
	content: "\f106";
}
div#vnt-thumbnail-nav .slick-next:before{
	content: "\f107";
}
#vnt-thumbnail-for {
	margin-bottom: 10px;
}
div#vnt-thumbnail-for img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-height: 90%;
    max-width: 90%;
}
#vnt-thumbnail-for .slick-arrow{
    width:30px;
    height:80px;
    background-color: rgba(0,0,0,0.1);
    border:none;
    font-size: 0;
    padding:0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#vnt-thumbnail-for .slick-prev{
    background-image: url(../images/i-arrow-prev.png);
    left:0;
}
#vnt-thumbnail-for .slick-next{
    background-image: url(../images/i-arrow-next.png);
    right:0;
}
#vnt-thumbnail-for .slick-arrow:hover{
    background-color: rgba(0,0,0,0.3);
}
/*===========================================================*/
.productTitle{
	margin-bottom: 5px;
}
.productTitle h1,
.productTitle h2{
	font-size: 28px;
	line-height: 36px;
	font-weight: normal;
}
.productPrice{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-end;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px rgba(0,0,0,0.15);
}
.productPrice .red{
	font-size: 28px;
	line-height: 36px;
	color:#666666;
	margin-right: 15px;
}
.productPrice .nor{
	font-size: 20px;
	line-height: 30px;
	color:#999999;
}
.productDes{
	font-size: 16px;
	line-height: 24px;
	color:#666666;
	margin-bottom: 20px;
}
.productHotline {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #bd9352;
    border: solid 2px #bd9352;
    text-transform: uppercase;
    padding: 10px 30px;
    margin-bottom: 30px;
}
.productHotline .c{
	font-size: 22px;
	line-height: 30px;
}
.productHotline .f{
	padding-left: 25px;
	position: relative;
}
.productHotline .f:before{
	content: "\f095";
	font-family: fontAwesome;
	position: absolute;
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-weight: normal;
}
.productShare ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.productShare ul li{
	margin-right: 10px;
}
.productWrap{
	margin-bottom: 10px;
}
/*========================================================*/
.productContent{
	margin-bottom: 30px;
}
.tab-list{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	border: solid 1px #dfdfdf;
}
.tab-list li {
	position: relative;
}
.tab-list ul li:before{
	content: "";
	position: absolute;
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 15px;
	border-right: solid 2px #666666;
}
.tab-list li a{
	font-size: 16px;
	line-height: 24px;
	display: block;
	text-transform: uppercase;
	padding: 15px 20px;
	font-weight: bold;
	color: #999999;
}
.tab-list li.active a{
	color: #bd9352;
}
.productContent .tab-content{
	padding: 15px 20px;
	border:solid 1px rgba(0,0,0,0.15);
	border-top: none;
}
.productContent .mc-tab {
    color: #bd9352;
    font-size: 13px;
    line-height: 21px;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    border: solid 1px rgba(0,0,0,0.15);
}
.productContent .mc-tab:before{
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.the-content{
	font-size: 16px;
	line-height: 24px;
	color:#666666;
}
.the-content .t1{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 26px;
}
.productPrice .price {
    margin-bottom: 15px;
}
.productPrice .price .p1 span{
    font-size: 14px;
    line-height: 26px;
    color:#666666;
    text-decoration: line-through;
}
.productPrice .price .p2 span{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color:#ed1c24;
}
.productPrice .price .p3{
    color:#999999;
}
.productPrice .price .p3 strong{
    font-weight: bold;
    color:#ed1c24;
}

.productSupport .price {
    margin-bottom: 15px;
}
.productSupport .price .p1 span{
    font-size: 18px;
    line-height: 26px;
    color:#666666;
    text-decoration: line-through;
}
.productSupport .price .p2 span{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color:#ed1c24;
}
.productSupport .price .p3{
    color:#999999;
}
.productSupport .price .p3 strong{
    font-weight: bold;
    color:#ed1c24;
}
.productSupport .cart .txt {
    font-size: 12px;
    line-height: 20px;
    color:#999999;
    margin-bottom: 5px;
}
.productSupport .cart .group-form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.productSupport .cart button[type="button"]{
    width: 40px;
    height:35px;
    border:none;
    background: #e5e5e5;
    font-size: 12px;
    line-height: 20px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.productSupport .cart button[type="button"]:hover{
    background: #0baf4d;
    color:#ffffff;
}
.productSupport .cart input{
    width: 90%;
    height:35px;
    border:none;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    background: none;
    text-align: center;
}
.productSupport .cart button[type="submit"], 
.productSupport .cart button#btnAddcart ,
.productSupport .cart button#btnSub {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 55px;
    font-weight: 500;
    color: #ffffff;
    background: #E5CB6C;
    text-transform: uppercase;
    position: relative;
    border:none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 15px;
    line-height: 23px;
}
.productSupport .cart button[type="submit"]:hover,
.productSupport .cart button#btnAddcart:hover, .productSupport .cart button#btnSub:hover{
    background: #333333;
}
.productSupport .sLinker .ti{
    font-style: italic;
    margin-bottom: 10px;
}
.productSupport .sLink {
    padding-left: 30px;
    position: relative;
    font-size: 11px;
    line-height: 20px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.productSupport .sLink:before{
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 26px;
    position: absolute; 
    left: 0;
    top: 0;
    color:#666666;
}
.productSupport .sLink.hl{
    color:#ea4725;
    font-size: 18px;
    line-height: 26px;
}
.productSupport .sHotline{
    font-style: italic;
    margin-bottom: 15px;
}
.productSupport .sHotline span{
    font-weight: bold;
    color: #0baf4d;
}
.productTitle{
    margin-bottom: 10px;
}
.productTitle h1{
    font-size: 20px;
    line-height: 30px;
    color:#E5CB6C;
    text-transform: uppercase;
    font-weight: bold;
}
.productAttr ul li{
    padding: 9px 0;
    border-top: solid 1px rgba(0,0,0,0.15);
    color:#666666;
}
.productAttr ul li:last-child{
    border-bottom: solid 1px rgba(0,0,0,0.15);
}
.productAttr ul li .at{
    width: 95px;
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
}
.productAttr ul li .at:before{
    content: ":";
    float: right;
}
.productAttr ul li .as{
    overflow: hidden;
}
.productAttr ul li .stt{
    color:#0baf4d;
    text-transform: none;
    padding-left: 20px;
    position: relative;
}
.productAttr ul li .stt:before{
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#ed1c24;
}
.productAttr ul li .stt.hethang:before{
    content: "\f00d";
}
.productAttr ul li .stt.dangve:before{
    content: "\f017";
}
.productAttr{
    margin-bottom: 35px;
}
.productDes {
    color:#666666;
    margin-bottom: 15px;
}
.productVideo a{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    background: #FF0000;
    padding: 15px 20px;
}
.productVideo a span{
    padding-left: 30px;
    position: relative;
}
.productVideo a span:before{
    content: "\f16a";
    font-family: fontAwesome;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 26px;
}
.productVideo a:hover{
    background: #333333;
}

.product .hethang{
    position: absolute;
    right:10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#ed1c24;
    padding-left: 20px;
}
.product .hethang:before{
    content: "\f00d";
    font-family: fontAwesome;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#0baf4d;
}
.productTable{
    margin-bottom: 60px;
}
.productTable .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fafafa;
    padding: 23px 20px;
    margin-bottom: 2px;
}
.productTable table{
    color:#666666;
    width: 100%;
}
.productTable table tr th{
    background: #fafafa;
    padding: 16px 0;
    font-weight: bold;
    color:#333333;
    text-transform: uppercase;
}
.productTable table tr td{
    padding: 20px 10px;
}
.productTable table tr td:nth-child(6){
    max-width: 210px;
}
.productTable table tr td:nth-child(7){
    color:#ed1c24;
}
.productTable table tr td:first-child{
    padding-left: 0;
}
.productTable table tr td:last-child{
    padding-right: 0;
}
.productTable table .img{
    width: 70px;
    height: 70px;
    border:solid 1px #e2e2e2;
    position: relative;
}
.productTable table .img img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.productTable .quantity{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.productTable .quantity input{
    width: 50px;
    height: 40px;
    border:solid 1px #999999;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.productTable .quantity button{
    width: 40px;
    height: 40px;
    background: #0baf4d;
    border:none;
    color:#ffffff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.productTable .quantity button.out_stock{
    background: #333333;
}
.productTable .quantity button:hover{
    background: #333333;
}
.productTable .more a{
    display: block;
    background: #fafafa;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 10px;
    width:100%;
    max-width: 350px;
    margin: 0 auto;
}
.productTable .more a:hover{
    background: #0baf4d;
    color:#ffffff;
}
/*====================================================*/
.productOther .title{
	margin-bottom: 15px;
}
.productOther .title h2{
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
#slideOther .slick-list{
	margin: 0 -15px;
}
#slideOther .item{
	padding: 0 15px;
}
#slideOther .product{
	margin-bottom: 0;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.product .tend a{
	font-size: 14px;
	line-height: 22px;
}
.filter .content{
	display: none;
}
.filter.active .content{
	display: block;
}
.filter .title{
	position: relative;
	cursor: pointer;
}
.filter .title:before{
	content: "\f0d7";
	font-family: fontAwesome;
	position: absolute;
	right:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.productContent{
	position: relative;
}
.productContent .tab-list{
	position: absolute;
	top: 40px;
	left: 0;
	right:0;
	display: block;
	background: #ffffff;
	display: none;
}
.productContent.active .tab-list{
	display: block;
}
.productContent .tab-list li a {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}
.productContent .tab-list li.active a{
	background: #ffffff;
	color: #bd9352;
}
.productDes{
	font-size: 14px;
	line-height: 22px;
}
.productTitle h1{
	font-size: 20px;
	line-height: 30px;
}
}

@media all and (max-width: 768px){

}

@media all and (max-width: 680px){
.productThumbnail{
	padding-left: 0;
}
div#vnt-thumbnail-nav{
	position: relative;
	width: 100%;
}
div#vnt-thumbnail-nav .slick-list{
	margin: 0 -10px;
}
div#vnt-thumbnail-nav .item{
	padding: 0 10px;
}
div#vnt-thumbnail-nav .img{
	padding-top: 100%;
	position: relative;
	overflow: hidden;
}
div#vnt-thumbnail-nav .img img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.productTitle h1,
.productTitle h2{
	font-size: 20px;
	line-height: 30px;
}
}

@media all and (max-width: 460px){

}

@media all and (max-width: 360px){
.productHotline{
	font-size: 16px;
	line-height: 24px;
}
.productHotline .c{
	font-size: 15px;
	line-height: 23px;
}
}