    .wrapCont{
        margin-bottom: 60px;
    }
    .vnt-banner{
        position: relative;
        margin-bottom: 0;
        position: relative;
        min-height: 40px;
    }
    #vnt-banner .i-img img{
        width: 100%;
    }
    #vnt-banner .slick-dots{
        display: none !important;
    }
    #vnt-banner.slick-initialized .item, #vnt-banner .item:first-child{
        display: block;
    }
    #vnt-banner .item{
        display: none;
    }
    /***********************************/
    .chat {
        width: 225px;
        height: 40px;
        background: #497939;
        padding: 8px 15px;
        color: #fff;
        font-size: 14px;
        line-height: 25px;
        font-weight: 600;
        position: fixed;
        z-index: 789;
        bottom: 0;
        right: 4px;
        border-radius: 3px 3px 0 0;
        padding-left: 45px;
    }
    .chat:before {
        position: absolute;
        content: '\f0e6';
        font-family: fontAwesome;
        left: 15px;
        top: 50%;
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /******************************************/
     .go_top {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background: #000000;
        position: fixed;
        right: 20px;
        bottom: 160px;
        z-index: 999;
        transition: all 0.5s;
    }
    .go_top:before {
        content: '\f106';
        display: block;
        text-align: center;
        font-size: 23px;
        line-height: 42px;
        color: #ffffff;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        font-family: 'fontAwesome';
        animation: bounce1 2s infinite;
        -webkit-animation: bounce1 2s infinite;
        -moz-animation: bounce1 2s infinite;
        -o-animation: bounce1 2s infinite;
        transition: all 0.5s;
    }
    @-webkit-keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0,0);}
        40% {transform: translate(0,-6px);}
        60% {transform: translate(0,-3px);}
    }

    @-moz-keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0,0);}
        40% {transform: translate(0,-6px);}
        60% {transform: translate(0,-3px);}
    }

    @-o-keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0,0);}
        40% {transform: translate(0,-6px);}
        60% {transform: translate(0,-3px);}
    }
    @keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0,0);}
        40% {transform: translate(0,-6px);}
        60% {transform: translate(0,-3px);}
    }
    /********************************/

    .go_top:hover{
        background: #497939;
    }
    .go_top:hover:before{
        color: #ffffff;
    }
    @-webkit-keyframes spread-effect {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% {
            -ms-transform:translate(-50%,-50%) scale(1.4);
            -webkit-transform:translate(-50%,-50%) scale(1.4);
            transform:translate(-50%,-50%) scale(1.4);
            opacity: 0;
        }
    }
    @-moz-keyframes spread-effect {
        0% { opacity: 0; }
        20% { opacity: 1; }
        100% {
            -ms-transform:translate(-50%,-50%) scale(1.4);
            -webkit-transform:translate(-50%,-50%) scale(1.4);
            transform:translate(-50%,-50%) scale(1.4);
            opacity: 0;
        }
    }
    @-ms-keyframes spread-effect {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% {
            -ms-transform:translate(-50%,-50%) scale(1.4);
            -webkit-transform:translate(-50%,-50%) scale(1.4);
            transform:translate(-50%,-50%) scale(1.4);
            opacity: 0;
        }
    }
    @-o-keyframes spread-effect {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% {
            -ms-transform:translate(-50%,-50%) scale(1.4);
            -webkit-transform:translate(-50%,-50%) scale(1.4);
            transform:translate(-50%,-50%) scale(1.4);
            opacity: 0;
        }
    }
    @keyframes spread-effect {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% {
            -ms-transform:translate(-50%,-50%) scale(1.4);
            -webkit-transform:translate(-50%,-50%) scale(1.4);
            transform:translate(-50%,-50%) scale(1.4);
            opacity: 0;
        }
    }
    /****************************************/
    .support-hotline{
        position: fixed;
        top: 100px;
        right: 15px;
        z-index: 50;
        pointer-events: none;
    }
    .support-hotline .div_title{
        position: relative;
        z-index: 20;
        pointer-events: auto;
        cursor: pointer;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
        -webkit-transform:translate(160px,0);
        -moz-transform:translate(160px,0);
        -o-transform:translate(160px,0);
        -ms-transform:translate(160px,0);
        transform:translate(160px,0);
    }
    .support-hotline .div_title span.icon{
        width: 50px;
        height: 50px;
        position: relative;
        display: block;
    }
    .support-hotline .div_title span.icon:before{
        background-color: rgba(87,131,72,0.9);
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        position: absolute;
        content: '';
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
        animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .support-hotline .div_title span.icon:after{
        top: -30px;
        left: -30px;
        right: -30px;
        bottom: -30px;
        position: absolute;
        content: '';
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid #578348;
        opacity: .1;
        -webkit-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
        -moz-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
        -ms-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
        -o-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
        animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .support-hotline .div_title i{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        background: #578348;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
        -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
        -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
        -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
        animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .support-hotline .div_title.show{
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -o-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
    }
    .support-hotline .div_title span.text{
        display: block;
        position: absolute;
        bottom: 7px;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 11px;
        line-height: 16px;
    }
    .support-hotline  .div_content{
        pointer-events: auto;
        width: 300px;
        position: absolute;
        top: 0;
        right: 75px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.3);
        box-shadow: 0 1px 6px rgba(0,0,0,.3);
        -webkit-transform:translate(400px,0);
        -moz-transform:translate(400px,0);
        -o-transform:translate(400px,0);
        -ms-transform:translate(400px,0);
        transform:translate(400px,0);
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
        padding: 18px 20px;
        color: #ffffff;
    }
    .support-hotline.show  .div_content{
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -o-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
    }
    .support-hotline .div_content .box-content{
        padding-bottom: 15px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .support-hotline .div_content .box-content:last-child{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 5px;
    }
    .support-hotline .div_content .box-content .box-left{
        width: 50%;
    }
    .support-hotline .div_content .box-content .box-left h2{
        font-size: 16px;
        line-height: 22px;
        color: #e90001;
        font-weight: 400;
    }
    .support-hotline .div_content .box-content .box-left strong{
        font-size: 16px;
        line-height: 22px;
        color: #333333;
    }
    .support-hotline .div_content .box-content .box-right{
        width: 50%;
    }
    .support-hotline .div_content .box-content .box-right ul{

    }
    .support-hotline .div_content .box-content .box-right ul li{
        float: right;
        margin-left: 5px;
        width: 25px;
    }
    .support-hotline .div_content .box-content .box-right ul li:last-child{
        margin-left: 0;
    }
    .support-hotline .div_content .box-content .box-right ul li a{
        display: block;
        opacity: 1;
        -webkit-transition: all 0.4s;
         -o-transition: all 0.4s;
         transition: all 0.4s;
    }
    .support-hotline .div_content .box-content .box-right ul li a:hover{
        opacity: 0.6;
    }


    @-moz-keyframes quick-alo-circle-img-anim {
        0% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }
        10% {
            -moz-transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            -moz-transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            -moz-transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            -moz-transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            -moz-transform: rotate(0deg) scale(1) skew(1deg)
        }
        100% {
            -moz-transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    @-webkit-keyframes quick-alo-circle-img-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg)
        }
        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg)
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    @-o-keyframes quick-alo-circle-img-anim {
        0% {
            -o-transform: rotate(0deg) scale(1) skew(1deg)
        }
        10% {
            -o-transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            -o-transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            -o-transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            -o-transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            -o-transform: rotate(0deg) scale(1) skew(1deg)
        }
        100% {
            -o-transform: rotate(0deg) scale(1) skew(1deg)
        }
    }
    @keyframes quick-alo-circle-img-anim {
        0% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }
        10% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }
        100% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    @-moz-keyframes quick-alo-circle-fill-anim {
        0% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
    }

    @-webkit-keyframes quick-alo-circle-fill-anim {
        0% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
    }

    @-o-keyframes quick-alo-circle-fill-anim {
        0% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
    }

    @keyframes quick-alo-circle-fill-anim {
        0% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .2
        }
    }

    @-moz-keyframes quick-alo-circle-anim {
        0% {
            transform: rotate(0deg) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .1
        }
    }

    @-webkit-keyframes quick-alo-circle-anim {
        0% {
            transform: rotate(0deg) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .1
        }
    }

    @-o-keyframes quick-alo-circle-anim {
        0% {
            transform: rotate(0deg) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .1
        }
    }

    @keyframes quick-alo-circle-anim {
        0% {
            transform: rotate(0deg) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .1
        }
    }

    @-webkit-keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(-50%,0);}
        40% {transform: translate(-50%,-10px);}
        60% {transform: translate(-50%,-5px);}
    }

    @-moz-keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(-50%,0);}
        40% {transform: translate(-50%,-10px);}
        60% {transform: translate(-50%,-5px);}
    }

    @-o-keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(-50%,0);}
        40% {transform: translate(-50%,-10px);}
        60% {transform: translate(-50%,-5px);}
    }
    @keyframes bounce1 {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(-50%,0);}
        40% {transform: translate(-50%,-10px);}
        60% {transform: translate(-50%,-5px);}
    }
    /*===========BEGIN: COMMENT=============*/
    .comment{

    }
    .comment .title{
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 8px;
        text-transform: uppercase;
        color: #333333;
        font-weight: 600;
    }
    .formComment .form-control{
        height: 38px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .formComment textarea.form-control{
        resize: vertical;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
        height: 100px;
    }
    .formComment .input-group-btn{
        padding-left: 5px;
        vertical-align: top;
    }
    .formComment .input-group-img{
        display: table-cell;
        padding-left: 10px;
        vertical-align: top;
    }
    .formComment .input-group-img img{
        max-width: none;
    }
    .formComment button.btn{
        height: auto;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        padding: 7px 20px;
        text-transform: uppercase;
        background: #67635c;
        border: 0;
        margin-right: 5px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .formComment button.btn:hover{
        background: #55a532;
    }
    .formComment button.btn:active{
        outline: none;
    }
    .formComment button.btn span{
        color: #ffffff;
    }
    .formComment .w_content .content-info{
        padding: 15px;
        clear: both;
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        display: none;
    }
    .formComment .w_content .content-info .info-title{
        margin-bottom: 10px;
    }
    .formComment .w_content .content-info .form-control{
        float: none;
        margin-bottom: 10px;
    }
    .r_content .form-control{
        margin-bottom: 5px;
        border-radius: 0;
    }
    .r_content{
        margin-bottom: 10px;
    }
    .r_content textarea{
        border-radius: 0;
    }
    .r_content button.btn{
        height: auto;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        padding: 7px 20px;
        text-transform: uppercase;
        background: #67635c;
        border: 0;
        margin-right: 5px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .r_content button.btn:hover{
        background: #da251c;
    }
    .r_content button.btn:active{
        outline: none;
    }
    .r_content button.btn span{
        color: #ffffff;
    }
    .r_content .input-group-img {
        display: table-cell;
        vertical-align: top;
        padding-left: 10px;
    }
    /*=================================*/
    .grid-comment{
        margin-bottom: 10px;
    }
    .grid-comment .node-commnet{
        padding: 20px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    .grid-comment .node-commnet .avatar{
        width: 55px;
        float: left;
    }
    .grid-comment .node-commnet .avatar img{
        width: 100%;
    }
    .grid-comment .node-commnet .info-comment{
        margin-left: 70px;
    }
    .grid-comment .node-commnet .info-comment .info-preson{
        font-size: 12px;
        line-height: 25px;
        color: #7c7c7c;
    }
    .grid-comment .node-commnet .info-comment .info-preson .name{
        font-size: 14px;
        color: #333333;
        font-weight: bold;
    }
    .grid-comment .node-commnet .info-comment .ccomment{
        font-size: 14px;
        line-height: 25px;
    }
    .grid-comment .node-commnet .info-comment .linkanswer{
        margin-bottom: 10px;
        margin-top: 5px;
        text-align: right;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: #f58021;
    }
    .grid-comment .node-commnet .info-comment .linkanswer a{
        position: relative;
        display: inline-block;
        padding-right: 12px;
        color: #55a532;
    }
    .grid-comment .node-commnet .info-comment .linkanswer a:hover{
        text-decoration: underline;
    }
    .grid-comment .node-commnet .info-comment .linkanswer a:after{
        position: absolute;
        font-family:"fontawesome";
        content:"\f054";
        top:2px;
        right: 0;
        color: #55a532;
        font-size: 7px;
    }
    .listanswer .nodeanswer{
        background-color: #f2f2f2;
        margin-bottom:1px;
        padding: 10px;
    }
    .conmment-facebook{
        margin-bottom: 20px;
    }
    .comment-fb{
        margin: 20px 0;
    }
    .fan-fb{
        margin-bottom: 30px;
    }

    /*==================BEGIN BREADCRUMB===============*/
    #vnt-navation {
        background: #f2f2f2;
        padding: 3px 0;
        /*margin-bottom: 22px;*/
    }
    .breadcrumb ul {
        width: initial;
    }
    .breadcrumb ul li {
        padding: 0 10px;
        position: relative;
        display: inline-block;
        font-size: 13px;
        line-height: 26px;
        color: #333;
        font-weight: normal;
    }
    .breadcrumb ul li:first-child {
        margin-left: 0;
        padding-left: 10px;
    }
    .breadcrumb ul li a {
        font-size: 12px;
        line-height: 26px;
        color: #333;
        font-weight: 300;
        text-transform: uppercase;
        font-weight: normal;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .breadcrumb ul li.current a ,.breadcrumb ul li:hover a{
        color: #07944a;
    }
    .breadcrumb ul li ~ li:before {
        position: absolute;
        font-family: "fontawesome";
        content: "\f105";
        top: 0;
        left: -4px;
        font-size: 13px;
        color: #333;
    }

    /*==================BEGIN BOX MID==================*/
    .box_mid .mid-title{
        margin-bottom: 0;
    }
    .box_mid .mid-title .titleL{
        padding-top: 20px;
        font-size: 40px;
        line-height: 50px;
        color: #333333;
        font-family: 'Tinos', serif;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 15px;
        text-align: center;
        border-bottom: 1px dotted #cccccc;
    }
    .box_mid .mid-title .titleL:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 70px;
        height: 2px;
        z-index: 1;
        background: #497939;
    }
    .box_mid .mid-title .titleL h1, .box_mid .mid-title .titleL h2{
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: inherit;
        padding-bottom: 0;
    }

    .box_mid .mid-title .titleL.nor{
        text-transform: none !important;
        color: #333333;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 42px;
        line-height: 55px;
        border-bottom: 0;
        text-align: left;
        padding-bottom: 0;
    }
    .box_mid .mid-title .titleL.nor:after{
        content: none;
    }
    .box_mid .mid-title .titleL.nor h1{
        content: none;
        text-transform: none !important;
    }
    .feedback ul li:last-child a{
        background: none;
    }
    /**************************************************************************************/
    .wrap_product{
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .wrap_product:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
    .wrap_product .img{
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .wrap_product .img span{
        background: #497939;
        display: block;
        font-size: 14px;
        color: #fff;
        padding: 5px 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .wrap_product .img img{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .wrap_product .i-desc{
        text-align: center;
        padding: 0 10px 10px;
    }
    .wrap_product .i-desc .i-title h3 a{
        display: block;
        font-size: 15px;
        line-height: 25px;
        color: #333;
        overflow: hidden;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
    }
    .wrap_product .i-desc .i-price .promotion{
        font-size: 15px;
        line-height: 25px;
        color: #497939;
        font-weight: 600;
    }
    .wrap_product .i-desc .i-price .promotion .pc{
        position: relative;
        left: -5px;
    }
    .wrap_product .i-desc .i-price .regular{
        font-size: 13px;
        line-height: 25px;
        color: #999999;
        font-weight: 600;
        text-decoration: line-through;
    }
    /*******************************************************************************************/
    .cat_style{
        margin-bottom: 35px;
        position: relative;
    }
    .cat_style{
        margin-bottom: 30px;
    }
    .cat_style .cp_title{
        font-size: 14px;
        line-height: 23px;
        color: #333333;
        font-weight: 400;
        padding: 8px 15px;
        border: 1px solid #d1d1d1;
        position: relative;
        cursor: pointer;
        display: none;
    }
    .cat_style .cp_title:after{
        content: '\f0d7';
        font-family: fontawesome;
        font-size: 18px;
        color: #333333;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cat_style .cp_content ul{
        text-align: center;
    }
    .cat_style .cp_content ul li{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 10px 5px;
        position: relative;
    }
    .cat_style .cp_content ul li a{
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding: 9px 19px;
        border: 1px solid #d4d4d4;
        color: #333333;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .cat_style .cp_content ul li a:hover,
    .cat_style .cp_content ul li.current a{
        border-color: #000000;
        color: #fff;
        background: #000000;
    }

    /***************************************************/
    .titleMain{
        position: relative;
        margin-bottom: 20px;
    }
    .titleMain h2{
        font-size: 16px;
        line-height: 34px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0 10px;
        background: #000;
        height: 30px;
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    .titleMain:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('../images/main/parent.html') repeat-x;
        height: 12px;
        z-index: 1;
    }

    .date {
        font-size: 12px;
        line-height: 20px;
        color: #bbb;
        font-weight: 400;
        margin-bottom: 2px;
    }
    /**********************************************/
    .div_auto_complete{
        position: relative;
    }
    .div_auto_complete.active{
        z-index: 999999;
    }
    .div_auto_complete:after{
        position: absolute;
        top: 50%;
        right: 10px;
        font-family: fontawesome;
        content: '\f0d7';
        font-size: 16px;
        line-height: 25px;
        z-index: 10;
        pointer-events: none;
        color: #333333;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .div_auto_complete .dropdown_select{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow: auto;
        background: #ffffff;
        margin-top: 1px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .div_auto_complete.active .dropdown_select{
        opacity: 1;
        visibility: visible;
    }
    .div_auto_complete .dropdown_select ul li{
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: #555555;
        cursor: pointer;
    }
    .div_auto_complete .dropdown_select ul li.closed{
        display: none;
    }
    .div_auto_complete .dropdown_select ul li li{
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 0;
    }
    .div_auto_complete .dropdown_select ul li span.text{
        display: block;
        padding: 10px 15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .div_auto_complete .dropdown_select ul li li span.text:before{
        content: '|-- ';
    }
    .div_auto_complete .dropdown_select ul li:hover > span.text{
        background: #f7f7f7;
    }
    .style_input .div_auto_complete .form-control{
        padding-right: 25px;
    }

    /**********************************************/


    @media screen and (max-width: 1024px){
        .vnt-banner{
            margin-bottom: 35px;
        }
        .support-hotline{
            display: none;
        }
        #vnt-navation{
            display: none;
        }
        .chat{
            width: 170px;
            right: 0;
            font-size: 13px;
            padding: 8px 10px;
            padding-left: 30px;
        }
        .chat:before{
            left: 8px;
        }
        /****************************/
        #vnt-sidebar{
            width: 100%;
        }
        #vnt-main{
            width: 100%;
        }
        /****************************/
        .cat_style{
            margin-bottom: 40px;
            position: relative;
        }
        .cat_style .cp_title{
            display: block;
        }
        .cat_style .cp_content{
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            display: none;
            background: #f2f2f2;
            z-index: 10;
        }
        .cat_style.active .cp_content{
            display: block;
        }
        .cat_style .cp_content ul{

        }
        .cat_style .cp_content ul li{
            float: none;
            display: block;
            margin: 0;
            border-top: 1px solid #333;
        }
        .cat_style .cp_content ul li a{
            margin-right: 0;
            padding: 5px 15px;
            text-align: left;
        }
        .cat_style .cp_content ul li a:after{
            content: none;
        }
        /****************************/
        .wrapCont{
            margin-bottom: 40px;
        }
        .box_mid .mid-title .titleL{
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        .box_mid .mid-title{
            margin-bottom: 0;
        }
        .box_mid .mid-title .titleL.nor{
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15px;
        }
        /*********************************/
        #fixed_hotline{
            z-index: 100000;
        }
        #fixed_hotline .hotline_content{
            width: auto;
            background: #ffffff;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            padding-bottom: 44px;
            padding-top: 40px;
        }
        #fixed_hotline .hotline_content .w_hotline_content{
            max-height: 100%;
            overflow: auto;
        }
        #fixed_hotline .hotline_content .d_close{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #fixed_hotline .hotline_content .d_title{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        /**********************/
        .wrap_product .i-desc .i-title h3 a{
            white-space: initial;
            text-overflow: initial;
            height: 50px;
        }
    }

    @media screen and (max-width: 992px){

    }

    @media screen and (max-width: 768px){

    }

    @media screen and (max-width: 479px){
        .like_facebook ul li{
            margin-bottom: 5px;
        }
        .like_facebook a{
            height: 27px;
        }
    }

    @media screen and (max-width: 379px){
        .chat{
            width: 135px;
            font-size: 12px;
            padding: 8px 5px;
            padding-left: 10px;
        }
        .chat:before{
            content: none;
        }
    }

    @media screen and (max-width: 325px){
        .like_facebook a{
            height: initial;
        }
    }

    
