* {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}
.bg-gray {
  background-color: #f7f8fa;
}
.bg-blue {
  background-color: #034c79;
}
.bg-black {
  background-color: #414042;
}
.container--1063 {
  max-width: 1063px;
}
.container--1020 {
  max-width: 1020px;
}
.container--608 {
  max-width: 608px;
}
.container--924 {
  max-width: 924px;
}
.container--691 {
  max-width: 691px;
}
.container--790 {
  max-width: 790px;
}
.container--998 {
  max-width: 998px;
}
.container--768 {
  max-width: 768px;
}
.container--850 {
  max-width: 850px;
}
.container--860 {
  max-width: 860px;
}
.container--890 {
  max-width: 890px;
}
.container--830 {
  max-width: 830;
}
img {
  max-width: 100%;
}
.fs-7 {
  font-size: 7px;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-33 {
  font-size: 33px;
}
.fs-43 {
  font-size: 43px;
}
.text-black {
  color: #000;
}
.text-sky {
  color: #30bcee;
}
.text-blue {
  color: #08649c;
}
.w-75 {
  width: 75%;
}
@font-face {
  font-family: 'Mobifone';
  font-style: normal;
  src: url("../fonts/UTMMobifoneKT.eot?#iefix") format('embedded-opentype'), url("../fonts/UTMMobifoneKT.woff") format('woff'), url("../fonts/UTMMobifoneKT.ttf") format('truetype'), url("../fonts/UTMMobifoneKT.svg#UTMMobifoneKT") format('svg');
}
.ff-mobifone {
  font-family: 'Mobifone', sans-serif !important;
}
.breadcrumb {
  background: none;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .fs-lg-21 {
    font-size: 21px;
  }
  .fs-lg-26 {
    font-size: 26px;
  }
  .fs-lg-28 {
    font-size: 28px;
  }
  .fs-lg-31 {
    font-size: 31px;
  }
  .fs-lg-33 {
    font-size: 33px;
  }
  .fs-lg-35 {
    font-size: 33px;
  }
  .fs-lg-41 {
    font-size: 41px;
  }
  .fs-lg-43 {
    font-size: 43px;
  }
  .fs-lg-47 {
    font-size: 47px;
  }
  .fs-lg-55 {
    font-size: 55px;
  }
}
@media (min-width: 320px) {
  header {
    margin-bottom: 10px;
  }
  header .navbar {
    padding: 10px 0 0;
  }
  header .navbar .navbar-brand {
    max-height: 100%;
    max-width: 131px;
  }
  header .navbar .navbar-nav {
    display: flex;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 0;
    margin: 0 auto;
  }
  header .navbar .navbar-nav .nav-item a {
    font-size: 12px;
    line-height: 14.4px;
    color: #000;
    padding: 12px 17px;
    display: inline-block;
    border-bottom: 4px solid #fff;
  }
  header .navbar .navbar-nav .nav-item a:hover {
    border-bottom: 4px solid #30bcee;
    text-decoration: none;
  }
  header .navbar .navbar-nav .active a {
    border-bottom: 4px solid #30bcee;
    text-decoration: none;
  }
  header .navbar .search {
    width: 20px;
    padding: 0 0 20px 0;
    margin: 0 auto;
    display: block;
  }
  header .navbar .language {
    width: 20px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  header {
    margin-bottom: 0px;
    border-bottom: 1px solid #808080;
  }
  header .navbar {
    padding: 10px 0 0;
  }
  header .navbar .navbar-brand {
    max-height: 100%;
    max-width: 131px;
  }
  header .navbar .navbar-nav {
    display: flex;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 0;
  }
  header .navbar .navbar-nav .nav-item a {
    font-size: 12px;
    line-height: 14.4px;
    color: #000;
    padding: 52px 17px 33px;
  }
  header .navbar .navbar-nav .nav-item a:hover {
    border-bottom: 4px solid #30bcee;
    text-decoration: none;
  }
  header .navbar .search {
    width: 20px;
    padding: 52px 0 33px;
    margin: 0 20px 0 35px;
  }
  header .navbar .language {
    width: 20px;
    padding: 9px 0 0px;
    display: inline-block;
    margin-right: 10px;
  }
}
@media (min-width: 320px) {
  .subscribe {
    padding: 46px 0;
  }
  .subscribe .subscribe__form {
    display: flex;
    justify-content: space-between;
  }
  .subscribe .subscribe__form .subscribe__input {
    height: 44px;
    width: calc(100% - 96px);
    padding-left: 10px;
    border: none;
    background-color: #f2f2f2;
  }
  .subscribe .subscribe__form .subscribe__input::placeholder {
    color: #b3b3b3;
  }
  .subscribe .subscribe__form .subscribe__submit {
    padding: 6px 15px;
    line-height: 20px;
    background-color: #30bcee;
    border: none;
    font-size: 13px;
  }
  .menu.bg-blue {
    padding-top: 25px;
    padding-bottom: 45px;
  }
  .item-footer {
    padding: 4px;
  }
  .menu__title {
    margin-bottom: 20px;
  }
  .social.text-center {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .copyright__info {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .language {
    width: 20px;
    height: 11px;
    padding: 9px 0 0px;
    display: inline-block;
    margin-right: 10px;
  }
  .social__icon {
    width: 26px;
    margin-right: 15px;
  }
  .sologan-footer {
    padding-top: 25px;
  }
  .language-footer {
    float: right;
  }
  .language-footer .search {
    padding: 0;
    margin: 10px;
    width: 20px;
  }
}
@media (min-width: 992px) {
  .subscribe {
    padding: 106px 0;
  }
  .subscribe .subscribe__form {
    display: flex;
    justify-content: space-between;
  }
  .subscribe .subscribe__form .subscribe__input {
    height: 44px;
    width: calc(100% - 188px);
    padding-left: 30px;
  }
  .menu.bg-blue {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .menu__title {
    margin-bottom: 25px;
  }
  .social.text-center {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .social__icon {
    width: 36px;
    margin-right: 24px;
  }
  .copyright__info {
    padding-bottom: 50px;
  }
  .language {
    width: 20px;
    height: 11px;
    padding: 9px 0 0px;
    display: inline-block;
    margin-right: 10px;
  }
  .search {
    width: 20px;
    padding: 52px 0 33px;
    margin: 0 20px 0 35px;
  }
  .language-footer {
    float: right;
  }
  .sologan-footer {
    padding-top: 45px;
  }
}
@media (min-width: 320px) {
  .col--home-product {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .img-banner-product {
    margin-top: 30px;
  }
  .product-card {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .product-card:hover {
    text-decoration: none;
  }
  .product-card:hover .btn--detail {
    color: #fff;
    background-color: #30bcee;
  }
  .product-card img {
    margin-bottom: 20px;
  }
  .btn--detail {
    padding: 6px 20px;
    border: 2px solid #30bcee;
    border-radius: 25px;
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .col--home-product {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .img-banner-product {
    margin-top: 70px;
  }
  .product-card {
    margin-top: 130px;
    margin-bottom: 120px;
  }
  .product-card img {
    margin-bottom: 60px;
  }
  .btn--detail {
    border: 2px solid #30bcee;
    border-radius: 25px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .col--home-product {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product .container .row {
    margin-left: -24px;
    margin-right: -24px;
  }
}
.product_item_style_1 {
  margin-bottom: 20px;
  padding-right: 8px;
  padding-left: 8px;
}
.product_item_style_1 .item__wrap {
  background: #f7f8fa;
  padding-bottom: 30px;
}
.product_item_style_1 .item__title {
  font-size: 16px;
  text-align: center;
}
.product_item_style_1 .item__price {
  font-size: 15px;
  text-align: center;
}
.product_item_style_1 .item__shortdescription {
  font-size: 10px;
  margin-bottom: 10px;
}
.product_item_style_1 .divider {
  border-top: 1px solid #ccc;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.product_item_style_1 .btn-detail {
  border: 1px solid #343a40;
  border-radius: 1rem;
  padding: 5px 15px;
  font-size: 10px;
  margin: 0 auto;
  display: block;
  width: 130px;
  text-align: center;
}
.select-box {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #60666d;
  font-size: 12px;
}
.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0px 60px 0px 10px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}
@-moz-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@-o-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.item-contact {
  margin-bottom: 16px;
  background: #f7f8fa;
  padding: 24px 10px;
  font-weight: 600;
  background-color: #f7f8fa;
  border: 0;
  border-radius: 10px;
}
.name-item-contact {
  font-weight: 600;
  margin-bottom: 0px;
}
.map-contact {
  width: 100%;
}
.contact h1 {
  color: #414042;
}
.company-info span {
  color: #30bcee;
}
.company-info span img {
  max-width: 8px;
  max-height: 8px;
  margin-right: 4px;
}
.form-contact {
  margin-bottom: 70px;
}
.form-contact input {
  height: 46px;
}
.form-contact .form-group {
  padding-left: 30px;
  font-size: 11px;
  line-height: 46px;
}
.form-contact .form-group::placeholder {
  font-size: 14px;
  font-weight: 300;
}
.form-contact .btn-contact {
  float: left;
  text-transform: uppercase;
  background-color: #30bcee;
  color: #fff;
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact h3 {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .title-contact {
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
  }
  .form-contact {
    padding-top: 30px;
  }
  .border-form-contact {
    border: 0;
    border-radius: 10px;
    background-color: #f7f8fa;
    height: 46px;
  }
  .border-textarea-contact {
    border-radius: 10px;
    border: 0;
    height: 170px !important;
    background-color: #f7f8fa;
  }
  .form-contact {
    max-width: 661px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .company-info {
    margin-top: 20px;
  }
  .form-contact {
    margin-top: 30px;
  }
  .map-contact {
    width: 100%;
    height: 400px;
  }
  .form-contact {
    margin-bottom: 110px;
  }
  .form-contact .btn-contact {
    float: left;
    text-transform: uppercase;
    background-color: #30bcee;
    color: #fff;
    padding: 10px 40px;
    margin-top: 30px;
  }
  .form-contact .form_left {
    padding: 0px;
  }
}
.page-system-cool {
  font-size: 12px;
}
.page-system-cool h1 {
  font-size: 55px;
}
.page-system-cool table {
  font-size: 10px;
}
.page-system-cool table thead {
  font-size: 12px;
}
.page-system-cool table thead th {
  border: none;
  padding: 0px 0px 20px 0px;
}
.page-system-cool table td {
  padding: 20px 0;
}
.page-system-cool select.form-control {
  font-size: 12px;
  border: none;
  padding: 0px;
  height: auto;
}
.page-system-cool .shop-ecool {
  font-weight: 500;
}
.page-system-cool .see-more-system-ecool {
  margin-bottom: 50px;
  color: #30bcee;
}
.page-system-cool .shop-ecool {
  font-weight: 500;
}
.page-system-cool .map-contact {
  opacity: 0.5;
  width: 100%;
  height: 400px;
  background-color: #808080;
}
.news-detail .social-news-detail .social__icon {
  width: 23px;
  margin-right: 10px;
}
.news-detail .news-content img {
  margin-top: 20px;
}
.news-detail .news-date {
  margin-top: 30px;
}
.news-detail .news-related {
  padding-top: 40px;
  padding-bottom: 45px;
}
.news-detail .related-item {
  padding-left: 15px;
  padding-right: 15px;
}
.news-detail .related-items a:hover {
  text-decoration: none;
}
.news-detail .related-items .slick-prev {
  background-image: url("/images/arrow-left-slide.png");
  background-size: 100% 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 40%;
  left: -50px;
}
.news-detail .related-items .slick-prev:before {
  content: none;
}
.news-detail .related-items .slick-next {
  background-image: url("/images/arrow-right-slide.png");
  background-size: 100% 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 40%;
  right: -50px;
}
.news-detail .related-items .slick-next:before {
  content: none;
}
.news-detail + footer .subscribe {
  background-color: #fff;
}
@media (min-width: 992px) {
  .news-detail .news-related {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .news-detail .related-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.title-icon-ecool {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.items-ecool {
  margin-top: 30px;
  margin-bottom: 70px;
}
.title-about-ecool {
  margin-top: 30px;
  margin-bottom: 20px;
}
.line-down {
  margin-bottom: 20px;
}
.img-item {
  opacity: 0.4;
}
.image-items-post {
  margin-top: 40px;
  padding-bottom: 200px;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
.items-product {
  margin-top: 40px;
  margin-bottom: 40px;
}
.items-slide .arrow {
  right: 15px;
  left: unset;
}
.about-description {
  line-height: 22px;
  text-align: justify;
}
.item-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
  position: relative;
}
.item-img .img-item-ecool {
  max-width: 65%;
  max-height: 65%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-light {
  font-size: 17px;
  line-height: 22px;
}
.title-medium {
  font-size: 20px;
  line-height: 30px;
}
@media (min-width: 992px) {
  .title-about-ecool {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .line-down {
    margin-bottom: 60px;
  }
  .title-icon-ecool {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .items-ecool {
    margin-top: 80px;
    margin-bottom: 160px;
  }
  .title-light {
    font-size: 26px;
    line-height: 32px;
  }
  .title-medium {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 50px;
  }
  .items-product {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .image-items-post {
    padding-bottom: 500px;
  }
}
.arrow__left {
  opacity: 1;
}
.about-son-ha .title-son-ha {
  margin-top: 80px;
  margin-bottom: 40px;
}
.about-son-ha .description {
  margin-top: 40;
}
.about-son-ha .img-item-son-ha {
  width: 50px;
  height: 50px;
}
.about-son-ha .items-son-ha {
  margin-top: 20px;
}
.about-son-ha .slide__content {
  bottom: 30px;
  left: 25px;
}
.about-son-ha .slide__content p {
  max-width: 370px;
}
.about-son-ha .sonha-slide {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 11px;
  padding-right: 11px;
}
.about-son-ha .sonha-slide .slide {
  padding: 4px;
}
@media (min-width: 992px) {
  .about-son-ha .sonha-slide {
    padding-top: 50px;
    padding-bottom: 140px;
    padding-left: 11px;
    padding-right: 11px;
  }
  #slides-sonha-item .slick-prev:before,
  #slides-sonha-item .slick-next:before {
    color: #333;
  }
}
.ecool-product .products__description {
  max-width: 750px;
  margin: 0 auto;
}
.ecool-product .products-title {
  margin-top: 40px;
  margin-bottom: 30px;
}
.ecool-product .products__list {
  margin-left: -5px;
  margin-right: -5px;
}
.ecool-product .products__list .col-6.col-lg-3 {
  padding-left: 5px;
  padding-right: 5px;
}
.ecool-product .products__list .col-6.col-lg-3 .item-product {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.ecool-product .products__list .col-6.col-lg-3 .item-product .item-product__img {
  max-width: 52%;
  margin: 0 auto 35px;
}
.ecool-product .products__list .col-6.col-lg-3 .item-product .item-product__content {
  margin-bottom: 30px;
}
.ecool-product .products__list .col-6.col-lg-3 .item-product .btn--product {
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid;
}
.ecool-product .my-services {
  margin-bottom: 30px;
  margin-top: 30px;
}
.ecool-product .service-items {
  margin-bottom: 40px;
}
.ecool-product .service-items .service-item {
  max-width: 204px;
  margin: 0 auto 20px;
}
.ecool-product .service-items .img-service {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.ecool-product .service-items p {
  line-height: 18px;
}
.ecool-product .service-items a {
  color: #08649c;
}
.ecool-product .service-banner {
  margin-bottom: 50px;
}
.ecool-product .ecool-app {
  padding-top: 0px;
  padding-bottom: 50px;
}
.ecool-product .ecool-app .ecool-app__content {
  width: 320px;
  margin: 0 auto;
}
.ecool-product .ecool-app .ecool-app__content h2 {
  letter-spacing: 3px;
}
.ecool-product .ecool-app .ecool-app__content a {
  color: #08649c;
  margin-top: 25px;
  display: inline-block;
  margin-bottom: 30px;
}
.ecool-product .ecool-app .ecool-app__img {
  border-radius: 8px;
  width: calc(50% - 10px) !important;
  max-width: 191px;
  -webkit-box-shadow: 3px 7px 7px 0px rgba(0,37,68,0.2);
  -moz-box-shadow: 3px 7px 7px 0px rgba(0,37,68,0.2);
  box-shadow: 3px 7px 7px 0px rgba(0,37,68,0.2);
}
.ecool-product .ecool-app .ecool-app__img--left {
  margin-right: 20px;
}
.ecool-product .using {
  padding-top: 40px;
  padding-bottom: 20px;
}
.ecool-product .using h2 {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .ecool-product .products-title {
    margin-top: 70px;
    margin-bottom: 63px;
  }
  .ecool-product .my-services {
    margin-bottom: 50px;
    margin-top: 70px;
  }
  .ecool-product .service-items {
    margin-bottom: 80px;
  }
  .ecool-product .service-banner {
    margin-bottom: 80px;
  }
  .ecool-product .using {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .ecool-product .using h2 {
    margin-bottom: 50px;
  }
  .ecool-product .products__list .item-product {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #f7f8fa;
    margin-bottom: 40px;
    padding: 20px;
  }
  .ecool-product .products__list .item-product .item-product__img {
    max-width: 52%;
    margin: 0 auto 55px;
  }
  .ecool-product .products__list .item-product .item-product__content {
    margin-bottom: 30px;
  }
  .ecool-product .products__list .item-product .btn--product {
    padding: 5px 12px;
    border-radius: 10px;
    border: 1px solid;
  }
  .ecool-product .ecool-app {
    padding-top: 136px;
    padding-bottom: 136px;
  }
}
.item-service-products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.name-service-products {
  font-weight: 600;
}
@media (min-width: 992px) {
  .title-products {
    margin-bottom: 40px;
  }
  .description-products {
    font-weight: 600;
    margin-bottom: 40px;
  }
  .images-products {
    margin-bottom: 80px;
  }
  .img-item-product {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .item-des {
    margin-bottom: 60px;
  }
  .btn--product {
    font-size: 16px;
    border: 2px solid #808080;
    border-radius: 20px;
    margin-bottom: 40px;
  }
  .link-products-list {
    margin-bottom: 60px;
  }
  .title-service {
    margin-bottom: 80px;
  }
  .img-service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    text-align: center;
  }
  .service-item {
    margin-bottom: 80px;
  }
  .application {
    margin-bottom: 80px;
    background-color: #f7f8fa;
  }
  .title-using {
    margin-bottom: 80px;
  }
  .using {
    margin-bottom: 100px;
  }
}
.product-box .option-box {
  font-size: 12px;
}
.bd-highlight {
  font-weight: 500;
}
#btn-viewmorde {
  padding: 10px;
  border-radius: 20px;
  background-color: #f7f8fa;
}
.bd-highlight {
  font-weight: 600;
}
.select-box__input-text {
  font-weight: 500;
}
@media (min-width: 320px) {
  .btn-search-system {
    position: absolute;
    left: 20px;
    background: transparent;
    width: 34px;
    top: 13px;
  }
  .input-search-system {
    padding-left: 80px;
    border-radius: 30px;
  }
  .input-search-system::placeholder {
    font-size: 14px;
  }
  .form-search-system {
    position: relative;
  }
  .btn-search-system {
    border: 0;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .border-form-system {
    border: 0;
    border-radius: 30px;
    background-color: #f7f8fa;
    height: 46px;
  }
  .product-inverter .begin-products-list {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .product-inverter .begin-products-list .products-list-content {
    text-align: center;
  }
  #btn-viewmorde {
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
  }
}
@media (min-width: 992px) {
  .product-inverter .inverter {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #f7f8fa;
    padding: 50px;
  }
  .product-inverter .background-color {
    background-color: #f7f8fa;
    margin-bottom: 50px;
    border-bottom: 20px solid #f7f8fa;
  }
  .product-inverter .begin-products-list {
    background-color: #fff;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .product-inverter .begin-products-list .products-list-content {
    text-align: left;
  }
  .product-inverter .products-list-info {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .product-inverter .info-product {
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
  }
  .product-inverter .multiple-product {
    border: 2px solid #808080;
    border-radius: 20px;
    padding: 10px;
  }
  .product-inverter .see-more-product {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .product-inverter .news {
    padding-top: 30px;
  }
  .product-inverter .news h2 {
    line-height: 28px;
    margin-bottom: 20px;
  }
  .product-inverter .news .news__banner {
    position: relative;
    margin-bottom: 30px;
  }
  .product-inverter .news .news__banner .label {
    width: 122px;
    position: absolute;
    background-size: 100% 100%;
    padding-bottom: 25px;
    padding-left: 10px;
    left: 15px;
    top: 0;
    margin-bottom: 20px;
  }
  .product-inverter .news .news__text {
    margin-bottom: 30px;
  }
  .product-inverter .news .arrow {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  .product-inverter .news .arrow img {
    width: 7px;
  }
  .product-inverter .news .arrow .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .product-inverter .news .arrow .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .product-inverter .news .news__viewall {
    margin-top: 50px;
  }
  .product-inverter .news .news__viewall a {
    color: #08649c;
  }
  .product-inverter .news .news__viewall a:hover {
    text-decoration: none;
  }
  .product-inverter .news .news__viewall a img {
    width: 16px;
    margin-left: 20px;
  }
  .product-inverter .product-highlight {
    border-top: 2px solid #808080;
  }
  .product-inverter .products-seen {
    border-top: 1px solid #808080;
    margin-top: 40px;
  }
  .product-inverter .products-seen .img-item-product {
    width: 80%;
  }
  .product-inverter .title-products-seen {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #btn-viewmorde {
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
  }
}
.img-icon-left {
  width: 50px;
  height: 42px;
  float: right;
}
.img-icon-right {
  width: 50px;
  height: 42px;
  float: left;
}
.support-title {
  margin-top: 10px;
  font-weight: 500;
}
.see-more-document {
  margin-top: 80px;
  margin-bottom: 80px;
  color: #00f;
  font-weight: bold;
}
.name-see-more-document {
  color: #30bcee;
}
@media (min-width: 992px) {
  .items-support {
    margin-top: 60px;
  }
  .img-support {
    width: 190px;
    height: 270px;
  }
  .img-icon-left {
    width: 50px;
    height: 42px;
    float: right;
  }
  .img-icon-right {
    width: 50px;
    height: 42px;
    float: left;
  }
  .item-support {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#home-slider {
  margin-bottom: 40px;
}
#home-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: relative;
  bottom: 0px;
}
#home-slider .slick-dots li {
  margin: 0 0.25rem;
}
#home-slider .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #000;
  border-radius: 100%;
  text-indent: -9999px;
}
#home-slider .slick-dots li.slick-active button {
  border: none;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0;
}
#home-slider .slider__item {
  height: 530px;
  position: relative;
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
#home-slider .slider__item .slider__description {
  position: absolute;
  width: 50%;
  max-width: 357px;
  top: 29%;
}
#home-slider .slider__detail {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
#home-slider .slider__detail p {
  margin-bottom: 0px;
}
#home-slider .btn-outline-light:hover {
  background: none;
}
#home-slider .see-more {
  border-radius: 20px;
  padding: 5px 20px;
}
@media (min-width: 992px) {
  #home-slider .slider__item {
    background-size: 100% 100%;
  }
}
.arrow {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 15px;
}
.arrow img {
  width: 7px;
}
.arrow .arrow__left {
  width: 7px;
  padding: 5px 11px;
  border: 1px solid #000;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.arrow .arrow__right {
  width: 7px;
  padding: 5px 11px;
  border: 1px solid #000;
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (min-width: 320px) {
  .news {
    padding-top: 30px;
  }
  .news h2 {
    line-height: 28px;
    margin-bottom: 20px;
  }
  .news .news__banner {
    position: relative;
    margin-bottom: 30px;
  }
  .news .news__banner .label {
    width: 122px;
    position: absolute;
    background-size: 100% 100%;
    padding-bottom: 25px;
    padding-left: 10px;
    left: 15px;
    top: 0;
    margin-bottom: 20px;
  }
  .news .news__text {
    margin-bottom: 30px;
  }
  .news .news__viewall {
    margin-top: 50px;
  }
  .news .news__viewall a {
    color: #08649c;
  }
  .news .news__viewall a:hover {
    text-decoration: none;
  }
  .news .news__viewall a img {
    width: 16px;
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .news {
    padding-top: 90px;
  }
  .news h2 {
    line-height: 28px;
    margin-bottom: 47px;
  }
  .news .news__banner {
    position: relative;
    margin-bottom: 0px;
  }
}
.video {
  padding-top: 60px;
  padding-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.video #home-video-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2rem 0;
  list-style-type: none;
  position: relative;
  bottom: 0px;
}
.video #home-video-slider .slick-dots li {
  margin: 0 0.25rem;
}
.video #home-video-slider .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 100%;
  text-indent: -9999px;
}
.video #home-video-slider .slick-dots li.slick-active button {
  background-color: #fff;
}
.video #home-video-slider .video__item {
  padding: 0 15px;
}
.video #home-video-slider .video__item .video__img {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.video #home-video-slider .video__item .video__img img {
  height: 38%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.video #home-video-slider .video__item .video__content {
  padding-top: 40px;
}
@media (min-width: 992px) {
  .video #home-video-slider .video__item {
    padding: 0 15px;
  }
  .video #home-video-slider .video__item .video__img {
    width: 100%;
    height: 277px;
  }
}
.product-tab {
  margin-bottom: 100px;
}
.product-tab ul.nav {
  padding-bottom: 39px;
}
.product-tab .btn-product-tab {
  padding: 0px 10px 20px;
}
.product-tab .btn-product-tab a {
  position: relative;
  padding: 0 0 10px 0;
}
.product-tab .btn-product-tab a:hover:after {
  border-bottom: 2px solid #2dbdee;
  content: '';
  position: absolute;
  right: 15%;
  width: 70%;
  bottom: 0;
}
.product-tab .btn-product-tab .active:after {
  border-bottom: 2px solid #2dbdee;
  content: '';
  position: absolute;
  right: 15%;
  width: 70%;
  bottom: 0;
}
.product-tab .col--product-left {
  padding-bottom: 20px;
  height: 360px;
}
.product-tab .col--product-left a {
  padding: 20px 43px 15px;
}
.product-tab .col--product-left a:hover {
  text-decoration: none;
}
.product-tab .col--product-left a:hover p {
  color: #2fbcee;
}
.product-tab .col--product-left a img {
  width: 100%;
  object-fit: contain;
  max-width: 330px;
  margin: 0 auto;
}
.product-tab .product-right {
  margin-bottom: 20px;
  height: 180px;
}
.product-tab .product-right a {
  padding-top: 18px;
}
.product-tab .product-right a:hover {
  text-decoration: none;
}
.product-tab .product-right a:hover p {
  color: #2fbcee;
}
.product-tab .product-right a img {
  object-fit: contain;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .product-tab .col--product-left {
    height: 430px;
  }
}
@media (min-width: 992px) {
  .product-tab ul.nav {
    padding-bottom: 39px;
  }
  .product-tab .btn-product-tab {
    padding: 0px 30px;
  }
  .product-tab .btn-product-tab a {
    position: relative;
    padding: 0 0 20px 0;
  }
  .product-tab .btn-product-tab a:hover:after {
    border-bottom: 2px solid #2dbdee;
    content: '';
    position: absolute;
    right: 15%;
    width: 70%;
    bottom: 0;
  }
  .product-tab .btn-product-tab .active:after {
    border-bottom: 2px solid #2dbdee;
    content: '';
    position: absolute;
    right: 15%;
    width: 70%;
    bottom: 0;
  }
  .product-tab .col--product-left {
    padding-bottom: 20px;
    height: 460px;
  }
  .product-tab .col--product-left a {
    padding: 0 43px 0;
  }
  .product-tab .col--product-left a:hover {
    text-decoration: none;
  }
  .product-tab .col--product-left a:hover p {
    color: #2fbcee;
  }
  .product-tab .col--product-left a img {
    width: 100%;
    object-fit: contain;
  }
  .product-tab .product-right {
    margin-bottom: 20px;
    height: 210px;
  }
  .product-tab .product-right a {
    padding-top: 18px;
  }
  .product-tab .product-right a:hover {
    text-decoration: none;
  }
  .product-tab .product-right a:hover p {
    color: #2fbcee;
  }
  .product-tab .product-right a img {
    object-fit: contain;
    padding: 0 30px;
  }
}
.section__title {
  margin-bottom: 2rem;
}
.portfolio {
  margin-bottom: 30px;
}
.portfolio .portfolio__item {
  margin-bottom: 20px;
}
.portfolio .portfolio__item img {
  border-radius: 20px;
}
.portfolio .portfolio__item p {
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .video .slick-list {
    padding: 0 350px !important;
  }
}
.img-news {
  width: 100%;
  height: 483px;
}
.menu-sub-news {
  text-align: center;
  background-color: #fff;
  position: relative;
  width: 100%;
  max-width: 831px;
  left: 50%;
  transform: translateX(-50%);
}
.menu-sub-news-title {
  white-space: nowrap;
  margin-bottom: 0;
  padding: 15px;
}
.menu-sub-news-title.active {
  border-bottom: 2px solid #30bcee;
}
.news-header {
  margin-top: 46px;
  margin-bottom: 46px;
}
.img-header {
  width: 100%;
  height: 100px;
}
.title-news {
  font-weight: bold;
  font-size: 12px;
}
.type-news {
  font-size: 12px;
}
.item-news-header {
  margin-bottom: 15px;
}
.news-event {
  background-color: #f7f8fa;
}
.title-news-event {
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 19px;
}
.name-news-event {
  margin: 18px 0 9px 0;
  height: 34px;
  overflow: hidden;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.short-description-news {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}
.items-news-event {
  background-color: #fff;
  margin-bottom: 30px;
}
.see-all {
  color: #08649c;
}
.see-all img {
  width: 6px;
  margin-left: 10px;
}
.news__slides .news__content {
  width: 65%;
  height: 40%;
  left: 30px;
  bottom: 20px;
}
.ecool-news + footer .subscribe {
  background-color: #fff;
}
.news__link .arrow-icon {
  width: 12px;
  display: inline;
  margin-left: 10px;
}
.slide-header-news {
  width: 520px;
  height: 330px;
}
@media (min-width: 992px) {
  .menu-sub-news {
    text-align: center;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 831px;
    left: 50%;
    transform: translateX(-50%);
  }
  .news-event .row-news-event {
    margin-left: -27px;
    margin-right: -27px;
  }
  .news-event .row-news-event .col-12 {
    padding-left: 27px;
    padding-right: 27px;
  }
}
.img-news {
  width: 100%;
  height: 483px;
}
.menu-sub-news-title {
  white-space: nowrap;
  margin-bottom: 0;
  padding: 15px;
}
.menu-sub-news-title.active {
  border-bottom: 2px solid #30bcee;
}
.news-header {
  margin-top: 46px;
  margin-bottom: 46px;
}
.img-header {
  width: 100%;
  height: 100px;
}
.title-news {
  font-weight: bold;
  font-size: 12px;
}
.type-news {
  font-size: 12px;
}
.item-news-header {
  margin-bottom: 15px;
}
.title-news-event {
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 19px;
}
.name-news-event {
  margin: 18px 0 9px 0;
  height: 34px;
  overflow: hidden;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.short-description-news {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}
.items-news-event {
  background-color: #fff;
  margin-bottom: 30px;
}
.see-all {
  color: #08649c;
}
.see-all img {
  width: 6px;
  margin-left: 10px;
}
.news__slides .news__content {
  width: 65%;
  height: 40%;
  left: 30px;
  bottom: 20px;
}
.ecool-news + footer .subscribe {
  background-color: #fff;
}
.news__link .arrow-icon {
  width: 12px;
  display: inline;
  margin-left: 10px;
}
@media (min-width: 992px) {
  .items-advisory {
    background-color: #f7f8fa;
  }
}
.sale-header {
  margin-top: 65px;
  margin-bottom: 35px;
}
.img-sale {
  width: 467px;
  height: 288px;
}
.sale-header-title {
  font-weight: bold;
}
.img-sale-item {
  width: 237px;
  height: 146px;
}
.name-item-sale {
  font-weight: bold;
}
.sale-item {
  border: 1px solid #f7f8fa;
  margin-bottom: 30px;
}
.see-more-sale {
  border: 1px solid #f7f8fa;
  border-radius: 20px;
  padding: 10px;
  background: #f7f8fa;
  color: #034c79;
}
.see-more {
  margin-top: 20px;
  margin-bottom: 40px;
}
.sale-header-title {
  margin-top: 50px;
}
.des-sale-header {
  margin-top: 40px;
}
.see-more-sale-border {
  border: 1px solid #f7f8fa;
  padding: 5px;
  background-color: #f7f8fa;
}
.sale-item {
  margin-top: 20px;
}
.ecool-sale .see-all {
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 25px;
}
.ecool-video .video-header {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.ecool-video .video-header-title {
  margin-top: 20px;
  font-weight: bold;
}
.ecool-video .arrow {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.ecool-video .video-items .item-video {
  margin-bottom: 30px;
}
.ecool-video .video-items .item-video h4 {
  margin-bottom: 20px;
  margin-top: 0;
  height: 34px;
  line-height: 17px;
  text-overflow: hidden;
}
.ecool-video .img-item-video {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .ecool-video .video-header {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .ecool-video .img-video {
    width: 545px;
    height: 308px;
  }
  .ecool-video .video-header-title {
    margin-top: 45px;
    font-weight: bold;
  }
  .ecool-video .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.4;
  }
  .ecool-video .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    opacity: 0.4;
  }
  .ecool-video .arrow {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  .ecool-video .video-items-title {
    font-weight: bold;
    margin-bottom: 50px;
  }
  .ecool-video .video-items {
    margin-bottom: 50px;
  }
  .ecool-video .img-item-video {
    margin-bottom: 20px;
  }
  .ecool-video .item-video {
    border: 1px solid #f7f8fa;
  }
}
