    .slick-init .item{
       display: none;
    }
    .slick-init .item.slick-slide,
    .slick-init .item:first-child{
       display: block;
    }

    html.openmenu{
        overflow: hidden;
        position: relative;
    }
    body{
        font-size: 14px;
        line-height: 23px;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        background: #fff;
    }
    #vnt-wrapper{
        width: 100%;
    }
    #vnt-container{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        overflow: hidden;
    }
    .wrapper{
        max-width: 1190px;
        margin: 0 auto;
        padding: 0 10px;
    }
    a{
        color: #333333;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }
    a:hover{
        color: #497939;
    }
    a:focus,
    a:active{
        outline: none;
        text-decoration: none;
    }

/*************************==== Header ====*************************/
    #vnt-header{
        padding: 5px 0;
    }
    .vnt-header .main-header{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .vnt-header .main-header .logo{
        width: 232px;
    }
    .vnt-header .main-header .tools_top{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-content: center;
        justify-content: flex-end;
    }
    .vnt-header .main-header .tools_top .hotLine_top{
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        padding-right: 12px;
        position: relative;
    }
    .vnt-header .main-header .tools_top .hotLine_top:after{
        content: '';
        width: 1px;
        height: 13px;
        background: #dadbdc;
        position: absolute;
        top: 44%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .vnt-header .main-header .tools_top .hotLine_top strong{
        font-size: 16px;
        line-height: 20px;
        color: #497939;
    }
    .vnt-header .main-header .tools_top .logIn a ,.vnt-header .main-header .tools_top .signUp a{
        padding: 0 12px;
        position: relative;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        position: relative;
        display: block;
    }
    .vnt-header .main-header .tools_top .logIn a:after ,.vnt-header .main-header .tools_top .signUp a:after{
        content: '';
        width: 1px;
        height: 13px;
        background: #dadbdc;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .vnt-header .main-header .tools_top .social_top{
        padding: 0 10px;
        position: relative;
        top: -5px;
    }
    .vnt-header .main-header .tools_top .social_top:after{
        content: '';
        width: 1px;
        height: 13px;
        background: #dadbdc;
        position: absolute;
        top: 44%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .vnt-header .main-header .tools_top .social_top ul:after{
        content: '';
        display: block;
        clear: both;
    }
    .vnt-header .main-header .tools_top .social_top ul li{
        float: left;
    }
    .vnt-header .main-header .tools_top .social_top ul li a{
        font-size: 16px;
        line-height: 27px;
        color: #333;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid transparent;
        text-align: center;
        position: relative;
    }
    .vnt-header .main-header .tools_top .social_top ul li a i{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .vnt-header .main-header .tools_top .social_top ul li a:hover{
        color: #578348;
        border-color: #578348;
    }
    .vnt-header .main-header .tools_top .cartTop a{
        position: relative;
        top: -3px;
    }
    .vnt-header .main-header .tools_top .cartTop a span{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: #497939;
        font-size: 10px;
        position: relative;
        top: -9px;
        right: 8px;
        border-radius: 100%;
        color: #fff;
        text-align: center;
        line-height: 18px;
    }


    /********************************************************/
    .main_menu {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, .7);
        min-height: 40px;
        z-index: 20;
    }
    .main_menu .vnt_menu{

    }
    .main_menu .vnt_menu > ul:after{
        content: '';
        display: block;
        clear: both;
    }
    .main_menu .vnt_menu > ul > li{
        float: left;
        position: relative;
    }
    .main_menu .vnt_menu > ul > li > a{
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        position: relative;
        padding: 10px 18px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .main_menu .vnt_menu > ul > li:hover > a,.main_menu .vnt_menu > ul > li.current > a{
        color: #fff;
        background: rgba(255, 255, 255, .2);
    }
    .main_menu .vnt_menu > ul > li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 270px;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 15px;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);
    }
    .main_menu .vnt_menu > ul > li:hover > ul{
        visibility: visible;
        opacity: 1;
        z-index: 100;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .main_menu .vnt_menu > ul > li > ul > li{
        position: relative;
    }
    .main_menu .vnt_menu > ul > li > ul > li.has_sub > a:after{
        content: '\f0da';
        font-family: fontawesome;
        font-size: 12px;
        color: #a8a8a8;
        position: absolute;
        top: 0;
        right: 15px;
        line-height: 40px;
    }
    .main_menu .vnt_menu > ul > li > ul > li > a{
        display: block;
        padding: 10px 15px 10px 25px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        text-transform: uppercase;
    }
    .main_menu .vnt_menu > ul > li > ul > li > a:before{
        content: '';
        position: absolute;
        left: 25px;
        bottom: 0;
        right: 15px;
        height: 1px;
        background: #dedfdb;
    }
    .main_menu .vnt_menu > ul > li > ul > li:hover > a{
        color: #07944a;
        font-weight: 700;
    }
    .main_menu .vnt_menu > ul > li > ul > li:last-child > a:before{
        content: none;
    }

    .main_menu .vnt_menu > ul > li > ul > li > ul{
        position: absolute;
        top: 0;
        left: 101%;
        right: 0;
        width: 270px;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
        transform: translateX(50px);
    }
    .main_menu .vnt_menu > ul > li > ul > li:hover > ul{
        visibility: visible;
        opacity: 1;
        z-index: 100;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .main_menu .vnt_menu > ul > li > ul > li > ul > li > a{
        display: block;
        padding: 10px 15px 10px 25px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        font-weight: 500;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        position: relative;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
    }
    .main_menu .vnt_menu > ul > li > ul > li > ul > li:hover > a{
        color: #07944a;
    }
    .main_menu .vnt_menu > ul > li > ul > li > ul > li:last-child > a:before{
        content: none;
    }

    /*****************************************************************/

    .mega_menu{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        z-index: 20;
        padding: 30px 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
    .main_menu .vnt_menu > ul > li.megaM{
        position: static;
    }
    .main_menu .vnt_menu > ul > li:hover > .mega_menu{
        opacity: 1;
        visibility: visible;
    }
    .main_menu .vnt_menu > ul > li:hover > .mega_menu .box_trademark{

    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark .title{
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        padding: 9px 22px;
        margin-bottom: 10px;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark .title a{
        color: #fff;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark .title.tra_one{
        background: #07944a;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark .title.tra_two{
        background: #88b23d;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark .title.tra_three{
        background: #000000;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark .title.tra_four{
        background: #1c1c1a;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark ul li a{
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        padding: 2px 22px;
        position: relative;
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark ul li:hover a{
        color: #333;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark ul li a:after{
        content: '\f1db';
        font-family: fontawesome;
        font-size: 9px;
        color: #999999;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 28px;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark ul li a:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 100%;
        border-bottom: solid 1px #000;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .box_trademark ul li:hover a:before{
        right: 0;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .gird_trademark{
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .other_trademark{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .other_trademark strong{
        font-size: 18px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 600;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .other_trademark > ul > li {
        display: inline-block;
        padding: 0 20px;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .other_trademark > ul > li > a{
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .main_menu .vnt_menu > ul > li > .mega_menu .other_trademark > ul > li > a:hover{
        color: #578348;
    }
    /*****************************************************************/
    #maskmenu {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 100%;
        opacity: 0;
        visibility: hidden;
        background: rgba(0,0,0,0.5);
        z-index: 10;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #maskmenu.show{
        opacity: 1;
        visibility: visible;
        bottom: 0;
    }
    /************************** search ***************************/
    .searchTop{
        position: relative;
    }
    .searchTop .icon{
        cursor: pointer;
        position: relative;
        padding: 0 20px;
    }
    .searchTop .icon i{
        font-size: 20px;
        line-height: 70px;
        color: #333333;
    }
    .searchTop .searchform {
        position: absolute;
        background: #2C4921;
        padding: 3px;
        min-width: 250px;
        right: 0;
        bottom: -35px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(100%) scale(1.5);
        -ms-transform: translateY(100%) scale(1.5);
        -o-transform: translateY(100%) scale(1.5);
        transform: translateY(100%) scale(1.5);
        z-index: 11;
    }
    .searchTop.active .searchform {
        opacity: 1;
        visibility: initial;
        -webkit-transform: translateY(0%) scale(1);
        -ms-transform: translateY(0%) scale(1);
        -o-transform: translateY(0%) scale(1);
        transform: translateY(0%) scale(1);
    }
    .searchTop .searchform input {
        width: 100%;
        border: none;
        padding: 5px 15px;
        font-style: italic;
    }
    .searchTop .searchform button {
        position: absolute;
        right: 5px;
        top: 50%;
        background: none;
        border: none;
        font-size: 20px;
        line-height: 28px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color:#dddddd;
    }

/*==BEGIN: FOOTER==*/
    #vnt-footer{

    }
    #vnt-footer .form_footer{
        background: #000000;
        padding: 15px 0;
        overflow: hidden;
    }
    #vnt-footer .form_footer .wrapper{
        position: relative;
        padding-left: 110px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #vnt-footer .form_footer .wrapper:after{
        content: '\f003';
        font-family: fontAwesome;
        font-size: 70px;
        color: #497939;
        position: absolute;
        left: 20px;
        bottom: -8px;
        -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    #vnt-footer .form_footer .text{
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        width: 50%;
        padding-right: 10px;
    }
    #vnt-footer .form_footer form{
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }
    #vnt-footer .form_footer form button{
        width: 100px;
        height: 40px;
        border: 0;
        background: #497939;
        color: #fff;
        font-weight: 700;
        line-height: 40px;
        font-size: 14px;
        margin-left: 10px;
        text-transform: uppercase;
        text-align: center;
    }
    #vnt-footer .form_footer form input{
        height: 40px;
        border-radius: 0;
        font-style: italic;
        padding: 0 10px;
        width: -webkit-calc(100% - 110px);
        width: -o-calc(100% - 110px);
        width: calc(100% - 110px);
    }


    #vnt-footer .main-footer{
        padding: 45px 0 40px;
        background: #f7f7f7;
    }
    #vnt-footer .main-footer .box_list .title{
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
        color: #333;
        margin-bottom: 15px;
    }
    #vnt-footer .main-footer .box_list ul li a{
        font-size: 14px;
        line-height: 20px;
        color: #333;
        display: block;
        padding: 0 8px 0 0;
        margin-bottom: 8px;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
    #vnt-footer .main-footer .box_list ul li a:hover{
        color: #497939;
        padding: 0 0 0 8px;
    }


    #vnt-footer .bottom-footer{
        border-top: 1px solid #e4e4e4;
        padding: 25px 0 25px;
    }
    #vnt-footer .bottom-footer .fl{
        padding-left: 260px;
        position: relative;
    }
    #vnt-footer .bottom-footer .fl .logo_footer{
        position: absolute;
        left: 0;
        top: 50%;
        width: 220px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #vnt-footer .bottom-footer .fl .inFo_company{
        margin-bottom: 10px;
    }
    #vnt-footer .bottom-footer .fl .inFo_company .name{
        font-size: 18px;
        line-height: 25px;
        font-weight: 700;
        color: #333;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    #vnt-footer .bottom-footer .fl .inFo_company .before{
        padding-left: 22px;
        line-height: 20px;
        font-size: 13px;
        color: #333;
        position: relative;
        margin-bottom: 5px;
    }
    #vnt-footer .bottom-footer .fl .inFo_company .before:before{
        font-family: fontawesome;
        font-size: 11px;
        color: #bbbbbb;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 20px;
    }

    .copyright{
        font-size: 13px;
        line-height: 20px;
        color: #888888;
        font-style: italic;
    }
    .copyright > div{
        display: inline-block;
    }
    .copyright > div:first-child{
        margin-right: 10px;
    }
    .copyright span{
        font-style: normal;
        color: #497939;
        font-weight: 700;
    }
    .copyright p{
        padding: 0;
    }
    .copyright a{
        font-size: 13px;
        line-height: 20px;
        color: #888;
        font-style: italic;
    }
    .copyright strong a{
        font-style: normal;
        color: #497939;
        font-weight: 700;
    }

    .bocongthuong{
        margin-bottom: 10px;
    }

    .social-ft{
        float: left;
        margin-top: 5px;
    }
    .social-ft ul{
        margin: 0 -2px;
    }
    .social-ft ul li{
        display: inline-block;
        padding: 0 2px;
    }
    .social-ft ul li a{
        height: 36px;
        width: 36px;
        display: block;
        position: relative;
        color: #fff;
        font-size: 18px;
        border-radius: 50%;
        transition: all 0.4s;
        border: 2px solid transparent;
    }
   .social-ft ul li a i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tools_footer{
       display: none;
    }
    .tools_footer ul:after{
        content: '';
        display: block;
        clear: both;
    }
    .tools_footer ul li {
        float: left;
    }
    .tools_footer ul li:first-child{
        margin-right: 5px;
    }
    .tools_footer ul li a{
        text-align: center;
        display: block;
        font-size: 13px;
        color: #fff;
        font-weight: 400;
        line-height: 22px;
        padding: 7px 5px;
        background: #000000;
        border-radius: 3px 3px 0 0;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .tools_footer ul li a span{
        padding-left: 22px;
        position: relative;
    }
    .tools_footer ul li a span:before{
        font-family: fontawesome;
        font-size: 20px;
        line-height: 18px;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
    }

    /*==END: FOOTER==*/


/*====BEGIN: MENU MOBILE====*/
    .menu_mobile{
        position: relative;
        overflow: hidden;
        display: none;
    }
    .menu_mobile.showmenu{
        position: static;
    }
    .menu_mobile .icon_menu{
        position: relative;
        cursor: pointer;
        color: #333333;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding-top: 25px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .menu_mobile .icon_menu .style_icon{
        display: block;
        position: absolute;
        top: 24px;
        left: 0;
        right: 0;
        height: 4px;
        background: transparent;
        -webkit-transition: background 0s .3s;
        -moz-transition: background 0s .3s;
        transition: background 0s .3s;
    }
    .menu_mobile .icon_menu .style_icon:before,
    .menu_mobile .icon_menu .style_icon:after{
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        background: #497939;
        content: "";
        -webkit-transition-duration: .3s, .3s;
        -moz-transition-duration: .3s, .3s;
        transition-duration: .3s, .3s;
        -webkit-transition-delay: .3s, 0s;
        -moz-transition-delay: .3s, 0s;
        transition-delay: .3s, 0s;
    }
    .menu_mobile .icon_menu .style_icon:before{
        top: -18px;
        -webkit-transition-property: top, -webkit-transform;
        -moz-transition-property: top, -moz-transform;
        transition-property: top, transform;
    }
    .menu_mobile .icon_menu .style_icon:after{
        bottom: 10px;
        -webkit-transition-property: bottom, -webkit-transform;
        -moz-transition-property: bottom, -moz-transform;
        transition-property: bottom, transform;
    }
    .menu_mobile.showmenu .icon_menu .style_icon{
        background: transparent;
    }
    .menu_mobile.showmenu .icon_menu .style_icon:before{
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, .3s;
        -moz-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
    }
    .menu_mobile.showmenu .icon_menu .style_icon:after{
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, .3s;
        -moz-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
    }
    .menu_mobile .divmm {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        visibility: hidden;
        text-align: left;
        z-index: 99999;
    }
    .menu_mobile .divmm .mmContent {
        width: 100%;
        height: 100%;
        max-width: 560px;
        padding-left: 60px;
        margin: 0 0 0 auto;
        position: relative;
        top: 0;
        right: 0;
        z-index: 101;
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        -ms-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
    }
    .menu_mobile .divmm .mmContent .mmSearch {
        padding: 20px;
        position: relative;
        z-index: 1;
    }
    .menu_mobile .divmm .mmContent .mmSearch form{
        position: relative;
    }
    .menu_mobile .divmm .mmContent .mmSearch .form-control {
        height: 50px;
        border-radius: 0;
    }
    .menu_mobile .divmm .mmContent .mmSearch button {
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #333;
        border: 0;
        background: 0;
        outline: 0;
        font-size: 20px;
    }
    .menu_mobile .divmm .mmContent .mmSearch .input-group button.btn span {
        color: #ffffff;
    }
    .menu_mobile .divmm .mmContent .mmTitle{
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        padding: 13px 10px 13px 10px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background: #9a0000;
    }
    .menu_mobile .divmm .mmContent .mmTitle:after{
        position: absolute;
        font-family: "fontawesome";
        top: 10px;
        left: 15px;
        width: 35px;
        height: 26px;
        border-right: 1px solid #4dcbd5;
        color: #ffffff;
        font-weight: normal;
        font-size: 30px;
        line-height: 26px;
    }
    .menu_mobile .divmm .mmContent .mmMenu {
        position: relative;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        background-color: #ffffff;
        color: #333333;
        pointer-events: auto;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul {
        width: 100%;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul{

    }
    .menu_mobile .divmm .mmContent .mmMenu ul li {
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        position: relative;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li a {
        display: block;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        padding: 13px 10px 13px 20px;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li a:before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 3px;
        background: transparent;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub{
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub,
    .menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > a{
        background: #f2f2f2;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li.current > .m-sub,
    .menu_mobile .divmm .mmContent .mmMenu > ul > li.current > a{
        background: #000;
        color: #ffffff;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li.current > a .homeM{
        position: absolute;
        right: 0;
        top: 50%;
        width: 50px;
        height: 50px;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        border-left: 1px solid #1d4a88;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li.current > a .homeM i{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub > a{
        background: #f5f5f5;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li.current > .m-sub > a{
        background: #00a650;
        color: #ffffff;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li > .m-sub > a:after,
    .menu_mobile .divmm .mmContent .mmMenu > ul > li > a:after {
        position: absolute;
        font-family: fontawesome;
        content: '';
        top: 15px;
        left: 0;
        font-size: 10px;
        line-height: 20px;
        color: #999999;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li > .m-sub > a:after, .menu_mobile .divmm .mmContent .mmMenu > ul > li > a:after {
        position: absolute;
        font-family: fontawesome;
        content: '';
        top: 15px;
        left: 0;
        font-size: 10px;
        line-height: 20px;
        color: #999999;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul {
        width: auto;
        background: #f2f2f2;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li ul{
        background: #fff;
        padding-left: 20px;
        padding-right: 45px;
        position: relative;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li ul:after{
        position: absolute;
        right: 44px;
        top: 0;
        content: '';
        width: 1px;
        bottom: 0;
        background: #e5e5e5;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li ul li{
        border-top: 0;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li ul li a:before{
        content: none;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li ul li a:after{
        content: none;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li{
        border-bottom: none;
        border-top: 1px solid rgba(0,0,0,0.1);
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li a {
        padding: 13px 10px 13px 35px;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        position: relative;
        font-weight: normal;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    /* .menu_mobile .divmm .mmContent .mmMenu ul li ul li a:after{
        position: absolute;
        font-family: fontawesome;
        content: '\f0da';
        top: 12px;
        left: 0;
        color: #999999;
    } */
    .menu_mobile .divmm .mmContent .mmMenu ul ul ul li a:after{
        content: '\f105';
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li ul li a:hover{
        color:#0084ea;
        background-color: transparent;

    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .m-sub{
        position: relative;
        padding-right: 45px;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        cursor: pointer;
        border-left: 1px solid rgba(0,0,0,0.1);
        font-weight: 400;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu:before{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        content: '+';
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu.show:before{
        content: '-';
        font-size: 30px;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul ul li .button-submenu:before{
        content: '\f105';
    }
    .menu_mobile .divmm .mmContent .mmMenu ul ul li .button-submenu.show:before{
        content: '\f107';
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu.show{
        background-position: -45px 50%;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu:after{
        position: absolute;
        top: 50%;
        left: 50%;
        font-family:"fontawesome";
        font-size: 20px;
        line-height: 36px;
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > .m-sub > .button-submenu:after{
        color:#0066b3;
    }
    .menu_mobile .divmm .mmContent .mmMenu ul li .button-submenu.show:after {
    }
    .menu_mobile .divmm .mmContent .formsearch{
        height: 60px;
        background: #104872;
        padding: 10px 0;
        pointer-events: auto;
        position: absolute;
        top: 0;
        left: 62px;
        right: 0;
        z-index: 1;
    }
    .menu_mobile .divmm .mmContent .formsearch .form-control{
        background: none;
        border: none;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
    }
    .menu_mobile .divmm .mmContent .formsearch button.btn{
        width: 50px;
        height: 34px;
        background: none;
        border: none;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        color: #ffffff;
        position: relative;
    }
    .menu_mobile .divmm .mmContent .formsearch button.btn:after{
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: "fontawesome";
        content: '\f002';
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        font-size: 25px;
    }
    .menu_mobile .divmm .mmContent .close-mmenu {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 69px;
        color: #ffffff;
        -webkit-background-size: 30px 30px;
        background-size: 30px 30px;
        cursor: pointer;
        -webkit-transition: all 0.8s ease 0.2s;
        -moz-transition: all 0.8s ease 0.2s;
        -o-transition: all 0.8s ease 0.2s;
        transition: all 0.8s ease 0.2s;
        opacity: 0;
        pointer-events: auto;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }
    /*.menu_mobile .divmm .mmContent .close-mmenu:after{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*font-size: 30px;*/
    /*line-height: 40px;*/
    /*-webkit-transform:translate(-50%,-50%);*/
    /*-moz-transform:translate(-50%,-50%);*/
    /*-o-transform:translate(-50%,-50%);*/
    /*-ms-transform:translate(-50%,-50%);*/
    /*transform:translate(-50%,-50%);*/
    /*color: #333333;*/
    /*font-family: "fontawesome";*/
    /*content: "\f00d";*/
    /*}*/
    .menu_mobile .divmm.show {
        visibility: visible;
    }
    .menu_mobile .divmm.show .mmContent {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    .menu_mobile .divmm.show .mmContent .close-mmenu {
        left: -2px;
        top: 0;
        opacity: 1;
    }
    .menu_mobile .divmm .divmmbg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    .menu_mobile .divmm.show .divmmbg {
        opacity: 1;
        visibility: visible;
    }
    .menu_mobile .logo_langues{
        background: #f2f2f2;
        position: relative;
    }
    .menu_mobile .logo_langues .ll_logo{
        float: left;
        width: 330px;
        width: -webkit-calc(100% - 150px);
        width: -moz-calc(100% - 150px);
        width: calc(100% - 150px);
        height: 50px;
        padding: 10px 20px;
    }
    .menu_mobile .logo_langues .ll_logo img{
        position: relative;
        top: 50%;
        max-height: 30px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .menu_mobile .logo_langues .ll_langues{
        width: 150px;
        float: right;
    }
    .menu_mobile .logo_langues .ll_langues .ll_ttile{
        background: #9a0000;
        padding: 15px 30px 15px 15px;
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
    }
    .menu_mobile .logo_langues .ll_langues .ll_ttile:before{
        position: absolute;
        font-family: FontAwesome;
        content: '\f107';
        text-align: center;
        top: 50%;
        right: 0;
        width: 30px;
        font-size: 20px;
        line-height: 30px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .menu_mobile .logo_langues .ll_langues .ll_ttile .text{
        float: left;
        max-width: 85px;
        padding-right: 10px;
        color: rgba(255, 255, 255, 1);
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    .menu_mobile .logo_langues .ll_langues .ll_ttile img{
        max-width: 18px;
        max-height: 13px;
        margin-top: 4px;
    }
    .menu_mobile .logo_langues .ll_langues .ll_content{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 1px;
        background: #f2f2f2;
        z-index: 1;
        display: none;
    }
    .menu_mobile .logo_langues .ll_langues.active .ll_content{
        display: block;
    }
    .menu_mobile .logo_langues .ll_langues .ll_content .list_lang a{
        display: block;
        border-bottom: 1px solid #ffffff;
        padding: 10px 20px;
    }
    .menu_mobile .logo_langues .ll_langues .ll_content .list_lang a img{
        max-width: 18px;
        max-height: 13px;
        margin-right: 5px;
    }
    .menu_mobile .search-hotline{
        background: #efefef;
        padding: 20px;
    }
    .menu_mobile .search-hotline .sh_hotline{
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 10px;
        color: #ffffff;
        padding-left: 40px;
        position: relative;
        font-style: italic;
    }
    .menu_mobile .search-hotline .sh_hotline:before{
        position: absolute;
        top: 0;
        left: 0;
        font-family: FontAwesome;
        font-size: 30px;
        line-height: 42px;
        content: '\f232';
        font-style: normal;
        color: rgba(255, 255, 255, 0.5);
    }
    .menu_mobile .search-hotline .sh_hotline a{
        color: #ffffff;
    }
    .menu_mobile .search-hotline .sh_search .form-control{
        height: 50px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #d9d9d9;
        background: #ffffff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .menu_mobile .search-hotline .sh_search button.btn{
        margin-left: 0 !important;
        height: 50px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #d9d9d9;
        background: #ffffff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: 0;
        font-size: 20px;
        line-height: 30px;
        color: #666666;
    }
    .menu_mobile .search-hotline .sh_search button.btn span{
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }
    .menu_mobile .search-hotline .sh_search button.btn .fa{
        color: #333333;
        padding-left: 5px;
    }

    /******them*******/

    .mmcol{
        padding: 15px 25px;
        background: #fff;
    }
    .mmcol .sub{
        margin: 0 -5px;
    }
    .mmcol .sub .fl{
        width: 50%;
        padding: 0 5px;
    }
    .mmcol .sub .fr{
        width: 50%;
        padding: 0 5px;
    }
    .mmcol .sub a{
        display: block;
        height: 45px;
        line-height: 45px;
        color: #333;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        background: #f2f2f2;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .mmcol .sub a:hover{
        background: #497939;
        color: #fff;
    }
    .fb_messenger{
        padding: 5px 10px;
        width: 250px;
        position: fixed;z-index:9999999;right:10px; bottom:0;
        background-color: #3b5998;
        height: 35px;
        border-radius: 5px 5px 0 0;

    }
    .fb_messenger.active{
        bottom: 300px;
    }
    .fb_messenger i {
        color: #fff;
        margin-right: 10px;
    }
    .fb_messenger a{
        color: #fff;
    }
    .popupThongbao .title {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        background: #ffd600;
        padding: 14px 10px;
        text-transform: uppercase;
    }
    .popupThongbao .content{
        padding: 25px 15px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }
    .popupThongbao .content p{
        padding: 0;
    }
    .popupThongbao .content p.t1{
        font-size: 18px;
        line-height: 26px;
        color:#f00;
        font-weight: bold;
    }
    .mypopup .fancybox-close{
        width:37px;
        height:37px;
        background: #ffffff;
        border-radius: 100%;
    }
    .mypopup .fancybox-close:before {
        content: "\f00d";
        font-family: fontAwesome;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        font-size: 22px;
        line-height: 22px;
    }
    /*====BEGIN: MENU MOBILE====*/
    
    @media screen and (max-width: 1100px){
        .main_menu .vnt_menu > ul > li > a{
            padding: 10px 8px;
        }
    }

    @media screen and (max-width: 1024px){
        .menu_mobile{
            display: block;
            margin-right: 8px;
        }

        /***********************************/
        .vnt-header .main-header .tools_top .hotLine_top,.logIn,.signUp,.vnt-header .main-header .tools_top .social_top,.searchTop{
            display: none;
        }
        .cartTop{
            margin-top: 12px;
            margin-right: 20px;
        }
        .main_menu{
            display: none;
        }
        .vnt-header .main-header .logo{
            width: 147px;
        }
        /********************************/
        #vnt-footer .main-footer{
            display: none;
        }
        #vnt-footer .form_footer{
            padding: 20px 0 25px;
        }
        #vnt-footer .form_footer .wrapper{
            padding-left: 85px;
            display: -webkit-block;
            display: -moz-block;
            display: -ms-block;
            display: -o-block;
            display: block;
        }
        #vnt-footer .form_footer .text{
            margin-bottom: 10px;
            width: 100%;
        }
        #vnt-footer .form_footer form{
            width: 100%;
        }
        #vnt-footer .form_footer form input{
            width: -webkit-calc(100% - 100px);
            width: -o-calc(100% - 100px);
            width: calc(100% - 100px);
        }
        #vnt-footer .form_footer form button{
            margin-left: 0;
        }
        #vnt-footer .form_footer .wrapper:after{
            font-size: 51px;
            left: 15px;
            bottom: initial;
            top: 10px;
        }
        #vnt-footer .bottom-footer .fl{
            width: 100%;
            float: none;
            padding-left: 0;
            margin-bottom: 25px;
        }
        #vnt-footer .bottom-footer .fl .logo_footer{
            position: static;
            margin-bottom: 25px;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
        .copyright > div{
            display: block;
        }
        .copyright > div:first-child{
            margin-right: 0;
        }
        #vnt-footer .bottom-footer .fr{
            width: 100%;
            float: none;
        }
        .bocongthuong{
            float: right;
        }
        #vnt-footer .bottom-footer{
            padding: 40px 0 20px;
        }
        .tools_footer{
            display: block;
        }

    }

    @media screen and (max-width: 379px){
        .bocongthuong{
            float: none;
            margin-bottom: 5px;
        }
        .tools_footer ul li a{
            font-size: 12px;
            padding: 7px 5px;
        }
        .tools_footer ul li a span{
            padding-left: 15px;
        }
        .tools_footer ul li a span:before{
            font-size: 16px;
            left: -2px;
        }
        #vnt-footer .form_footer .wrapper{
            padding-left: 10px;
        }
        #vnt-footer .form_footer .wrapper:after{
            content: none;
        }
    }

    /*=================BEGIN MENU TAB==================*/
.menuTab{
    margin-bottom: 35px;
    border-bottom: solid 1px rgba(0,0,0,0.05);
}
.menuTab ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    justify-content: center;
}
.menuTab ul li a {
    display: block;
    background: #ffffff;
    padding: 14px 30px;
    text-transform: uppercase;
}
.menuTab ul li a:hover, .menuTab ul li.current a {
    background: #0baf4d;
    color:#ffffff;
}
.menuTab .mc-menu{
    font-size: 13px;
    line-height: 22px;
    border:solid 1px #d9d9d9;
    position: relative;
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.menuTab .mc-menu:before{
    content: "\f0d7";
    font-family: fontAwesome;
    position: absolute;
    right:15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*=================END MENU TAB====================*/
/*================BEGIN : SELECT J=================*/
.select-j {
    margin-bottom: 25px;
    position: relative;
}
.select-j .title {
    padding: 9px 20px;
    position: relative;
    border: solid 1px #e94725;
    color: #e94725;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.select-j .title:before{
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 26px;
}
.select-j .title:hover {
    cursor: pointer;
}
.select-j .content {
    position: absolute;
    left: 0;
    top: 104%;
    background: #fff;
    border: solid 1px #d0d0d0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 1;
    display: none;
}
.select-j .content ul li a {
    padding: 8px 15px;
    border-bottom: solid 1px #e2e2e2;
    display: block;
}
/*================BEGIN: SELECT J==================*/
/*================BEGIN: SELECT P=================*/
.div_auto_complete{
    position: relative;
}
.div_auto_complete.active{
    z-index: 10;
}
.div_auto_complete:after{
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: fontawesome;
    content: '\f0d7';
    font-size: 16px;
    line-height: 25px;
    z-index: 10;
    pointer-events: none;
    color: #333333;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.div_auto_complete .dropdown_select{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow: auto;
    background: #ffffff;
    margin-top: 1px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.div_auto_complete.active .dropdown_select{
    opacity: 1;
    visibility: visible;
}
.div_auto_complete .dropdown_select ul li{
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.div_auto_complete .dropdown_select ul li.closed{
    display: none;
}
.div_auto_complete .dropdown_select ul li li{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;
}
.div_auto_complete .dropdown_select ul li span.text{
    display: block;
    padding: 10px 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.div_auto_complete .dropdown_select ul li li span.text:before{
    content: '|-- ';
}
.div_auto_complete .dropdown_select ul li:hover > span.text{
    background: #f7f7f7;
}
.div_auto_complete .form-control{
    padding-right: 25px;
}
/*================BEGIN: SELECT P==================*/
/*================BEGIN PAGINATION=================*/
.pagination ul li span.pagecur, .pagination ul li a{
    border:none;
    background: #ffffff;
    border:solid 1px #c3c3c3;
}
.pagination ul li a:hover, .pagination ul li span.pagecur{
    background: #0baf4d;
    border-color:#0baf4d;
    color:#ffffff;
}
/*================END PAGINATION===================*/