div.list-choose ul {
	overflow:hidden;
	padding:5px 5px 0 5px;
}
div.list-choose ul li {
	float:left;
	width:20%;
	height:20px;
	box-sizing: border-box;
	margin-bottom:5px;
}
div.list-choose ul li span::before {
	font-family: "Fontawesome";
	content: "";
	width: 20px;
	height: 20px;
	background: #ffffff;
	border: 1px solid #b9b9b9;
	color: #8bb949;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	box-sizing: border-box;
	position:absolute;
	left:0;
}
div.list-choose span {
	position:relative;
	padding-left:30px;
	cursor:pointer;
	height:20px;
	display:inline-block;
}
div.list-choose ul li.checked span::after {
	content: "\f00c";
	font-family: "Fontawesome";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	color: #8bb949;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	box-sizing: border-box;
}


.tblRemote {   }
.tblRemote th {

}
.tblRemote tbody tr td {
	border: 1px solid #ddd !important;
}

.box-tblPro img {
	max-height: 30px;
}


.boxTab { padding:10px;}
.boxTab .tab-title { text-align:center; margin-bottom:10px; font-size:16px ; text-transform:uppercase; color:#B84120; position:relative;}
.boxTab .tab-title .add_more { position:absolute ; right:0; top:0px; font-size:12px; text-transform:none; background:url(../images/add.gif) no-repeat; padding-left:20px; line-height:18px; display:inline-block;}


.with-nav-tabs .panel-heading {
	padding-bottom: 0;
}

.panel-heading  .nav-tabs {
	border-bottom: none;
	margin-bottom: -2px;
}

.div-picture .btn{
	min-width: 200px;
	height: 40px;
	font-weight: bold;
	color:#b5e61d;
	background: #333333;
	border:none;
	margin-top: 20px;
	margin-right: 10px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.div-picture .btn:hover{
	background: #8bb949;
	color:#333333;
}

.div-picture .btn-browse {

	color:#b5e61d;
	background: #333333;

}



.list_pic_old{}

.list_pic_old .pic_item{
	float:left;
	margin : 5px 10px 5px 0px;
	position:relative;
	border:#ccc solid 1px;
	padding:2px;
	width: 150px;
}
.list_pic_old .pic_item .img {
	min-height: 100px;
	position: relative;
	overflow: hidden;
	margin-bottom: 4px;
}
.list_pic_old .pic_item  .img img {
	width: 100% !important;
	height: auto !important;

}

.list_pic_old .pic_item .remove {
	width:18px;
	height:18px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	text-decoration: none;
	z-index: 2;
}
.list_pic_old .pic_item .remove::before {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f00d";
	left:0;
	color: #FF0000;
	font-size: 18px;
}

.list_pic_old .pic_item {
	background: #fafafa;
}
.list_pic_old .pic_item .name {
	padding: 30px 10px 0px ;
	font-weight: bold;
}
.list_pic_old .pic_item .name a { color: #dd0000 ; margin-left:5px;
	position: absolute;
	right: 5px;
	top: 5px;
}
.list_pic_old .pic_item .fileInfo {
	padding: 5px 10px;
}


.div-browse { position:relative;}
.list_pic_up{
	border:1px solid #c8c8c8;
	background:#ffffff;
	color:#333333;
	font-size:12px;
	min-height:22px;
	margin-right:80px;
}
.list_pic_up .pic_up{
	position:relative;
	border-top:1px solid #b9c6d5;
	padding:2px 10px;
}
.list_pic_up .pic_up:first-child { border-top:none;}
.list_pic_up .pic_up .remove{
	background:url(../images/remove.png) no-repeat right top;
	width:18px;
	height:18px;
	display:inline-block;
}

.list_pic_old .pic_item::after {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 30px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #cccccc;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #333333;
	content: ''attr(data_count)'';
}

