html.openmenu{
    overflow: hidden;
    position: relative;
    pointer-events: none;
    height: 100%;
}
/*fixed IOS*/
html.openmenu body{
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
/*======================================================================*/
/*================================ICON==================================*/
/*======================================================================*/
.menu_mobile{
    position: relative;
    overflow: hidden;
}
.menu_mobile.showmenu{
    position: static;
}
.menu_mobile .icon_menu{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 18px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}
.menu_mobile .icon_menu .style_icon:before,
.menu_mobile .icon_menu .style_icon:after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background: #333333;
    content: "";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu_mobile .icon_menu .style_icon:before{
    top: 0;
}
.menu_mobile .icon_menu .style_icon:after {
    top: 6px;
}
/*======================================================================*/
/*=============================CONTENT==================================*/
/*======================================================================*/
.menu_mobile .divmm {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    text-align: left;
    z-index: 50;
}
.menu_mobile .divmm .mmContent {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    margin: 0 0 0 auto;
    position: relative;
    top: 0;
    right: 0;
    z-index: 60;
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    max-width: 420px;
    pointer-events: none;
}
.menu_mobile .divmm .mmContent.no-over{
    overflow-y:hidden;
}
.menu_mobile .divmm .divmmbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 51;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    pointer-events: auto;
}
.menu_mobile .divmm.show .divmmbg {
    opacity: 1;
    visibility: visible;
}
/*======================================================================*/
/*======================MENU LOAI 1=====================================*/
/*======================================================================*/
.mmMenu {
    background: #ffffff;
    pointer-events: auto;
}
.mmMenu>ul>li{
    border-bottom:solid 1px rgba(0,0,0,0.2);
    overflow: hidden;
}
.mmMenu>ul>li:last-child{
    border-bottom:none;
}
.mmMenu>ul>li>a,
.mmMenu>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    text-transform: uppercase;
}
.mmMenu>ul>li:hover>a,
.mmMenu>ul>li:hover>.m-sub>a{
    background: #be9555;
    color:#ffffff;
}
.mmMenu>ul>li>.m-sub{
    position: relative;
}
.mmMenu>ul>li>.m-sub>.button-submenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: solid 1px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 26px;
    line-height: 34px;
    color:#666666;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.mmMenu>ul>li>.m-sub>.button-submenu:before{
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu>ul>li>.m-sub>.button-submenu.show:before{
    content: "\f107";
}
.mmMenu>ul>li:hover>.m-sub>.button-submenu{
    color:#ffffff;
}
/*=====LEVEL 2=====*/
.mmMenu>ul>li>ul{
    position: relative;
    z-index: 1;
    background: #fafafa;
}
.mmMenu>ul>li>ul>li>a,
.mmMenu>ul>li>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    padding-left: 40px;
    position: relative;
}
.mmMenu>ul>li>ul>li>a:before,
.mmMenu>ul>li>ul>li>.m-sub>a:before{
    content: "\f0da";
    font-family: fontAwesome;
    position: absolute;
    left:15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#bd9352;
}
.mmMenu>ul>li>ul>li:hover>a,
.mmMenu>ul>li>ul>li:hover>.m-sub>a {
    color: #be9555;
}
.mmMenu>ul>li>ul>li{
    border-top:solid 1px #e5e5e5;
}
.mmMenu>ul>li>ul>li>.m-sub{
    position: relative;
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-left: solid 1px #e5e5e5;
    cursor: pointer;
    font-size: 26px;
    line-height: 34px;
    color:#666666;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu:before{
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu>ul>li>ul>li>.m-sub>.button-submenu.show:before{
    content: "\f107";
}
/*====LEVEL 3====*/
.mmMenu>ul>li>ul>li>ul{
    position: relative;
    z-index: 1;
    background: #e5e5e5;
}
.mmMenu>ul>li>ul>li>ul>li>a,
.mmMenu>ul>li>ul>li>ul>li>.m-sub>a {
    display: block;
    padding: 14px 15px;
    padding-left: 35px;
}
.mmMenu>ul>li>ul>li>ul>li:hover>a,
.mmMenu>ul>li>ul>li>ul>li:hover>.m-sub>a {
    color:#da251c;
}
/*======================================================================*/
/*======================MENU LOAI 2=====================================*/
/*======================================================================*/
.menu_mobile.menu_2 .mmMenu ul.mmMain li ul{
    display: none;
}
.mmMenu .m-ab {
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 61;
    overflow-y: auto;
    -webkit-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -moz-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -o-transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    transition: opacity 0.5s ease , visibility 0.5s ease , transform 0.5s ease;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    border-left: 1px solid rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
}
.mmMenu .m-ab.active{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.mmMenu .m-ab .m-ab-title a{
    display: block;
    padding: 14px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.mmMenu .m-ab .m-ab-title {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.mmMenu .m-ab .m-ab-arrow a{
    display: block;
    padding: 14px 20px;
    text-transform: none;
    background: #000000;
    color:#ffffff;
    text-transform: uppercase;
}
.mmMenu .m-ab li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.mmMenu .m-ab li a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding: 13px 20px;
    padding-left: 40px;
    position: relative;
    font-weight: normal;
}
.mmMenu .m-ab li a:before{
    position: absolute;
    font-family: fontawesome;
    content: '\f0da';
    left:20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mmMenu .m-ab li:hover a{
    color:#ff0000;
}
.mmMenu .m-ab li .m-sub{
    position: relative;
}
.mmMenu .m-ab li .button-submenu{
    position: absolute;
    right:0;
    top: 0;
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.mmMenu .m-ab li .button-submenu:before{
    content: "\f105";
    font-family: fontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mmMenu .m-ab ul ul{
    display: none;
}
/*======================================================================*/
/*===========================MENU SHOW LEFT=============================*/
/*======================================================================*/
.menu_mobile.show_left .divmm .mmContent {
    padding-left: 0;
    padding-right: 50px;
    margin: 0 auto 0 0;
    direction: rtl;
    -webkit-transform: translate(-100%, 0%);
    -moz-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
}
.menu_mobile.show_left .divmm .mmContent .mmMenu .m-ab {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    border-right: 1px solid rgba(0,0,0,0.1);
    left: 0;
    right: 50px;
}
.menu_mobile.show_left .divmm.show .mmContent .close-mmenu,
.menu_mobile.show_left .divmm .mmContent .close-mmenu{
    left: auto;
    right: 0;
}
.menu_mobile.show_left .divmm .mmContent .mmMenu .m-ab.active{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.menu_mobile .divmm.show {
    visibility: visible;
}
.menu_mobile .divmm.show .mmContent {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
.menu_mobile .divmm.show .mmContent .close-mmenu {
    left: 0;
    top: 0;
    opacity: 1;
}
/*======================================================================*/
/*===========================CLOSE MENU=================================*/
/*======================================================================*/
.menu_mobile .divmm .mmContent .close-mmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    color: #333333;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    opacity: 0;
    pointer-events: auto;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
}
.menu_mobile .divmm .mmContent .close-mmenu i{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*======================================================================*/
/*===========================ADDON======================================*/
/*======================================================================*/
.mnTools{
    padding: 15px 20px;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
.mmSearch {
    position: relative;
    margin-bottom: 15px;
}
.mmSearch input {
    height: 40px;
    width: 100%;
    border: none;
    padding-left: 20px;
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    background: #f1f1f1;
}
.mmSearch button {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    top: 50%;
    font-size: 20px;
    line-height: 28px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#333333;
}
.mnLanguage ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mnLanguage ul li{
    margin: 0 10px;
}