.boxSMS {}
.boxSMS .divSMS-left { width:45%}
.boxSMS .divSMS-right { width:50%}
	.sms-text { font-size:14px; font-weight:bold; margin-bottom:10px; }
	.cuphap { 
		background-color: #fef08e;
    height: 40px; 
    width: 300px;	
		text-align:center;
		font-size:20px;
		font-weight:bold;
		line-height:40px;
		color:#c70e00;
	}
	.cuphap span { color:#333333;}
	.cuphap_mid { padding:5px; text-align:center; font-weight:bold;}
	
	.list-price { margin-bottom:10px; font-weight:bold; font-size:13px;}


.chooise_napthe {padding:15px 0;}
.btn_recharge {border:1px solid #CCC;
	width:200px;}
.btn_recharge h2 {background:#E05000;
	color:#fff;
	padding:5px 0;}
.btn_recharge a {color:#fff;
	}
.btn_recharge a:hover {text-decoration:none;}
.mess_result {
	text-align:center;
	padding:10px;	
}
.tbl_result { background:#ccc;}
.tbl_result th { background:#E05000; color: #fff; padding:3px 5px;}
.tbl_result td { background:#fff; padding:3px 5px;}

.naptien_back { padding:10px; text-align:center;  }

#PPDGFrame .panel {top:100px !important;}