.fieldValInit {
	COLOR: #8c8c8c;
	FONT-STYLE: italic
}

.meta {
	BACKGROUND-COLOR: #009900
}

.register .stronglevel {
	PADDING-LEFT: 10px;
	FONT-SIZE: 10px;
	FLOAT: left;
	line-height: 15px;
	/*HEIGHT: 26px*/
}

.register .stronglevel .meter {
	BORDER-RIGHT: #636363 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #636363 1px solid;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px;
	BORDER-LEFT: #636363 1px solid;
	WIDTH: 17px;
	LINE-HEIGHT: 0;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #636363 1px solid;
	HEIGHT: 5px
}

.zToolTip {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 12px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND: url(../images/bg_arrow.gif) no-repeat left top;
	PADDING-BOTTOM: 0px;
	WIDTH: 210px;
	LINE-HEIGHT: 12px;
	PADDING-TOP: 0px;
	POSITION: relative;
	TOP: -8px;
	HEIGHT: 20px
}

.tr_error {
	MARGIN-TOP: 0px;
	BACKGROUND: url(../images/bg_errorFill.jpg) repeat-x left center
}

.td_icon_error {
	FONT-WEIGHT: bold;
	BACKGROUND: url(../images/iconWarn.gif) no-repeat 15px 50%;
	COLOR: #ff0000;
	HEIGHT: 20px
}

.sp_input {
	FLOAT: left;
}

.sp_error {
	FONT-WEIGHT: 600;
	FONT-SIZE: 11px;
	COLOR: #ff0000;
}

.sp_note {
	FONT-WEIGHT: 100;
	FONT-SIZE: 13px;
	Z-INDEX: 1000;
	WIDTH: 250px;
	COLOR: #333333;
	POSITION: absolute;
	BACKGROUND-COLOR: #fbfff8;
	TEXT-ALIGN: justify;
	padding: 0 5px 5px 5px;
}

.td_note {
	PADDING-LEFT: 20px;
	BACKGROUND: url(../images/bg_arrow.gif) no-repeat left center;
}