html {
	SCROLLBAR-BASE-COLOR: #E5E5D8;
	SCROLLBAR-ARROW-COLOR: #000000;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E5E5D8;
	height: 100%;
	color:#333333;
	line-height:18px;
}

body,td {
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

div,  label,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,pre,form,input,textarea {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
}
p {margin:2px 0px;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}

ins {	text-decoration: none;}
del {	text-decoration: line-through;}

a {  text-decoration: none ; color:#21759B }
a:active,a:link {	color: #21759B;} 
a:focus{ color:#d54e21}
a:hover {  color:#FF9000; text-decoration: underline }
img { border : 0px; }
.clearfix:after
	{
	content: '[DO NOT LEAVE IT IS NOT REAL]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
.clearfix{
	display: inline;
	position: relative;
	}
/*\*/
.clearfix	{
	display: block;
}
.clear { clear:both}
.hidden,
.js .closed .inside,
.js .hide-if-js,
.no-js .hide-if-no-js {
	display: none;
}

/*FORM BUTTON*/
input[type="text"], textarea {
	-moz-box-sizing:border-box;
	border:1px solid #DCDCDC;
	padding:2px;
}

.textfield{
	-moz-box-sizing:border-box;
	border:1px solid #DCDCDC;
	padding:2px;
}

textarea, input{
	-x-system-font:none;
	font-family:"Verdana";
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;

	margin:1px;

}

textarea{

	border: 1px solid #DCDCDC;
	scrollbar-base-color:#DCDCDC;
	scrollbar-arrow-color:#000000; 
	overflow:auto;
}
select {
	border:1px solid #DCDCDC;
	-x-system-font:none;
	font-family:"Verdana";
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:19px;
	margin:1px;
	padding:1px;
}
.button {
	font-family: "Verdana";
	text-decoration: none;
	font-size: 11px;
	font-weight:bold;
	line-height: 16px;
	padding: 2px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

a.button {
	padding: 4px 8px;
}

.button, .button-secondary {
	background:#F2F2F2 url(../images/white-grad.png) repeat-x scroll left top;
}
.button {
	border-color:#DCDCDC;
	color:#464646;
	text-shadow:0 1px 0 #FFFFFF;
}

.button[disabled], .button:disabled {
	background-color: #999;
}

.button:hover{
	border-color: #535353;
}

.button:hover {
	color: #d54e21;
}

.button1{
	cursor:pointer;
	border:inset 1px #B84120;
	background:#FFFFFF;
	color:#B84120;
	font-weight:bold;
	font-size:14px;
}
.button2{
	background: #8bb949;
	float:left;
	margin-left:5px;
}
.button2 div {	float:left;}
.button2 .image {
	background:transparent url(../images/button2_image.png) no-repeat scroll 7px center;
}


.button2 a, .button2 span,
.button2 a:link {
	color:#fff;
	cursor:pointer;
	display:block;
	float:left;
	font-size:14px;
	height:32px;
	line-height:32px;
	padding:0 10px 0 36px;
}
 

/* 2 column liquid layout */
#vnt-wrap {
	height: auto;
	min-height: 100%;
	width: 100%;
}
/*HEADER*/
#vnt-header {
	height:40px;
	background:#b84120;
	border-bottom:1px #000 solid;
	color:#ffffff;
	margin-bottom:10px;
}
	.box-admin {
		float:left;
		width:220px;
	}
	.info-user{
		text-align:center;	
		padding:5px;
	}	
	.info-user span { font-size:12px; color:#ffd200; }
	.info-user a { color:#ffd200;text-decoration:none; font-weight:bold;}
	.info-user a:hover { color:#FF9000;}
	
	.box-help {
		float:left;
		width:480px;
		background:#e5e5d8;
		margin-top:5px;
		height:35px;
		border-top:1px #000 solid;
		border-left:1px #000 solid;
		border-right:1px #000 solid;
	}
	.info-help { text-align:center; padding-top:10px;}
	.info-help a {
		padding:3px 5px;		
		color:#ffd200;
		background:#ec8500;
		font-weight:bold;
		border:1px #000000 solid;
		text-decoration:none;
	} 
	.info-help a:hover {
		color:#FF9000;
	}
	.box-header-r {
		float:left;	
		height:40px;
		border-bottom:1px #000 solid;
	}
#screen-mess {
	margin:10px 0px;
	clear:both;	
	border-top:1px dashed #808080;
	border-bottom:1px dashed #808080;
	padding:2px 5px;
}	
.key-press { float:left; width:210px;   padding-left:10px; padding-top:2px; line-height:18px;}	
.key-press input,label  { vertical-align:middle}
.iframe-mess {
	padding-top:15px;
	margin-left:720px;
	padding-right:10px;		
	height:25px;
} 
.iframe-mess iframe {   }
.font_marquee{
		color:#ffffff;
		font-weight:bold;
	}
	.font_marquee a:link ,
	.font_marquee a:visited ,
	.font_marquee a:active  {
		color:#FFD200;
		font-weight:bold;
	}
	.font_marquee a:hover{
		color:#FE9500;
		font-weight:bold;
		text-decoration:none;
	}
/*CONENT*/
#vnt-content {
	clear:both;
	margin-left:230px;
}
	
	/*----- MENU -----*/
	#vnt-menu
	{
		clear:left;
		float:left;
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin-left:-220px;
		margin-right:10px;
		position:relative;
		width:205px;	
	}
	.menu-control {
		text-align:center;	
	}
	#admin-menu {padding-top:10px; list-style:none;}
	#admin-menu li.menu-item {
		padding-bottom:7px;
	}
	#admin-menu .menu-top {}
	#admin-menu .menu-title {
		background:url(../images/title_bg.gif) repeat-x;
		border:1px solid #B84120;
		color:#FFFFFF;				
		line-height:14px;
		padding-bottom:1px;
		padding-left:5px;
		padding-right:1px;
		padding-top:1px;
		float:left;
		width:175px;
		
	}
	#admin-menu .menu-title h2 {
		font-size:10px;
		font-weight:bold;	
		color:#FFFFFF; text-decoration:none;	
		text-transform:uppercase;
		cursor:pointer;
	}
	#admin-menu .menu-toggle {
		clear:right;
		cursor:default;
		float:right;
		height:18px;
		width:18px;
	}
	#admin-menu .menu-toggle img { cursor:pointer;}
	#admin-menu .sub-menu {  
		clear:both;
		list-style:none; 
		border:3px solid #B84120;
		margin-top:2px;
		display:block;
	}
	#admin-menu .sub-menu ul {list-style:none; padding:2px 5px;}
	#admin-menu .sub-menu li {
			background:url(../images/icon_menu.gif) 0px 9px no-repeat;
			margin:0px;
			padding:1px;
			padding-left:10px;
			font-size:10px;
			font-weight:bold;			
	}
	#admin-menu .sub-menu li a {
		display:block;
		line-height:20px;
		color:#B84120;
		text-decoration:none;
	}
	#admin-menu .sub-menu li a:hover{background:#E1E1DA url("../images/icon_menu_act.gif") no-repeat 160px 6px; }
	#admin-menu .sub-menu li.current {background:#E1E1DA url(../images/icon_menu_act.gif) 0px 8px no-repeat ; }
	#admin-menu .sub-menu li.current a { color:#ff0000; }
	.box-menu {
			border:3px solid #B84120;
			padding: 19px 10px 18px;
	}
	/*------- MAIN ----------*/
	#vnt-main {
		float:left;
		width:100%;
	}	
	.wrap-main{
		margin-right:15px;
	}
	
	#box_main {

    }
	.vnt-title {
		border:3px solid #B84120;
		padding:2px 10px;	
		background:#FFFFFF;
		margin-bottom:2px;
	}
	.vnt-title h2 {
		float:left;
		color:#B84120;
		font-weight:normal;
		font-size:12px;
		margin-right:10px;
		line-height:36px;	
	}
	.vnt-title .vnt-lang {
		float:right;
		text-align:right;
		padding-top:10px;
	}
	.vnt-main {
		min-height:350px;	
	}
	.vnt-toolbar {
		border-top:#B84120 3px solid;
		border-left:#B84120 3px solid;
		border-right:#B84120 3px solid;
		background:#FFFFFF;
		padding:2px;
		text-align:right;
		height:30px;
	}
	 
	.box_menu_content{
		border-top:#B84120 3px solid;
		border-left:#B84120 3px solid;
		border-right:#B84120 3px solid;
		background:#FFFFFF;
		padding:2px;
	}
	.box_content{
		background:#FFFFFF;
		border:#B84120 3px solid;
		padding:5px;		
	}
	.tableborder{
		border:2px solid #C9C9B5;
		padding:5px;
	}
	.border_tbl{
		border:3px solid #B84120;
		padding:2px;
		background:#FFFFFF;
	}
	.bg_tbl{
		border:2px solid #C9C9B5;
		background:#EFEFE9;
	}
	.bg_tab{
		background:#EFEFE9;
	}
	

	
	
/*FOOTER*/
#vnt-footer {
	background:#B84120;
	padding:5px 10px;
	color:#FFF;
}
#vnt-footer a {color:#FE9500}
#vnt-footer a:hover {color:#FFD200; text-decoration:none;} 
	.chose-skin {
		float:left;
		width:195px;
		text-align:right;
	}
	.copyright {
		margin-left:220px;
		text-align:center;
		padding:5px 0px;

	}
 
 	
	.font_err,	.font_err a:link ,	.font_err a:visited ,	.font_err a:active {
		color:#FF0000;
		text-decoration: none;		
	}
	.font_err a:hover {
		color:#FF0000;
		text-decoration:underline;
	}