 

<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="myform">
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="tableborder">
  <tr>
    <td width="15%" align="left" class="row1"><strong>Tổng số tin:</strong> &nbsp;</td>
    <td width="85%" align="left" class="row0"><b class="font_err">{data.totals}</b></td>
  </tr>

  <tr>
    <td align="left" class="row1"><strong>Tin của văn phòng:</strong> </td>
    <td align="left" class="row0"><input type="text" size="70" id="p_name" name="p_name" value="{data.p_name}" autocomplete="off" onmouseup="getLoad_VP();" onkeyup="getLoad_VP();"  ><input type="hidden" id="p_id" name="p_id" value="{data.p_id}"></td>
  </tr>
    <tr>
    <td align="left" class="row1"><strong>Danh mục: </strong></td>
    <td align="left" class="row0">{data.list_cat}</td>
  </tr>
  <tr>
  <td align="left"><strong>T&#236;m ki&#7871;m  :</strong> &nbsp;&nbsp;&nbsp;  </td>
  <td align="left">{data.list_search} &nbsp;&nbsp;T&#7915; kh&#243;a : &nbsp;
    <input name="keyword"  value="{data.keyword}"type="text" size="20">
    <input name="btnSearch" type="submit" value=" Search " class="button"></td>
  </tr>
  </table>
</form>

<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<script type="text/javascript">
function getLoad_VP() {
	document.getElementById('p_id').value = 0; 
	var options = {
		script:"modules/product_ad/ajax/ajax_list.php?json=true&do=product&",
		varname:"input",
		json:true,
		shownoresults:false,
		maxresults:6,
		callback: function (obj) { document.getElementById('p_id').value = obj.id; }
	};
	var as_json = new bsn.AutoSuggest('p_name', options);
} 
</script> 
<br />
<!-- END: manage -->