
<!-- BEGIN: edit -->
<script type="text/javascript">
	/* <![CDATA[*/
	
	var count_pic = 3 ;
	var num = {data.num_pic}
	function create_pic_pro() 
	{
		
		var newDivStr='';
		newDivStr="<table><tr><td>STT:</td><td><input name='pic_order[]' id='pic_order' type='text' size='50'  value='' ></td></tr><tr><td>Pic :</td><td><input name='pic_detail[]' type='file' id='pic_detail' size='40' > (*.jpg,*.gif) Only !</td></tr><tr><td>&nbsp;</td><td style='color:#FF0000'> Kích thước: [1800 x 1278] hoặc [690 x 490] hoặc [400 x 284]</td></tr></table>";
		
		var newdiv = document.createElement('div');
		newdiv.innerHTML = newDivStr;

	
		// Create Elements
		var pic_tr = document.createElement("tr");
		var pic_td1 = document.createElement("td");
		var pic_td2 = document.createElement("td");		
		var pic_pro_count = document.createTextNode("Picture " + (count_pic+1) +" :");
		count_pic++;		
		num++;
		// Elements - TD/TR
		pic_tr.setAttribute('id', "pic-pro-" + count_pic);
		pic_td1.setAttribute('class', "row1");
		pic_td2.setAttribute('class', "row0");
		
		// Appending
		pic_tr.appendChild(pic_td1);
		pic_tr.appendChild(pic_td2);
		pic_td1.appendChild(pic_pro_count);		
		pic_td2.appendChild(newdiv);
		document.getElementById("pic_epaper").appendChild(pic_tr);
		
		document.getElementById("num").value = parseInt(document.getElementById('num').value) +1;

	}
	function remove_pic_pro() {
		if(count_pic == 1) {
			alert("You need at least a minimum of 2 pic pros.");
		} else {
			document.getElementById("pic_epaper").removeChild(document.getElementById("pic-pro-" + count_pic));
			count_pic--;
			document.getElementById("num").value = parseInt(document.getElementById('num').value) -1;				
		}
	}
	

	/* ]]> */
</script>
<table width="80%" border="0" cellspacing="1" cellpadding="1" align="center"  bgcolor="#CCCCCC">
  <tr bgcolor="#FFFFFF">
    <td width="150" align="center" style="padding:5px;">{data.pic}</td>
    <td style="padding:5px;line-height:20px;">Serial : <strong class="font_err">{data.maso}</strong><br />
				Tên SP: <strong>{data.p_name}</strong><br />
        epaper ID : #<strong>{data.e_id}</strong>
    		</td>
  </tr>
</table>
<br />
<p align="center" ><strong>Dang sách các hình phụ cho sản phẩm này:</strong></p>
<table width="100%" border="0" cellspacing="2" cellpadding="5">
  <tr> {data.list_pic_old} </tr>
</table>

{data.err}

<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myForm"  class="validate">
  <table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">

     <tr class="row_title">
      <td colspan="2"><strong>{LANG.pic_option}</strong></td>
    </tr>
    <tbody id="pic_epaper">
    
    <!-- BEGIN: html_row -->
    <tr id="pic-pro-{row.stt}" >
     <td class="row1">Picture {row.stt} : </td>
     <td class="row0">
       <table>
       <tr>
        <td>Số thứ tự:</td>
        <td><input name="pic_order[]" id="pic_order" type="text" size="10"  value='{data.pic_order}' ></td>
       </tr>
       
       
       <tr>
        <td>Pic :</td>
        <td><input name="pic_detail[]" type="file" id="pic_detail" size="40" maxlength="200"> (*.jpg,*.gif) Only !</td>
       </tr>
       <tr><td>&nbsp;</td><td style="color:#FF0000">Kích thước: [1800 x 1278] hoặc [690 x 490] hoặc [400 x 284]</td></tr> 
      
       </table>
     </td>
 		</tr>
    
    
    <!-- END: html_row -->
    
    
    </tbody>
    
    <tr height="20">
      <td class="row1" >&nbsp; </td>
      <td  class="row0"><input type="button" value="Add more picture" onclick="create_pic_pro();" class="button" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Remove picture" onclick="remove_pic_pro();" class="button" /></td>
    </tr>
		<tr align="center">
    <td class="row1">&nbsp; </td>
			<td class="row0"><span id="message_pic"></span></td>
		</tr>
	</table>
  <br />

  <p align="center">
		    <input type="hidden" name="num" id="num" size="5" value="{data.num}" >
				<input type="hidden" name="do_submit"	 value="1" />
				<input type="submit" name="btnAdd" value="Submit" class="button">
				<input type="reset" name="Submit2" value="Reset" class="button">
  </p>
</form>
<br>
<!-- END: edit -->



<!-- BEGIN: edit_pic -->
<table width="80%" border="0" cellspacing="1" cellpadding="1" align="center"  bgcolor="#CCCCCC">
  <tr bgcolor="#FFFFFF">
    <td width="150" align="center" style="padding:5px;">{data.pic}</td>
    <td style="padding:5px;line-height:20px;">Serial : <strong class="font_err">{data.maso}</strong><br />
				Tên SP: <strong>{data.p_name}</strong><br />
        epaper ID : #<strong>{data.e_id}</strong>
    		</td>
  </tr>
</table>
<br />

{data.err}


<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myForm" >

<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">

		<tr>
        <td class="row1" width="15%">Số thứ tự : </td>
        <td class="row0"><input name="pic_order" id="pic_order" type="text" size="40" value="{data.pic_order}" /></td>
    </tr>
		 <tr>
            <td class="row1" >Hình  : </td>
            <td class="row0">{data.picture}<br /><input name="image" type="file" id="image" size="40" maxlength="250"> (*.jpg,*.gif) Only !</td>
      </tr>
      </tr>
       <tr><td class="row1">&nbsp;</td><td style="color:#FF0000" class="row0">Kích thước: [1800 x 1278] hoặc [690 x 490] hoặc [400 x 284]</td></tr> 
        <tr align="center">
        <td class="row1">&nbsp; </td>
          <td class="row0">
           <input type="submit" name="btnUpdate" value="Submit" class="button">
           <input type="reset" name="Submit" value="Reset" class="button">
         </td></tr>
      </table>    </form>


<br>
<!-- END: edit_pic -->


<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="fSearch">
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="tableborder">
  <tr>
    <td width="15%" align="left"><strong>{LANG.totals}:</strong> &nbsp;</td>
    <td width="85%" align="left"><b class="font_err">{data.totals}</b></td>
  </tr>
  <tr>
	   <td ><strong>{LANG.category} : </strong>  </td>
    <td > {data.listcat} </td>
  </tr>
  <tr>
    <td  colspan="2"><strong>{LANG.search} :</strong> {data.list_search} <strong> {LANG.keyword} :</strong>  <input name="keyword" value="{data.keyword}" size="20" type="text" /> <strong>{LANG.order}</strong> {data.list_direction}&nbsp;<input type="submit" name="btnGo" value=" Search " class="button"></td>
  </tr>
</table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->